<app-navbar-style-one></app-navbar-style-one>

<div class="ptb-100">
   
</div>
<div class="container card">
<iframe 
        width="100%" 
        frameborder="0"
        height="600px" 
        src="https://dcc.onde.go.th/iframe/data-management"
        title="description"
        allow="geolocation" ></iframe>
    
    </div>