<!-- <app-navbar-style-three></app-navbar-style-three> -->

<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area  page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2 style="color: black;">รายละเอียดข่าวสารดิจิทัล</h2>
            <ul>
                <li><a style="color: black; font-weight: bold;" routerLink="/">หน้าหลัก</a></li>
                <li><i style="color: black;" class='bx bx-chevron-right' ></i></li>
                <li>รายละเอียดกิจกรรมเครือข่ายดิจิทัล</li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="page-title-area page-title-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="page-title-item">
                    <h2>รายละเอียดกิจกรรมเครือข่าย</h2>
                    <ul>
                        <li><a routerLink="/">ข่าวสาร</a></li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>รายละเอียดกิจกรรมเครือข่าย</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="page-title-plate">
                    <ul>
                        <li><img src="assets/img/services-details/food1.png" alt="Plate"></li>
                        <li><img src="assets/img/services-details/food2.png" alt="Plate"></li>
                        <li><img src="assets/img/services-details/food3.png" alt="Plate"></li>
                        <li><img src="assets/img/services-details/food4.png" alt="Plate"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="services-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="services-details-item">
                    <div class="services-details-more">
                        <h4>อาสาสมัครดิจิทัล</h4>

                        <ul>
                            <li><a routerLink="/home-three"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >หน้าแรก <i class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a  routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">เกี่ยวกับเรา <i class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a routerLink="/volunteernews">กิจกรรมเครือข่าย <i class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a  routerLink="/digitalnews" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">ข่าวสารการประยุกต์ใช้ดิจิทัล <i class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a routerLink="/knowledge">สื่อการเรียนรู้ <i class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <!-- <li><a routerLink="/knowledge">สสส. <i class='bx bxs-right-arrow bx-xs'></i></a></li> -->
                            <!-- <li><a routerLink="/services-details">Conference Convention <i class='bx bxs-right-arrow bx-xs'></i></a></li> -->
                        </ul>
                    </div>

                    <!-- <div class="services-details-order">
                        <h3>Order Your Food Now</h3>
                        <span>09:00am - 12:00am</span>
                        <img src="assets/img/services-details/order.png" alt="Service">
                        <div class="offer-off">
                            <span>20%</span>
                            <span>OFF</span>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-9 ">
                <div   *ngIf="loading==true"  class="services-details-item">
                    <div class="services-details-fresh">
                        <h2 style="font-size: 30px;" >{{dataDigital.name}}</h2>
                        <!-- <p>{{newsAsd[0].description}}</p> -->
                        <img  [src]="'https://tdv.netpracharat.com:5000/uploads/PR/'+dataDigital.picture" alt="DigitalUpdate">
                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p> -->
                        <!-- <div [innerHTML] = "description"> -->
                        <p  [innerHTML] = "description" style="font-size: 20px;"></p>
                              <!-- </div> -->
                        <!-- <p class="services-details-p">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p> -->
                        <!-- <a class="cmn-btn" routerLink="/contact">Reservation</a> -->
                        <!-- <div class="blog-details-nav1 pt-101">
                            <ul>
                                <li><a routerLink="/blog-details/:id">ย้อนกลับ</a></li>
                                <li><a routerLink="/blog-details/:id">ถัดไป</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- 
<section class="download-area-two pt-100 pb-70">
    <div class="download-shape">
        <img src="assets/img/home-one/reservation-shape.png" alt="Download">
        <img src="assets/img/about/download2.png" alt="Download">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="download-item">
                    <h2>Download Our Mobile App That Make You More Easy to Order</h2>
                    <ul>
                        <li><a href="#"><img src="assets/img/home-two/google-store.png" alt="Google"></a></li>
                        <li><a href="#"><img src="assets/img/about/app.png" alt="App"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="download-img">
                    <img src="assets/img/home-one/subscribe-main.png" alt="Download">
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- <section   class="services-area ptb-100"> -->
  
<!-- </section> -->


<app-footer-style-one></app-footer-style-one>