<!-- <app-navbar-style-three></app-navbar-style-three> -->

<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area  page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2 style="color: black;">รายละเอียดกิจกรรมเครือข่าย</h2>
            <ul>
                <li><a style="color: black; font-weight: bold;" routerLink="/">หน้าหลัก</a></li>
                <li><i style="color: black;" class='bx bx-chevron-right'></i></li>
                <li>รายละเอียดกิจกรรมเครือข่าย</li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="page-title-area page-title-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="page-title-item">
                    <h2>รายละเอียดกิจกรรมเครือข่าย</h2>
                    <ul>
                        <li><a routerLink="/">ข่าวสาร</a></li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>รายละเอียดกิจกรรมเครือข่าย</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="page-title-plate">
                    <ul>
                        <li><img src="assets/img/services-details/food1.png" alt="Plate"></li>
                        <li><img src="assets/img/services-details/food2.png" alt="Plate"></li>
                        <li><img src="assets/img/services-details/food3.png" alt="Plate"></li>
                        <li><img src="assets/img/services-details/food4.png" alt="Plate"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="services-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="services-details-item">
                    <div class="services-details-more">
                        <h4>อาสาสมัครดิจิทัล</h4>

                        <ul>
                            <li><a routerLink="/home-three" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">หน้าแรก <i
                                        class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a routerLink="/about" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">เกี่ยวกับเรา <i
                                        class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a routerLink="/volunteernews">กิจกรรมเครือข่าย <i
                                        class='bx bxs-right-arrow bx-xs'></i></a>
                            </li>
                            <li><a routerLink="/digitalnews" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ข่าวสารการประยุกต์ใช้ดิจิทัล <i
                                        class='bx bxs-right-arrow bx-xs'></i></a></li>
                            <li><a routerLink="/knowledge">สื่อการเรียนรู้ <i class='bx bxs-right-arrow bx-xs'></i></a>
                            </li>
                            <!-- <li><a routerLink="/services-details">Conference Convention <i class='bx bxs-right-arrow bx-xs'></i></a></li> -->
                        </ul>
                    </div>

                    <!-- <div class="services-details-order">
                        <h3>Order Your Food Now</h3>
                        <span>09:00am - 12:00am</span>
                        <img src="assets/img/services-details/order.png" alt="Service">
                        <div class="offer-off">
                            <span>20%</span>
                            <span>OFF</span>
                        </div>
                    </div> -->
                </div>
            </div>

            <div *ngIf="loading == false" class="col-lg-9">
                <div class="services-details-item">
                    <div class="services-details-fresh">
                        <h2 style="font-size: 30px;">{{dataDetails?.subjectname}}</h2>
                        <!-- <p>{{newsAsd[0].description}}</p> -->
                        <img style="width: 870px; height: auto"
                            [src]="'https://tdv.netpracharat.com:5000/uploads/subject/'+dataDetails?.subjectimage"
                            alt="Service">

                        <h4 style="font-family: Prompt;">วัตถุประสงค์</h4>
                        <p class="pt-3" style="font-size: 20px;" [innerHTML]="description"></p>

                    </div>
                </div>
            </div>

            <div *ngIf="loading == false && dataDetails?.videos.length != 0" class="about-area-two ptb-100 ">
                <!-- <div class="about-shape"><img src="assets/img/about/mascot-02.png" alt="Shape"></div> -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-img">
                                <img style="position: relative; height: 315px; width: 520px;"
                                    [src]="'https://tdv.netpracharat.com:5000/uploads/subject/'+dataDetails?.subjectimage"
                                    alt="About">
                                <img src="assets/img/home-three/about2.png" alt="About">
                                <div class="video-wrap">
                                    <a href="https://tdv.netpracharat.com:5000/uploads/vedio/{{dataDetails?.videos[0]?.video}}"
                                        class="popup-youtube">
                                        <i class="bx bx-play"></i>
                                    </a>
                                    <!-- <a  (click)="viewVideo(dataDetails.videos[0].video)" class="popup-youtube">
                                        <i class="bx bx-play"></i>
                                    </a> -->

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content">
                                <div class="section-title">
                                    <h2>วิดีโอแนะนำบทเรียน</h2>
                                    <p style="font-size: 16px; text-align: justify;">{{dataDetails?.subjectname}}</p>
                                    <p style="font-size: 16px; text-align: justify;">
                                        {{dataDetails?.subjentdetail}}</p>

                                </div>

                                <a href="https://tdv.netpracharat.com:5000/uploads/vedio/{{dataDetails?.videos[0]?.video}}"
                                    class="cmn-btn">ดูวิดีโอ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section style="background-color: white;" class="services-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>รายละเอียดหลักสูตร</h2>
            <!-- <p>รายละเอียดหลักสูตร</p> -->
            <p>{{dataDetails?.subjentdetail}}</p>
        </div>
        <div class="services-slider owl-theme owl-carousel">

            <div class="services-item">
                <a>
                    <img src="assets/pdf/pdf_2.png" alt="services-image">

                    <h3>เอกสารเกี่ยวกับหลักสูตร</h3>
                    <a
                        (click)="dataDetails?.id == 10 || dataDetails?.id == 11 || dataDetails?.id == 12 ? downloadDocument() :null ">
                        <p style="cursor: pointer; ">{{ dataDetails?.id == 10 || dataDetails?.id == 11 ||
                            dataDetails?.id == 12 ? 'ดาวน์โหลด': 'ไม่มีเอกสาร'}}</p>
                    </a>
                </a>
            </div>

            <div class="services-item">
                <a>
                    <img src="assets/pdf/category.png" alt="services-image">
                    <h3>ประเภทของหลักสูตร</h3>
                    <p>{{dataDetails?.type == "core" ? "หมวดวิชาหลัก" : "หมวดวิชาพัฒนาทักษะ" }}</p>
                </a>
            </div>


            <div class="services-item">
                <a>
                    <img src="assets/pdf/stopwatch.png" alt="services-image">
                    <h3>เวลาในการเรียน</h3>
                    <p>{{dataDetails?.hour}} นาที
                    </p>
                </a>
            </div>
            <!-- <div class="services-item">
            <a>
                <img src="assets/pdf/e-learning.png" alt="services-image">
                <img class="service-shape" src="assets/img/home-one/services-shape.png"
                    alt="services-image">
                <h3>ไปที่หลักสูตร</h3>
                <p>เข้าสู่ห้องเรียน
                </p>
            </a>
        </div> -->
        </div>

    </div>
</section>

<section [hidden]="dataVideo?.length == 0" style="background-color: white;" class="services-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>วิดีโอการเรียนรู้</h2>
        </div>
        <div class="services-slider owl-theme owl-carousel ">

            <div *ngFor="let item of dataVideo; let i = index;">
                <div *ngIf="loading == false" class="services-item">

                    <a (click)="viewVideo(item?.video, i)">
                        <img src="assets/pdf/play.png" alt="services-image">

                        <h3>วิดีโอที่ {{i+1}}.</h3>
                        <p>{{item?.chapter}}</p>
                    </a>
                </div>
            </div>

        </div>
        <!-- </div> -->


    </div>
</section>

<!-- 
<section class="download-area-two pt-100 pb-70">
    <div class="download-shape">
        <img src="assets/img/home-one/reservation-shape.png" alt="Download">
        <img src="assets/img/about/download2.png" alt="Download">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="download-item">
                    <h2>Download Our Mobile App That Make You More Easy to Order</h2>
                    <ul>
                        <li><a href="#"><img src="assets/img/home-two/google-store.png" alt="Google"></a></li>
                        <li><a href="#"><img src="assets/img/about/app.png" alt="App"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="download-img">
                    <img src="assets/img/home-one/subscribe-main.png" alt="Download">
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- <section   class="services-area ptb-100"> -->

<!-- </section> -->


<app-footer-style-one></app-footer-style-one>