$common-font: "Poppins", sans-serif;
$heading-font: "Playfair Display", serif;
$transition: 0.5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;

.page-title-img-one {
    background-image: url("../../../../../assets/img/headerASD/header_knowledge2.jpg");
    background-attachment: inherit;
}
.blog-details-nav1 {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 12px;

            a {
                display: block;
                font-weight: 500;
                font-size: $all-size;
                color: $black-color;
                border: 1px solid $black-color;
                padding: 9px 25px;
                border-radius: 50px;

                &:hover {
                    border: 1px solid $yellow-color;
                    background-color: $yellow-color;
                    color: $black-color;
                }
            }
        }
    }
}

.collection-item-new {
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #dddddd82;
    border-radius: 10px 10px 0px 0px;

    &:hover {
        .collection-top-new {
            ul {
                opacity: 1;
                bottom: 0;
            }
            .add-cart {
                right: 10px;

                a {
                    opacity: 1;
                }
            }
        }
    }
    .collection-top-new {
        position: relative;

        img {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
        }
        ul {
            margin: 0;
            padding: 0;
            background-color: $white-color;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            opacity: 0;
            padding: 4px 15px;
            border-radius: 8px 8px 0 0;
            max-width: 128px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 6px 15px 0px #dddddd40;
            transition: $transition;

            li {
                list-style-type: none;
                display: inline-block;

                i {
                    color: #ddd;
                    display: block;
                }
                .checked {
                    color: #ffc107;
                }
            }
        }
        .add-cart {
            display: inline-block;
            position: absolute;
            top: 10px;
            right: -15px;

            a {
                display: block;
                color: $black-color;
                background-color: $white-color;
                border-radius: 5px;
                padding: 4px 12px 8px;
                font-size: 13px;
                opacity: 0;

                i {
                    display: inline-block;
                    color: $yellow-color;
                    font-size: 22px;
                    position: relative;
                    top: 4px;
                    margin-right: 3px;
                }
                &:hover {
                    color: $white-color;
                    background-color: $black-color;
                }
            }
        }
    }
    .collection-bottom-new {
        padding: 15px 20px 17px;

        h3 {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 15px;
            font-family: $common-font;
        }
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                list-style-type: none;
                display: inline-block;

                &:first-child {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                &:last-child {
                    text-align: right;
                    flex: 0 0 80%;
                    max-width: 80%;
                }
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 20px;
                    color: #fe3333;
                    position: relative;
                    top: 4px;
                }
                .minus,
                .plus {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    color: $white-color;
                    background-color: #fbdb7d;
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    margin-bottom: 0;
                    vertical-align: middle;
                    transition: $transition;
                    border-radius: 10px;
                    top: 0;

                    &:hover {
                        background-color: $yellow-color;
                    }
                }
                .form-control {
                    height: 25px;
                    width: 50px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    border: 0;
                    color: $yellow-color;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: -4px;
                    margin-right: -4px;

                    &:focus {
                        box-shadow: none;
                        border: 0;
                    }
                }
            }
        }
    }
}

.services-area {
    @mixin trim($numLines: null) {
        @if $numLines != null {
            display: -webkit-box;
            -webkit-line-clamp: $numLines;
            -webkit-box-orient: vertical;
            overflow: hidden;
        } @else {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
    }
    .bar {
        @include trim(2);
    }
    .foo {
        @include trim;
    }
    background-color: #fff;
    //   background-color: #F4F4F4;

    .services-item {
        text-align: center;
        padding: 32px 20px 30px;
        border-radius: 25px;
        transition: $transition;
        position: relative;

        a {
            display: block;
        }
        &:hover {
            background-color: $yellow-color;

            .service-shape {
                opacity: 1;
                border-radius: 25px;
            }
            h3 {
                color: $white-color;
            }
            p {
                color: $white-color;
            }
        }
        img {
            margin-bottom: 20px;
            width: auto !important;
            height: 160px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .service-shape {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition;
            opacity: 0;
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 0;
        }
        h3 {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
            transition: $transition;
            color: $black-color;
            font-family: "Prompt";
        }
        p {
            margin-bottom: 0;
            transition: $transition;
            color: $gray-color;
        }
    }
    .services-slider {
        margin-bottom: -9px;

        .center {
            background-color: $yellow-color;
            border-radius: 25px;

            .service-shape {
                opacity: 1;
            }
            h3 {
                color: $white-color;
            }
            p {
                color: $white-color;
            }
        }
        .owl-prev {
            height: 40px;
            width: 40px;
            line-height: 45px !important;
            border-radius: 50% !important;
            text-align: center;
            color: $white-color !important;
            background-color: #ffe7a2 !important;
            font-size: 25px !important;
            transition: $transition;
            position: absolute;
            top: 45%;
            left: -55px;
            opacity: 0;

            &:hover {
                background-color: $yellow-color !important;
            }
        }
        .owl-next {
            height: 40px;
            width: 40px;
            line-height: 45px !important;
            border-radius: 50% !important;
            text-align: center;
            color: $white-color !important;
            background-color: #ffe7a2 !important;
            font-size: 25px !important;
            transition: $transition;
            position: absolute;
            top: 45%;
            right: -55px;
            opacity: 0;

            &:hover {
                background-color: $yellow-color !important;
            }
        }
        &:hover {
            .owl-prev {
                opacity: 1;
                left: -48px;
            }
            .owl-next {
                opacity: 1;
                right: -48px;
            }
        }
    }
    .read-blog-btn {
        padding-top: 20px;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        color: $black-color;
        border-bottom: 1px solid $black-color;

        &:hover {
            color: $yellow-color;
            border-bottom: 1px solid $yellow-color;
        }
    }
}

@mixin trim($numLines: null) {
    @if $numLines != null {
        display: -webkit-box;
        -webkit-line-clamp: $numLines;
        -webkit-box-orient: vertical;
        overflow: hidden;
    } @else {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
}
.bar {
    @include trim(2);
}
.foo {
    @include trim(4);
}

.about-area-two {
    position: relative;

    .about-shape {
        img {
            position: absolute;
            bottom: 60px;
            right: 55px;
            max-width: 190px;
            animation: review-animation 8s infinite linear;
        }
    }
    .about-img {
        margin-bottom: 80px;
        position: relative;
        text-align: center;

        img {
            &:nth-child(1) {
                border-radius: 10px;
                max-width: 470px;
                margin-left: auto;
                margin-right: auto;
                top: 28px;
                position: relative;
            }
            &:nth-child(2) {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .video-wrap {
            position: absolute;
            bottom: 0;
            right: -35px;

            a {
                z-index: 10;
                display: block;
                width: 100px;
                height: 100px;
                line-height: 110px;
                border-radius: 50%;
                position: relative;
                font-size: 60px;
                text-align: center;
                color: $white-color;

                &:before {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 100px;
                    height: 100px;
                    background-color: $black-color;
                    border-radius: 50%;
                    z-index: -1;
                    animation: pulse-border 1500ms ease-out infinite;
                }
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 100px;
                    height: 100px;
                    background-color: $black-color;
                    border-radius: 50%;
                    z-index: -1;
                    transition: $transition;
                }
                &:hover {
                    color: $white-color;

                    &:before {
                        background-color: $yellow-color;
                    }
                    &:after {
                        background-color: $yellow-color;
                    }
                }
            }
        }
    }
    .about-content {
        margin-bottom: 30px;
        padding-left: 60px;

        .section-title {
            text-align: left;
            margin-bottom: 32px;

            p {
                margin-bottom: 10px;
            }
        }
    }
    @keyframes pulse-border {
        0% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1.5);
            opacity: 0;
        }
    }
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
    margin-top: -8px;

    .sub-title {
        font-weight: 500;
        font-size: 16px;
        color: $yellow-color;
        display: block;
        margin-bottom: 8px;
    }
    h2 {
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 16px;
        font-family: "Prompt";
    }
    p {
        max-width: 780px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        font-family: "Prompt";
    }
}
