$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;

/*-- Footer --*/
.footer-item {
          margin-bottom: 30px;
      
          .footer-logo {
              a {
                  display: block;
                  margin-bottom: 25px;
              }
              p {
                  color: $black-color;
                  margin-bottom: 25px;
              }
              ul {
                  margin: 0;
                  padding: 0;
      
                  li {
                      list-style-type: none;
                      display: inline-block;
                      margin-right: 5px;
      
                      a {
                          display: block;
                          width: 35px;
                          height: 35px;
                          line-height: 39px;
                          border-radius: 50%;
                          text-align: center;
                          font-size: 18px;
                          color: $white-color;
                          background-color: #1a1c3b;
                          margin-bottom: 0;
      
                          &:hover {
                              background-color: $yellow-color;
                          }
                      }
                  }
              }
          }
          .footer-services {
              h3 {
                  font-weight: 500;
                  font-size: 22px;
                  font-family: $common-font;
                  margin-bottom: 30px;
              }
              ul {
                  margin: 0;
                  padding: 0;
      
                  li {
                      list-style-type: none;
                      display: block;
                      margin-bottom: 15px;
                      color: #00011e;
                      position: relative;
                      padding-left: 28px;
      
                      i {
                          display: inline-block;
                          font-size: 20px;     
                          margin-right: 3px;  
                          position: absolute;
                          top: 3px;
                          left: 0;         
                      }
                      a {
                          display: block;
                          color: #00011e;
      
                          &:hover {
                              margin-left: 10px;
                              color: $yellow-color;
                          }
                      }
                      &:last-child {
                          margin-bottom: 0;
                      }
                  }
              }
          }
      }
      /*-- End Footer --*/