<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<footer class="pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img width= "100px" height= "100px" src="assets/img/Logo_02.png" alt="Logo"></a>
                        <!-- <a routerLink="/"><img width= "100px" height= "100px" src="assets/img/logo_DE.png" alt="Logo"></a> -->
                        <a routerLink="/"><img width= "150px" height= "100px" src="assets/img/logo_สดช2.jpg" alt="Logo"></a>
                        <p>อาสาสมัครดิจิทัล (อสด.)</p>
                        <!-- <p>ศูนย์ขับเคลื่อนการพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม</p> -->
                        <p>สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ</p>
                        <div class="social-link">
                            <ul>
                                <li><a  href="javascript:void(0)" (click)="openFacebook()" > <i class="lni lni-facebook"></i></a></li>
                                <!-- <li><a  href="javascript:void(0)" (click)="openLineOpenChat()"><i class='lni lni-line'></i></a></li> -->
                                <li><a  href="tel:021421160" ><i class='lni lni-phone'></i></a></li>
                                <!-- <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li> -->
                                <!-- <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-services">
                        <h3 style="font-family: Prompt;">เมนูการใช้งาน</h3>

                        <ul>
                            
                            <li><a routerLink="/about"><i class='bx bx-chevron-right'></i>เกี่ยวกับเรา</a></li>
                            <li><a routerLink="/volunteernews"><i class='bx bx-chevron-right'></i>กิจกรรมเครือข่าย</a></li>
                            <li><a routerLink="/digitalnews"><i class='bx bx-chevron-right'></i>ข่าวสารการประยุกต์ใช้ดิจิทัล</a></li>
                            <li><a routerLink="/news-general"><i class='bx bx-chevron-right'></i>ข่าวสารดิจิทัลอัปเดต</a></li>
                            <li><a routerLink="/knowledge"><i class='bx bx-chevron-right'></i>องค์ความรู้</a></li>
                            <li><a routerLink="/elearning"><i class='bx bx-chevron-right'></i>หลักสูตรการเรียนรู้</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-services">
                        <h3 style="font-family: Prompt;">บริการเพิ่มเติม</h3>

                        <ul>
                            
                            <li><a href="/faq"><i class='bx bx-chevron-right'></i>ทำเนียบรุ่น</a></li>  
                            <li><a routerLink="/contact"><i class='bx bx-chevron-right'></i>ติดต่อเรา</a></li>
                             <li><a routerLink="/privacy-policy"><i class='bx bx-chevron-right'></i>บริการ</a></li>
                             <li><a routerLink="/terms-conditions"><i class='bx bx-chevron-right'></i>คำถามที่น่าสนใจ</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6 col-lg-6">
                <div class="footer-item">
                    <div class="footer-services">
                        <h3 style="font-family: Prompt;">ข้อมูลการติดต่อ</h3>

                        <ul>
                            <li style="text-align:left;" ><i class='bx bx-location-plus'></i> 
                                สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ
                            </li>
                            <li>กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</li>
                            <li style="text-align:left;" ><i class='bx bx-location-plus'></i>
                                120 หมู่ 3 ชั้น 9 อาคารรัฐประศาสนภักดี ศูนย์ราชการเฉลิมพระเกียรติ 80 พรรษา
                            </li>
                            <li style="text-align:left;" >
                                5 ธันวาคม 2550 อาคารรัฐประศาสนภักดี ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ 10210 
                            </li>
                            <li><a href="tel:021421202"><i class='bx bx-phone-call'></i> (โทรศัพท์) 02-142-1202</a></li>
                            <li><a href="tel:021437962"><i class='bx bx-phone-call'></i> (โทรสาร) 02-143-7962</a></li>
                            <li><a href="mailto:tdv&#64;onde.go.th"><i class='bx bx-message-detail'></i>  tdv&#64;onde.go.th</a></li>
                            <!-- <li><a href="mailto:hello@spiz.com"><i class='bx bx-message-detail'></i> hello@spiz.com</a></li> -->
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area">
  <div class="copyright-item">
            <p><a href="https://tdv.onde.go.th/privacy-policy" target="_blank">นโยบายความเป็นส่วนตัว   </a>   Copyrights © 2023 National Telecom Public Company Limited ALL RIGHTS RESERVED.</p>
            <a> 99 ถนนแจ้งวัฒนะ แขวงทุ่งสองห้อง เขตหลักสี่  กรุงเทพมหานคร 10210</a>
        </div>
</div>