<app-navbar-style-one></app-navbar-style-one>
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

<div class="page-title-area page-title-img-one">
  <div class="container">
    <div class="page-title-item">
      <h2 style="color: black;">แบบประเมิน</h2>

      <ul>
        <li><a style="color: black;" routerLink="/">หน้าหลัก</a></li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li style="color: black;">แบบประเมินสมรรถนะอาสาสมัครดิจิทัล</li>
      </ul>
    </div>
  </div>
</div>

<section class="privacy-area1 ptb-100">
  <div class="container">
    <div *ngFor="let item of question; let i = index" class="privacy-item">
      <h2>{{ item.name }} ?</h2>
      <ul>
        <li style="font-size: 20px; color: '#696969';"
          *ngFor="let item_subquestions of item.subquestions; let j = index">
          <input type="radio" (change)="handleOptionChange(i+1,item_subquestions.answer, $event )"
            [value]="item_subquestions.answer" [name]="'question_' + i">
          {{item_subquestions.choice}}{{'. '}}{{item_subquestions.name}}
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      ส่งคำตอบ
    </button>
    <!-- Modal -->
    <div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="font-family: Prompt;" id="exampleModalLabel">
              แบบประเมินสมรรถนะอาสาสมัครดิจิทัล</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-size: 20px; color: black;">
              ท่านต้องการที่จะส่งคำตอบของแบบประเมินสมรรถนะอาสาสมัครดิจิทัล ?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary" (click)="submitAssessment(); closeModal();">ยืนยัน</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" #testScoreModal id="testScoreModal" tabindex="-1" role="dialog"
      aria-labelledby="testScoreModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="font-family: Prompt;" id="exampleModalLabel">
              ผลการทำแบบประเมินสมรรถนะอาสาสมัครดิจิทัล</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-size: 20px; color: black;">
              คะแนนของคุณคือ {{finalTotalScore}} คะแนน
            </p>
            <p [ngClass]="{'text-success':finalTotalScore >= 12, 
                  'text-danger': finalTotalScore < 12}"
              style="font-size: 20px; color: black;">
              สถานะ: {{finalTotalScore >= 16 ? 'ผ่านแบบประเมิน' :'ไม่ผ่านแบบประเมิน กรุณาลองใหม่อีกครั้ง'}} 
            </p>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button> -->
            <button type="button" class="btn btn-primary" (click)="testScoreModalcloseModal();">ปิด</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </div>
</section>