<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<div class="page-title-area pt-5 pb-5">
  <div class="container">
    <div class="page-title-item">
      <h2>Dashboard</h2>
      <ul>
        <li><a routerLink="/">รายงานข้อมูล</a></li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>Cyber Community Thailand</li>
      </ul>
    </div>
  </div>
</div>

<section class="reservation-area">
  <!-- <div class="reservation-shape"><img src="assets/img/home-one/reservation-shape.png" alt="Shape"></div> -->

  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
        <div class="reservation-item">
          <div class="section-title">
            <h2>รายงานข้อมูลประจำปี โครงการ Cyber Community Thailand </h2>
            <p>ฐานข้อมูลอาสาสมัครดิจิทัล ภายใต้โครงการ Cyber Community Thailand</p>
          </div>
       
          <ul style="display: flex; gap: 10px; align-items: center; justify-content: center;">
            <li >
              <button  type="button" class="btn cmn-btn">ข้อมูลประจำปี</button>

            </li>
            <li style="flex: 1;">
               <select style="width: 330px; border-radius: 30px; height: 48px" (change)="onChange($event.target.value)" [(ngModel)]="year" class="form-control" id="inputGroupSelect01">
                <option class="text-primary" value="2020">2563 - 2566</option>
                <option class="text-primary" value="2024">2567</option>
                <option class="text-primary" value="2025">2568</option>
                <option class="text-primary" value="all">รวมทุกปี</option>
              </select>
            </li>
          </ul>
       
        </div>
      </div>

      <div class="col-lg-6">
        <!-- <div class="reservation-img">
          <img src="assets/img/home-one/reservation.png" alt="Reservation">
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="contact-location-area pt-100 ">
  <div class="container">
    <div class="row pb-5">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="location-item">
          <img src="assets/img/home-one/services-shape.png" alt="Time">
          <i style="color: #fff;" class='bx bxs-user'></i>
          <ul>
            <li> แกนนำอาสาสมัครดิจิทัล </li>
            <li>{{countUser?.Leader | number}} คน</li>

          </ul>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="location-item active">
          <img src="assets/img/home-one/services-shape.png" alt="Location">
          <i style="color: #fff;" class='bx bxs-user'></i>
          <ul>
            <li> อาสาสมัครดิจิทัล </li>
            <li>{{countUser?.useronde | number}} คน</li>

          </ul>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="location-item">
          <img src="assets/img/home-one/services-shape.png" alt="Tel">
          <i style="color: #fff;" class='bx bxs-user'></i>
          <ul>
            <li> แกนนำอาสาสมัครดิจิทัล (ผ่านแบบประเมิน) </li>
            <li>{{ (year == "2024" ?
              countUser?.digitalpass :countUser?.digitalvillagepass + countUser?.digitalpasspass) | number }} คน</li>

          </ul>
        </div>
      </div>

    </div>


  </div>
</section>

<section class="collection-area collection-area-two pb-70">
  <div class="container">
    <div class="section-title">
      <h2>แผนที่แสดงจำนวนอาสาสมัครดิจิทัล ทั้ง 77 จังหวัด</h2>
      <p>คลิกแผนที่เพื่อแสดงผล</p>
    </div>
    <div class="sorting-menu">
      <ul>
        <li class="filter" style="background-color: #FFCDD2;">น้อยกว่า 100 คน</li>
        <li class="filter" style="background-color: #E57373;">100-300 คน</li>
        <li class="filter" style="background-color: #F44336; color: azure;">มากกว่า 300 คน</li>

      </ul>
    </div>

    <div class="row container ">

      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="block" style="height: 700px;" #thaiMap id="thai-map"></div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">

        <div class="custom-padding">

        </div>
        <div class="card-header ">
          ข้อมูลจังหวัด
        </div>
        <div class="card-body scroll">
          <table class="table mb-0">
            <tr>
              <td class="col-6" style="border-top: none;">จังหวัด:</td>
              <td class="col-6" style="border-top: none;" class="text-right">
                <strong>{{province}}</strong>
              </td>
            </tr>
            <tr>
              <td>จำนวนอาสาสมัครดิจิทัล:</td>
              <td class="text-right">
                <strong>{{countuserProvince | number}}</strong>
              </td>
            </tr>
            <tr>
              <td>จำนวนอาสาสมัครดิจิทัลผ่านแบบประเมิน</td>
              <td class="text-right">
                <strong>{{testscorepass | number}}</strong>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-header">
          ข้อมูลอำเภอ
        </div>
        <div class="card-body scroll">
          <table class="table mb-0" *ngIf="loadingamphoe">
            <tr *ngFor="let item of amphoes">
              <td style="border-top: none;">อำเภอ{{item.myamphoe}}:</td>
              <td style="border-top: none;" class="text-right">
                <strong>{{item.count}}</strong>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="collection-area collection-area-two pb-70">
  <div class="container">
    <div class="section-title">
      <h2>ข้อมูลอาสาสมัครดิจิทัลภายใต้โครงการ Cyber Community Thailand </h2>
      <p>รายงานข้อมูลของอาสาสมัครดิจิทัล (แกนนำ อสด. และ อสด.พลัส+)<br>จำแนกตามเพศและช่วงอายุ</p>
    </div>
    <div class="row container">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="sorting-menu">
          <ul>
            <li class="filter" [class.active]="selectedChart === 'province'" (click)="selectChart('province')">จังหวัด
              ({{ this.province }})</li>
            <li class="filter" [class.active]="selectedChart === 'country'" (click)="selectChart('country')">ทั้งประเทศ
            </li>
          </ul>
        </div>

        <div class="row container d-flex align-items-center">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="selectedChart === 'province'">
            <canvas baseChart [datasets]="barChartData4" [labels]="lineChartLabels4" [options]="lineChartOptions4"
              [chartType]="ChartType1" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="selectedChart === 'country'">
            <canvas baseChart [datasets]="barChartData5" [labels]="lineChartLabels4" [options]="lineChartOptions5"
              [chartType]="ChartType1" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

      </div>

   
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="custom-padding">

        </div>
        <div class="sorting-menu">
          <ul>
            <li class="filter" [class.active]="selectedChart1 === 'province1'" (click)="selectChart1('province1')">
              จังหวัด ({{ this.province }})</li>
            <li class="filter" [class.active]="selectedChart1 === 'country1'" (click)="selectChart1('country1')">
              ทั้งประเทศ</li>
          </ul>
        </div>
        <div class="row container d-flex align-items-center">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="selectedChart1 === 'province1'">
            <canvas baseChart [datasets]="barChartData3" [labels]="lineChartLabels3" [options]="lineChartOptions3"
              [chartType]="ChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="selectedChart1 === 'country1'">
            <canvas baseChart [datasets]="barChartData6" [labels]="lineChartLabels3" [options]="lineChartOptions6"
              [chartType]="ChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

      </div>
    </div>



  </div>
</section>

<section class="collection-area collection-area-two pb-70">
  <div class="container">
    <div class="section-title">
      <h2>จำนวนอาสาสมัครดิจิทัลที่ผ่านแบบประเมินสมรรถนะด้านดิจิทัลทั่วประเทศ</h2>
      <p>กราฟแสดงจำนวนอาสาสมัครดิจิทัลที่ผ่านแบบประเมินสมรรถนะด้านดิจิทัลทั่วประเทศ<br>(แกนนำ อสด. และ อสด.พลัส+)</p>
    </div>
    <div class="sorting-menu">
      <ul>
        <li class="filter" [class.active]="selectedChart2 === 'leader'" (click)="selectChart2('leader')">แกนนำอาสาสมัครดิจิทัล</li>
        <li class="filter" [class.active]="selectedChart2 === 'normal'" (click)="selectChart2('normal')">อาสาสมัครดิจิทัล
        </li>
      </ul>
    </div>

    <div class="container ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="selectedChart2 === 'leader'">
          <canvas baseChart [datasets]="barChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [chartType]="ChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="selectedChart2 === 'normal'">
          <canvas baseChart [datasets]="barChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions2"
          [chartType]="ChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
   
    </div>
  </div>
</section>
<footer class="subscribe-area pt-100 pb-70">
  <div class="container">

    <div class="row container">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="text-white  ">ระดับสมรรถนะด้านดิจิทัลของ   Cyber Community Thailand</h2>
          <p class="text-white ">รายงานผลการสอบวัดระดับสมรรถนะด้านดิจิทัล ของอาสาสมัครดิจิทัลในแต่ละจังหวัด
            {{province}}</p>
        </div>

        <div style="text-align: center; color:#fff">
          <div class="row" style="justify-content: space-between;">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <h5><span style="background-color: 	#e0bb7f;" class="badge">Advance Level</span></h5>

              <div style="align-self: center;">
                ระดับเชี่ยวชาญ
              </div>
              <div>
                <img src="assets/img/TDVBadge3Levels03.png" width="100" height="auto" />
              </div>
              <div class="text-align: center " style="align-self: center;">
                <strong class="" style="font-size: x-large;">{{testlevel.level3 | number}}</strong>
              </div>
              <div style="align-self: center;">
                คน
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <h5><span style="background-color: 	#E0E0E0;" class="badge">Intermediate Level</span></h5>

              <div style="align-self: center;">
                ระดับปานกลาง
              </div>
              <div>
                <img src="assets/img/TDVBadge3Levels02.png" width="100" height="auto" />
              </div>
              <div class="text-align: center " style="align-self: center;">

                <strong class="" style="font-size: x-large;">{{testlevel.level2 | number}}</strong>
              </div>
              <div style="align-self: center;">
                คน
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <h5><span style="background-color: 	#42A5F5;" class="badge">Basic Level</span></h5>

              <div style="align-self: center;">
                ระดับพื้นฐาน
              </div>
              <div>
                <img src="assets/img/TDVBadge3Levels01.png" width="100" height="auto" />
              </div>
              <div class="text-align: center " style="align-self: center;">
                <strong class="" style="font-size: x-large;">{{testlevel.level1 | number}}</strong>
              </div>
              <div style="align-self: center;">
                คน
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>