$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
// $yellow-color: #ffbe00;
$yellow-color: #ffbe00;

.page-title-img-one {
    background-image: url('../../../../assets/img/headerASD/header_news2.jpg');
    background-attachment: inherit;
}

/*-- Location --*/
.contact-location-area {
    background-color: #fffdf9;

    .location-item {
        text-align: center;
        background-color: $white-color;
        padding: 40px 20px 40px;
        border-radius: 20px;
        position: relative;
        margin-bottom: 30px;
        transition: $transition;
        z-index: 1;

        &:hover, &.active {
            background-color: $yellow-color;

            img {
                opacity: 1;
            }
            i {
                color: $white-color;
                background-color: $black-color;
            }
            ul {
                li {
                    color: $white-color;
                }
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $transition;
            z-index: -1;
        }
        i {
            width: 65px;
            height: 65px;
            line-height: 65px;
            border-radius: 50%;
            text-align: center;
            display: block;
            font-size: 33px;
            color: $black-color;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            transition: $transition;
            background-color: $yellow-color;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                color: $black-color;
                font-weight: 500;
                font-size: 16px;
                transition: $transition;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    color: $black-color;

                    &:hover {
                        color: $white-color;
                    }
                }
            }
        }
    }
}
/*-- End Location --*/
.blog-details-nav1 {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 12px;

            a {
                display: block;
                font-weight: 500;
                font-size: $all-size;
                color: $black-color;
                border: 1px solid $black-color;
                padding: 9px 25px;
                border-radius: 50px;

                &:hover {
                    border: 1px solid $yellow-color;
                    background-color: $yellow-color;
                    color: $black-color;
                }
            }
        }
    }
}