<app-navbar-style-one></app-navbar-style-one>
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">



<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2 style="color: black;">องค์ความรู้</h2>

            <ul>
                <li><a style="color: black;" routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li style="color: black;">องค์ความรู้</li>
            </ul>
        </div>
    </div>
</div>






<!-- <section class="blog-item2  pt-100 pb-70">



    <div class="container">

    </div>

    <div class="container pt-100" id="manual">
        <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">ทั้งหมด</li>
                <li class="filter" (click)="scrollTo('manual')">การพัฒนา อสด.</li>
                <li class="filter" (click)="scrollTo('course')">เทคนิคการใช้ดิจิทัล</li>
                <li class="filter" (click)="scrollTo('presentation')">เอกสารเพื่อการเรียนรู้</li>
                <li class="filter" (click)="scrollTo('E-Learning')">การเรียนรู้ด้วยตัวเอง</li>
            </ul>
        </div>


        <div class="col-lg-12 pb-70">
            <h2 style="font-family: Prompt; text-align: center;">การพัฒนา อสด.</h2>
        </div>
    
    </div>

    <div class="container pt-100" id="course">

        <div class="col-lg-12 pb-70">
            <h2 style="font-family: Prompt; text-align: center;">เทคนิคการใช้ดิจิทัล</h2>
        </div>
        <div class="row">

         
        </div>
    </div>



    <div class="container pt-100" id="E-Learning">

        <div class="col-lg-12 pb-70">
            <h2 style="font-family: Prompt; text-align: center;">การเรียนรู้ด้วยตัวเอง</h2>
        </div>
        <div class="row">

        </div>
    </div>


</section> -->


<section class="collection-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>องค์ความรู้</h2>
            <p>รวบรวมเอกสารสาระสำคัญความรู้ต่างๆที่เกี่ยวอาสาสมัครดิจิทัลและรวมถึงคู่มือต่างๆของอาสาสมัครดิจิทัล</p>
        </div>

        <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">เอกสารทั้งหมด</li>
                <li class="filter" data-filter=".web">การพัฒนา อสด.</li>
                <li class="filter" data-filter=".ui">เทคนิคการใช้ดิจิทัล</li>
                <!-- <li class="filter" data-filter=".ux">การเรียนรู้ด้วยตัวเอง</li> -->
                <!-- <li class="filter" data-filter=".branding">E-Leanning</li> -->
            </ul>
        </div>

        <div id="Container" class="row">

            <div *ngFor="let item of datamanual" class="col-sm-6 col-lg-3 mix web">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openManual_1(item.file)" [src]="'https://tdv.netpracharat.com:5000/uploads/logo/'+ item.image"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openManual_1(item.file)"><i class='bx bxs-book'></i> ดูรายละเอียด</a>
                        </div>
                    </div>

                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">{{item.name}}</h3>
                        <h3 style="font-size: 12px;">{{item.shortdescription}}</h3>
                      
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openManual_4()" src="assets/learning/manual4.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openManual_4()"><i class='bx bxs-book'></i> ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">คู่มือปฏิบัตนักตรวจสอบข้อเท็จจริง</h3>
                        <h3 style="font-size: 12px;">E-Book: คู่มือปฏิบัตนักตรวจสอบข้อเท็จจริง</h3>
                       
                    </div>
                </div>
            </div>
      

            <div class="col-sm-6 col-lg-3 mix ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openCourse_2()" src="assets/learning/techSure_2.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a tyle="cursor: pointer;" (click)="openCourse_2()"><i class='bx bxs-book'></i> ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">คู่มือคนไทยรู้ทันภัยไซเบอร์</h3>
                        <h3 style="font-size: 12px;">คู่มือคนไทย รู้ทันภัยไซเบอร์ (Cybersecurity for all)</h3>
                       
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openCourse_3()" src="assets/learning/techSure_1.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openCourse_3()"><i class='bx bxs-book'></i> ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">พลเมืองเท่าทันสื่อ</h3>
                        <h3 style="font-size: 12px;">คู่มือการจัดการเรียนรู้ เพื่อสร้างพลเมืองรู้เท่าทันสื่อสำหรับมัธยมศึกษาปลาย (Digital Citizenship Management Skills)</h3>
                       
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-lg-3 mix ux">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openKnow_1()" src="assets/learning/knowDigital_1.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openKnow_1()"><i class='bx bxs-book'></i> ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3>พลิกโฉมโลกด้วยดิจิทัล</h3>
                        <h3 style="font-size: 12px;">พลิกโฉมโลกด้วยดิจิทัล (Digital Transformation)</h3>
                      
                    </div>
                </div>
            </div> -->

          
     
        </div>

      
    </div>
</section>

<section class="services-area-three pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-item">
                    <div class="section-title">
                        <span style="color: #ffbe00;" class="sub-title">องค์ความรู้</span>
                        <h2>Infographic และสื่อวิดีโอ</h2>
                        <p>เอกสารเพิ่มเติมองค์ความรู้ที่เป็น Infographic และสื่อวิดีโอเพิ่มเติมที่เสริมความรู้ให้กับอาสาสมัครดิจิทัล</p>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <ul class="accordion">
                                <li>
                                    <a><span>01.</span>Infographics</a>
                                    <p style="cursor: pointer;" (click)='openInfoType1()'>Infographics ประกอบการสอน</p>
                                </li>
                                <li>
                                    <a><span>02.</span>Video Clips</a>
                                    <p style="cursor: pointer;" (click)='openInfoType2()'>Video Clip ประกอบการสอน</p>

                                </li>
                                <!-- <li>
                                    <a><span>03.</span>อีเมลติดต่อ</a>
                                    <p (click)='openInfoType1()'>Infographics ประกอบการสอน</p>
                                </li> -->
                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <ul class="accordion">
                                <li>
                                    <a><span>01.</span>การตรวจสอบข้อเท็จจริง </a>
                                    <p style="cursor: pointer;" (click)='openInfoType3()'>- ดูรายละเอียด</p>
                                </li>
                                <li>
                                    <a><span>02.</span>การรู้เท่าทันดิจิทัล</a>
                                    <p style="cursor: pointer;" (click)='openInfoType4()'>- ดูรายละเอียด</p>
                                </li>
                                <li>
                                    <a><span>03.</span>ดิจิทัลพลิกแพลง</a>
                                    <p style="cursor: pointer;" (click)='openInfoType5()'  style="cursor: pointer;" >- ดูรายละเอียด</p>
                                </li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="services-img">
                    <img src="assets/learning/knowledgement.png" alt="services-image">
                </div>
            </div>
        </div>
    </div>
</section> 




<app-footer-style-one></app-footer-style-one>