/*
@File: Spiz Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Home One CSS
** - Home Two CSS
** - Home Three CSS
** - About CSS
** - Service Details CSS
** - Blog Details CSS
** - Cart CSS
** - Checkout CSS
** - Coming Soon CSS
** - FAQ CSS
** - Terms and Conditions CSS
** - 404 CSS
** - Contact CSS
** - Book A Table CSS
** - Preloader CSS
** - Back to Top CSS
*/
$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
// $yellow-color: #ffbe00;
$yellow-color: #404040;

/*-- Default CSS --*/



/*-- Page Title --*/
.page-title-img-one {
          background-image: url('../../../../assets/img/headerASD/header_ourservices2.jpg');
         
      }
      .page-title-item {
        padding-left: 40px;
        position: relative;
    
        &:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 100px;
            left: 0;
            top: 0;
            border-radius: 50px;
            background-color:  #0b0320;
        }
        h2 {
            font-size: 40px;
            color: #0b0320;
            margin-bottom: 10px;
            font-family: "Prompt", sans-serif;
        }
        ul {
            margin: 0;
            padding: 0;
    
            li {
                list-style-type: none;
                display: inline-block;
                color: black;
    
                i {
                    display: inline-block;
                    font-size: 25px;
                    position: relative;
                    top: 6px;
                    color:  #0b0320;
                }
                a {
                    display: inline-block;
                    color:  #0b0320;
                    font-size: 25px;
                    
    
                    &:hover {
                      color:  #ffbe00;
                    }
                }
            }
        }
    }
      /*-- End Page Title --*/

body {
    font-family: $common-font;
    color: $gray-color;
    background-color: $white-color;
    font-size: $all-size;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-family: $heading-font;
    color: $black-color;
}
p {
    line-height: 1.7;
}
a {
    transition: $transition;

    &:hover {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}
.d-table {
    width:100%;
    height:100%;
}
.d-table-cell {
    vertical-align: middle;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}

.pt-101 {
    padding-top: 50px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}
button {
    &:focus {
        outline: 0;
    }
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
/*-- End Default CSS --*/

/*-- FAQ --*/
.faq-area1 {
          .faq-head {
              h2 {
                  margin-bottom: 35px;
                  font-weight: 600;
                  font-size: 30px;
                  margin-top: -7px;
                  font-family: 'Prompt';
              }
          }
          .faq-wrap {
              margin-bottom: 50px;
          
              &:last-child {
                  margin-bottom: 30px;
              }
          }
          .accordion { 
              padding-left: 0;
              margin: 0;
              padding: 0;
          
              p {
                  font-size: $all-size;
                  display: none;
                  padding: 20px 45px 15px 20px;
                  margin-bottom: 0;
                  
              }
             
          

              a {
                  color: #232323;
                  font-size: 17px;
                  width: 100%;
                  display: block;
                  cursor: pointer;
                  font-weight: 600;
                  padding: 15px 0 15px 18px;
                  border: 1px solid #232323;
                  border-radius: 8px 8px 0 0;
                  
          
                  &:hover {
                      color: $black-color;
                  }
                  &:after {
                      position: absolute;
                      right: 20px;
                      content: "+";
                      top: 10px;
                      color: #232323;
                      font-size: 25px;
                      font-weight: 700;
                  }
              }
              li {
                  position: relative;
                  list-style-type: none;
                  margin-bottom: 30px;
          
                  &:first-child {
                      border-top: 0;
                  }
                  &:last-child {
                      margin-bottom: 0;
                  }
              }
          }
          .accordion {
              .li {
                  a.active {
                      color: $white-color;
                      background-color: $black-color;
                      border: 1px solid $black-color;
                  }
                  a.active:after {
                      content: "-";
                      font-size: 25px;
                      color: $white-color;
                  }
              }
          }
      }