<!-- <app-navbar-style-three></app-navbar-style-three>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Privacy Policy</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>

<section class="privacy-area pt-100">
    <div class="container">
        <div class="privacy-item">
            <h2>1.What is Privacy Policy?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="privacy-item">
            <h2>2.How do we apply our Privacy Policy?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="privacy-item">
            <h2>3.How we do serve for you</h2>
            <ul>
                <li><i class='bx bx-chevron-right'></i> Our chefs are very dedicated on work</li>
                <li><i class='bx bx-chevron-right'></i> Our restaurant always gives best services</li>
                <li><i class='bx bx-chevron-right'></i> We always give qualityful food</li>
                <li><i class='bx bx-chevron-right'></i> You can get everything under a roof</li>
                <li><i class='bx bx-chevron-right'></i> We have a option to give online service</li>
            </ul>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two> -->

<app-navbar-style-one></app-navbar-style-one>
<style></style>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>บริการ</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>บริการของเรา</li>
            </ul>
        </div>
    </div>
</div>

<section class="faq-area pt-100 pb-70">
    <div class="container">

        <div class="row faq-wrap">
            <div class="col-lg-12">

                <div class="row faq-wrap">
                    <div class="col-lg-12">
                        <div class="faq-head">
                            <h2>ช่องทางให้บริการ Digital Services (เว็ปไซด์)</h2>
                        </div>


                        <div class="faq-item">
                            <ul class="accordion">
                                <!-- <li>
                                    <a style="font-size: 22px;">Line OpenChat</a>
                                    <p href="javascript:void(0)" (click)="openLineOpenChat()" style="cursor: pointer; font-size: 20px; "> Line OpenChat : แกนนำอาสาสมัครดิจิทัล</p>

                                </li> -->
                                <li>
                                    <a style="font-size: 22px;">Facebook Page</a>
                                    <p href="javascript:void(0)" (click)="openFacebook()" style="cursor: pointer; font-size: 20px;"> อาสาสมัครดิจิทัล - Thailand Digital Volunteers
                                        </p>
                                </li>

                                <li>
                                    <a style="font-size: 22px;">กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</a>
                                    <p href="javascript:void(0)" (click)="openDE()" style="cursor: pointer; font-size: 20px;"> เว็ปไซต์กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</p>
                                </li>
                               
                                <li>
                                    <a style="font-size: 22px;">GCC 1111</a>
                                    <p href="javascript:void(0)" (click)="openGCC()" style="cursor: pointer; font-size: 20px;"> ช่องทางสอบถามบริการภาครัฐ (GCC 1111)</p>
                                </li>

                                <li>
                                    <a style="font-size: 22px;">เครือข่ายเน็ตประชารัฐ</a>
                                    <p href="javascript:void(0)" (click)="openNPCR()" style="cursor: pointer; font-size: 20px;"> ค้นหาจุดให้บริการเน็ตประชารัฐ</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">Anti Fakenews Center</a>
                                    <p href="javascript:void(0)" (click)="openAnti()" style="cursor: pointer; font-size: 20px;"> ศูนย์ต่อต้านข่าวปลอม ประเทศไทย</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">กรมอุตุนิยม</a>
                                    <p href="javascript:void(0)" (click)="openTMD()" style="cursor: pointer; font-size: 20px;"> ตรวจสอบสภาพภูมิอากาศของกรมอุตุนิยม</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">แจ้งเบาะแส TCSD</a>
                                    <p href="javascript:void(0)" (click)="openTCSD()" style="cursor: pointer; font-size: 20px;"> กองบังคับปราบปราม การกระทำความผิดเกี่ยวกับอาชญากรรมทางเทคโนโลยี</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">กระทรวงมหาดไทย</a>
                                    <p href="javascript:void(0)" (click)="openmoicovid()" style="cursor: pointer; font-size: 20px;"> ศูนย์บริหารสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">ระบบภูมิสารสนเทศสถิติ (NSO-GIS)</a>
                                    <p href="javascript:void(0)" (click)="openNSO()" style="cursor: pointer; font-size: 20px;"> ข้อมูลสถิติรายพื้นที่ แสดงในรูปแบบแผนที่เข้าใจง่าย</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">Thailand Post Mart</a>
                                    <p href="javascript:void(0)" (click)="openTPM()" style="cursor: pointer; font-size: 20px;"> ของดีทั่วไทย ส่งให้ถึงเธอ</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">ศูนย์ดิจิทัลชุมชน</a>
                                    <p href="javascript:void(0)" (click)="openonde()" style="cursor: pointer; font-size: 20px;"> พื้นที่ให้บริการเทคโนโลยีดิจิทัลในชุมชน</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">อินเทอร์เน็ตเพื่อชีวิตที่ดีกว่า (Internet for Better Life (IFBL))</a>
                                    <p href="javascript:void(0)" (click)="openetda()" style="cursor: pointer; font-size: 20px;"> ชุมชนการใช้อินเทอร์เน็ต เพื่อใช้ประโยชน์อย่างปลอดภัย</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">กองทุนพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม</a>
                                    <p href="javascript:void(0)" (click)="opendefund()" style="cursor: pointer; font-size: 20px;"> แหล่งเงินทุนสนับสนุนการขับเคลื่อนกิจกรรมด้านดิจิทัล</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">Government Data Center and Cloud Service: GDCC</a>
                                    <p href="javascript:void(0)" (click)="opengdcc()" style="cursor: pointer; font-size: 20px;"> ระบบคลาวด์กลางภาครัฐ เพิ่มประสิทธิภาพบริการภาครัฐดิจิทัล</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">NT TOT eService</a>
                                    <p href="javascript:void(0)" (click)="opentot()" style="cursor: pointer; font-size: 20px;"> ส่วนบริการลูกค้า NT TOT ติดต่อประสานงานให้บริการข้อมูล</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">NT CAT eService</a>
                                    <p href="javascript:void(0)" (click)="opencat()" style="cursor: pointer; font-size: 20px;"> ส่วนบริการลูกค้า NT CAT ติดต่อประสานงานให้บริการข้อมูล</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">ศูนย์ประสานการรักษาความมั่นคงปลอดภัยระบบคอมพิวเตอร์ประเทศไทย (ไทยเซิร์ต)</a>
                                    <p href="javascript:void(0)" (click)="openthaicert()" style="cursor: pointer; font-size: 20px;"> แจ้งเหตุปัญหาความไม่ปลอดภัยระบบคอมพิวเตอร์</p>
                                </li>
                                <li>
                                    <a style="font-size: 22px;">1212 OCC </a>
                                    <p href="javascript:void(0)" (click)="openocc()" style="cursor: pointer; font-size: 20px;"> ศูนย์รับเรื่องร้องเรียนปัญญาออนไลน์</p>
                                </li>

                                <li>
                                    <a style="font-size: 22px;">1441 AOC </a>
                                    <p href="javascript:void(0)" style="cursor: pointer; font-size: 20px;"> ศูนย์ปฎิบัติการแก้ไขปัญหาอาชญากรรมออนไลน์</p>
                                </li>

                               
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        


    </div>
</section>

<section class="feature-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2 style="font-family: Prompt;">ช่องทางบริการต่างๆ</h2>
            <p>ช่องทางให้บริการเพิ่มเติมของอาสาสมัครดิจิทัล.</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="feature-item">
                    <img src="assets/img/sure.png" alt="Feature">

                    <div class="feature-inner">
                        <ul>
                            <li><img src="assets/img/Logo_02_new.png" alt="Feature"></li>
                            <li><span>ชัวร์ก่อนแชร์</span></li>
                            <li><a (click)='openSure()' ><i class='bx bx-right-arrow-alt'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="feature-item">
                    <img src="assets/img/fakenews.png" alt="Feature">

                    <div class="feature-inner">
                        <ul>
                            <li><img src="assets/img/Logo_02_new.png" alt="Feature"></li>
                            <li><span>ตรวจสอบข่าวปลอม</span></li>
                            <li><a (click)='openFakenews()'><i class='bx bx-right-arrow-alt'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="feature-item">
                    <img src="assets/img/npr.png" alt="Feature">

                    <div class="feature-inner">
                        <ul>
                            <li><img src="assets/img/Logo_02_new.png" alt="Feature"></li>
                            <li><span>ค้นหาหมู่บ้านเน็ตประชารัฐ</span></li>
                            <li><a (click)='openNPR()'><i class='bx bx-right-arrow-alt'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</section>


<section class="services-area-three pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-item">
                    <div class="section-title">
                        <span style="color: #ffbe00;" class="sub-title">Digital Services</span>
                        <h2>ช่องทางให้บริการ Digital Services</h2>
                        <p>ช่องทางให้บริการแอปพลิเคชันเพิ่มเติมของอาสาสมัครดิจิทัล</p>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <ul class="accordion">
                                <li>
                                    <a><span>01.</span>เครือข่ายเน็ตประชารัฐ</a>
                                    <p style="cursor: pointer;" (click)='openAppNPR()'>- ค้นหาจุดให้บริการเน็ตประชารัฐ และรับทราบข่าวสารและกิจกรรมต่างๆ ของภาครัฐ จังหวัด ฯลฯ</p>
                                </li>
                                <li>
                                    <a><span>02.</span>TMD Smart Sim</a>
                                    <p style="cursor: pointer;" (click)='openAppTMD()'>- ตรวจสอบสภาพอากาศแบบละเอียดเพื่อบริหารจัดการ</p>

                                </li>
                                <li>
                                    <a><span>03.</span>Thai Weather</a>
                                    <p  style="cursor: pointer;"  (click)='openAppTW()'>- เรดาร์น้ำฝน การแจ้งเตือนภัยพิบัติทุกอย่างในแอปเดียว</p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <ul class="accordion">
                                <li>
                                    <a><span>04.</span>THAI STAT </a>
                                    <p style="cursor: pointer;" (click)='openAppTS()'>- ระบบข้อมูลสนับสนุนการบริหารจัดการในระดับชุมชน</p>
                                </li>
                                <li>
                                    <a><span>05.</span>Track&Trace Thailand Post</a>
                                    <p style="cursor: pointer;" (click)='openAppTTP()'>- ตรวจสอบรายการส่งพัฒดุผ่านไปรษณีย์ไทยได้ง่ายๆ</p>
                                </li>
                                <li>
                                    <a><span>06.</span>ThailandPostmart</a>
                                    <p style="cursor: pointer;" (click)='openAppTPM()'  style="cursor: pointer;" >- ของดีทั่วไป ส่งให้ถึงมือ</p>
                                </li>
                                <li>
                                    <a><span>07.</span>Post Portal</a>
                                    <p style="cursor: pointer;" (click)='openAppPP()'  style="cursor: pointer;" >- ศูนย์รวมบริการของไปรษณีย์ไทย</p>
                                </li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="services-img">
                    <img src="assets/img/Logo_ASD.png" alt="services-image">
                </div>
            </div>
        </div>
    </div>
</section> 


<section class="download-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="download-content">
                    <div class="section-title"><span class="sub-title"
                            style="font-size: 20px;">ดาวน์โหลดแอปพลิเคชันฟรี</span>
                        <h2 style="font-family: Prompt;">แอปพลิเคชันอาสาสมัครดิจิทัล</h2>
                        <p style="font-size: 16px;">
                            สามารถดาวน์โหลดแอปพลิเคชัน “อาสาสมัครดิจิทัล” ได้แล้ววันนี้!! ทั้งในระบบ iOS และ Android
                            เพื่อความสะดวกในการใช้งานและฟีเจอร์ต่าง ๆ บนแอปพลิเคชันฯ อาทิ</p>
                    </div>
                    <ul>
                        <li><span>01</span>การโพสต์ข่าวสาร</li>
                        <li><span>02</span>ตรวจสอบข่าวปลอม</li>
                        <li><span>03</span>บริการเพิ่มเติมด้านดิจิทัลอื่นๆ</li>
                    </ul>
                    <div class="app-wrap">
                        <a href="https://play.google.com/store/apps/details?id=com.aorsordor"><img
                                src="assets/img/home-two/google-store.png" alt="Google"></a>
                        <a
                            href="https://apps.apple.com/th/app/%E0%B8%AD%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%AA%E0%B8%A1-%E0%B8%84%E0%B8%A3%E0%B8%94-%E0%B8%88-%E0%B8%97-%E0%B8%A5/id1531986091"><img
                                src="assets/img/home-two/app-store.png" alt="App"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="download-img"><img width=350px height='auto' src="assets/img/HomeASD.png" alt="Download"></div>
            </div>
        </div>
    </div>
</section>


<app-footer-style-one></app-footer-style-one>