
<app-navbar-style-one></app-navbar-style-one>
<div class="ptb-100">


<iframe src="https://www.antifakenewscenter.com/embed1/" style="border:none;height:2000px;width:100%;" title="Iframe Example for PC"></iframe>
</div>