<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
  <div class="container">
    <div class="page-title-item">
      <h2>ตรวจสอบรายชื่อผู้มีสิทธิ์เข้ารับอบรม</h2>
      <ul>
        <li><a routerLink="/">หน้าหลัก</a></li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>อาสาสมัครดิจิทัลประจำหมู่บ้าน </li>
      </ul>
    </div>
  </div>
</div>


 <div class="col-lg-12 ptb-100">
  <div class="sorting-menu">
    <ul>
      <!-- <li class="filter " [ngClass]="{'active': loading === false}" (click)="getListTrainings(18, 1)">รายชื่อผู้อบรมรอบที่ 1</li> -->
      <li class="filter"  [ngClass]="{'active': loading2 === false}" (click)="getListTrainings(20,2)">รายชื่อผู้อบรมรอบที่ 2</li>
      <li class="filter"  [ngClass]="{'active': loading3 === false}"(click)="getListTrainings(21,3)" >รายชื่อผู้อบรมรอบที่ 3</li>
      <li class="filter"  [ngClass]="{'active': loading4 === false}"(click)="getListTrainings(19,4)" >รายชื่อผู้อบรมรอบที่ 4</li>
    </ul>
  </div> 

  <div class="container all">
    <div class="card">

      <!-- <div *ngIf="!loading" style="background-color: #FFBE00; color: black; font-size: 18px;" class="card-header text-uppercase">
        รายชื่อผู้มีสิทธิ์เข้ารับการอบรมครั้งที่ 1 วันที่ 28 – 30 พฤษภาคม 2567 ณ โรงแรมออโรร่า รีสอร์ท กาญจนบุรี จ.กาญจนบุรี
        <div class="float-right">
        </div>
      </div> -->
      
      <div *ngIf="!loading2" style="background-color: #FFBE00; color: black; font-size: 18px;" class="card-header text-uppercase">
        รายชื่อผู้มีสิทธิ์เข้ารับการอบรมครั้งที่ 2 วันที่ 30 กรกฎาคม – 1 สิงหาคม 2567 ณ โรงแรมดับเบิ้ล ดีดี เรสซิเดนซ์รีสอร์ท จ.กำแพงเพชร
        <div class="float-right">
        </div>
      </div>
      <div *ngIf="!loading3" style="background-color: #FFBE00; color: black; font-size: 18px;" class="card-header text-uppercase">
        รายชื่อผู้มีสิทธิ์เข้ารับการอบรมครั้งที่ 3 วันที่ 7 – 9 สิงหาคม 2567 ณ โรงแรมเบสต์ เวสเทิร์น รอยัล บุรีรัมย์ จ.บุรีรัมย์
        <div class="float-right">
        </div>
      </div>
      <div *ngIf="!loading4" style="background-color: #FFBE00; color: black; font-size: 18px;" class="card-header text-uppercase">
        รายชื่อผู้มีสิทธิ์เข้ารับการอบรมคครั้งที่ 4 วันที่ 28 - 30 สิงหาคม 2567 ณ โรงแรมมรกตทวิน ชุมพร จ.ชุมพร
        <div class="float-right">
        </div>
      </div>


      <div class="card-body table-responsive">
        <!-- <table *ngIf="!loading" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>ลำดับที่</th>
              <th>ชื่อ - นามสกุล</th>
              <th>จังหวัด</th>
              <th>สถานะการยืนยันสิทธิ์</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of list_trainingUser; let i = index">
              <td>{{i+1}}.</td>
              <td>{{data.name}} {{data.lastname}}</td>
              <td>{{data.province == null ? '-': data.province}}</td>
              <td>{{data.statusconfirm == 2 ? 'ยืนยัน' : 'ยังไม่ยืนยัน'}} </td>
            </tr>
          </tbody>
        </table> -->

        <table *ngIf="!loading2" class="table table-striped table-hover table-responsive-lg" datatable
        [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>ลำดับที่</th>
            <th>ชื่อ - นามสกุล</th>
            <th>จังหวัด</th>
            <!-- <th>สถานะการยืนยันสิทธิ์</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of list_trainingUser; let i = index">
            <td>{{i+1}}.</td>
            <td>{{data.name}} {{data.lastname}}</td>
            <td>{{data.province == null ? '-': data.province}}</td>
            <!-- <td>{{data.statusconfirm == 2 ? 'ยืนยัน' : 'ยังไม่ยืนยัน'}} </td> -->
          </tr>
        </tbody>
      </table>

      <table *ngIf="!loading3" class="table table-striped table-hover table-responsive-lg" datatable
      [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>ลำดับที่</th>
          <th>ชื่อ - นามสกุล</th>
          <th>จังหวัด</th>
          <!-- <th>สถานะการยืนยันสิทธิ์</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of list_trainingUser; let i = index">
          <td>{{i+1}}.</td>
          <td>{{data.name}} {{data.lastname}}</td>
          <td>{{data.province == null ? '-': data.province}}</td>
          <!-- <td>{{data.statusconfirm == 2 ? 'ยืนยัน' : 'ยังไม่ยืนยัน'}} </td> -->
        </tr>
      </tbody>
    </table>

     <table *ngIf="!loading4" class="table table-striped table-hover table-responsive-lg" datatable
      [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>ลำดับที่</th>
          <th>ชื่อ - นามสกุล</th>
          <th>จังหวัด</th>
          <!-- <th>สถานะการยืนยันสิทธิ์</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of list_trainingUser; let i = index">
          <td>{{i+1}}.</td>
          <td>{{data.name}} {{data.lastname}}</td>
          <td>{{data.province == null ? '-': data.province}}</td>
          <!-- <td>{{data.statusconfirm == 2 ? 'ยืนยัน' : 'ยังไม่ยืนยัน'}} </td> -->
        </tr>
      </tbody>
    </table>


      </div>
    </div>

    <!-- <div class="d-flex justify-content-center pt-100">

      <a class="cmn-btn btn" style="font-size: 18px;" href="https://tdv.netpracharat.com/admin/confirm"
        target="_blank">ยืนยันสิทธิ์เข้ารับอบรม</a>
    </div> -->

  </div>

</div>

<!-- <div class="col-lg-12 ptb-100">
    <div class="container">
    <div class="card">

      <div style="background-color: #FFBE00; color: white; font-size: 18px;" class="card-header text-uppercase">รายชื่อผู้มีสิทธิ์เข้ารับการอบรมอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน ครั้งที่ 3 วันที่ 14-15 ก.พ. 65 ณ รร. ปริ้นซ์พาเลช จ.กรุงเทพฯ
        <div class="float-right">

        </div>
      </div>
      <div class="card-body table-responsive">
        <table *ngIf="!loading2" class="table table-striped table-hover table-responsive-lg" datatable
          [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>ลำดับที่</th>
              <th>ชื่อ - นามสกุล</th>
              <th>จังหวัด</th>
              <th>สถานะการยืนยันสิทธิ์</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of list_trainingUser2; let i = index">
              <td>{{i+1}}.</td>
              <td>{{data.name}} {{data.lastname}}</td>
              <td>{{data.province  == null ? '-': data.province}}</td>
              <td>{{data.statusconfirm  == 2 ? 'ยืนยัน' : 'ยังไม่ยืนยัน'}} </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="d-flex justify-content-center pt-100">

      <a class="cmn-btn btn"  style="font-size: 18px;" href="https://tdv.netpracharat.com/admin/confirm" target="_blank">ยืนยันสิทธิ์เข้ารับอบรม</a>
    </div>

</div>

</div> -->



<app-footer-style-one></app-footer-style-one>