<!-- <app-navbar-style-three></app-navbar-style-three> -->

<section class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>อาสาสมัครดิจิทัล (อสด.)</h2>
            <ul>
                <li><a>อาสาสมัครดิจิทัลประจำหมู่บ้าน</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li style="color: white;">การสมัครอบรมหลักสูตร “การพัฒนาอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน”</li>
            </ul>
        </div>
    </div>
</section>

<section class="faq-area pt-100 pb-70">
    <div class="container">
        <h2 style="font-family: Prompt; text-align: center;">การสมัครอบรมหลักสูตร</h2>
        <h2 style="font-family: Prompt; text-align: center;">“การพัฒนาอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน”</h2>

        <div class="story-head ptb-100">
            <h2 style="font-family: Prompt; text-align: center;">อาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน</h2>
            <p style="font-size: medium;">คือ ตัวแทนชุมชนที่ได้รับการคัดเลือกว่ามีสมรรถนะพื้นฐานในการเป็นอาสาสมัครดิจิทัล ผ่านกระบวนการอบรมและการรับรององค์ความรู้ เพื่อให้มีบทบาทหน้าที่ในการสนับสนุนกิจกรรมทางด้านดิจิทัล ส่งเสริมและพัฒนาองค์ความรู้ทางด้านดิจิทัล ร่วมกับชุมชนในระดับท้องถิ่น เกิดเป็นโซ่ข้อกลาง ในการส่งเสริมการเข้าถึงดิจิทัลของประชาชน สร้างโอกาสและรายได้จากช่องทางดิจิทัลได้
            </p>
        </div>


        <div class="row faq-wrap">
            <div class="col-lg-12">

                <div class="row faq-wrap">
                    <div class="col-lg-12">
                        <div class="faq-head">
                            <h2>บทบาทหน้าที่ของอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน</h2>
                            <p style="font-size:18px; color: black;">
                                อาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้านจะต้องปฏิบัติตนตามขอบเขตหน้าที่ จำนวนไม่น้อยกว่า 2 ครั้ง
                                โดยมีขอบเขตหน้าที่ในการปฏิบัติงานดังต่อไปนี้</p>
                        </div>
                        <div class="faq-item">
                            <ul class="accordion">
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a>1. ประชาสัมพันธ์บริการด้านดิจิทัล</a>
                                   
                                </li>
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a>2. ส่งเสริมการรู้เท่าทันภัยออนไลน์</a>
                                 
                                </li>
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a>3. สร้างเครือข่ายการส่งเสริมการใช้ดิจิทัล</a>
                                  
                                </li>
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a>4. แนะนำ/ช่วยเหลือ การใช้ประโยชน์ด้านดิจิทัลเบื้องต้น</a>
                                   
                                </li>

                            </ul>
                        </div>
                        <div class="faq-head pt-5">
                            <p style="font-size:18px; color: black;">
                                อาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้านที่ดำเนินการตามเป้าหมาย จะได้รับการสนับสนุนค่าตอบแทน
                                เพื่อส่งเสริมให้ อาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน
                                เกิดขวัญและกำลังใจในการปฏิบัติงานด้านดิจิทัลในระดับชุมชน</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

<section class="story-area">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="story-item">
                    <img src="assets/img/S__38478047.jpg" alt="Story">
                    <h3>การสมัครอบรมหลักสูตร อสด. ประจำหมู่บ้าน</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center ptb-100">
            <div class="col-sm-12 col-lg-6">
                <div class="story-item">
                    <img src="assets/img/about/ขั้นตอนการสมัคร.jpg" alt="Story">
                    <h3>ขั้นตอนการอาสาสมัครดิจิทัลประจำหมู่บ้าน</h3>
                </div>
            </div>
        </div>
 
</section>

<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row faq-wrap">
            <div class="col-lg-12">

                <div class="row faq-wrap">
                    <div class="col-lg-12">
                        <div class="faq-head">
                            <h2>ขั้นตอนการสมัครของอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน</h2>
                        
                        </div>
                        <div class="faq-item">
                            <ul class="accordion">
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a >ขั้นตอนที่ 1 : ลงทะเบียนสมัครเป็น อสด. ประจำหมู่บ้าน ผ่านช่องทางเว็บไซต์และแอปพลิเคชัน “อาสาสมัครดิจิทัล”</a>
                                   
                                </li>
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a >ขั้นตอนที่ 2 : กรอกข้อมูลแบบฟอร์มการสมัครในระบบ</a>
                                 
                                </li>
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a >ขั้นตอนที่ 3 : ระบบจะวิเคราะห์ข้อมูลผู้สมัครตามภูมิลำเนา และจัดลำดับผู้มีคุณสมบัติเข้ารับการอบรม</a>
                                   
                                </li>
                                <!-- <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a >ขั้นตอนที่ 4 : ประกาศผลผู้มีสิทธิ์เข้ารับการอบรมทาง จังหวัดละไม่เกิน 5-6 คน ผ่านช่องทางเว็บไซต์และแอปพลิเคชัน “อาสาสมัครดิจิทัล”</a>
                                  
                                </li> -->
                                <li style="background-color: #ffbe00; border-top-left-radius: 10px; border-top-right-radius:10px ;">
                                    <a > ขั้นตอนที่ 4 : ผู้มีสิทธิ์เข้ารับการอบรมยืนยันการเข้าอบรมผ่านลิงก์ใน SMS ที่แจ้งผล หรือ ลิงก์ในช่องประกาศผลบนเว็บไซต์ฯ/แอปพลิเคชัน “อาสาสมัครดิจิทัล”</a>
                                 
                                </li>

                            </ul>
                        </div>
                      
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

<!-- <section style="background-color:#ffbe00;" class="services-area-three pt-100 pb-70">
    <div class="container">

        
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-img">
                    <img src="assets/img/about/mascot-06new.png" alt="services-image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item">
                    <div class="section-title">
                        <p style="color: white;" class="sub-title">อาสาสมัครดิจิทัล (อสด.)</p>
                        <h2>ขั้นตอนการสมัคร</h2>
                        <h4 style="color: white; font-family: Prompt;">อาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน</h4>
                    </div>

                    <div class="row" style="text-align: left;">
                        <div class="col-sm-12 col-lg-6">
                            <ul class="">
                                <li style="color: white;">
                                    <a style="color: white;">ขั้นตอนที่ 1</a>
                                    <p style="color: white;">- ลงทะเบียนสมัครเป็น อสด. ประจำหมู่บ้าน ผ่านช่องทางเว็บไซต์และแอปพลิเคชัน “อาสาสมัครดิจิทัล”</p>
                                </li><br>
                                <li  style="color: white;">
                                    <a style="color: white;">ขั้นตอนที่ 2</a>
                                    <p style="color: white;" >- กรอกข้อมูลแบบฟอร์มการสมัครในระบบ</p>

                                </li><br>
                                <li  style="color: white;">
                                    <a style="color: white;">ขั้นตอนที่ 3</a>
                                    <p style="color: white;">- ระบบจะวิเคราะห์ข้อมูลผู้สมัครตามภูมิลำเนา และจัดลำดับผู้มีคุณสมบัติเข้ารับการอบรม</p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <ul class="">
                                <li  style="color: white;">
                                    <a style="color: white;">ขั้นตอนที่ 4</a>
                                    <p style="color: white;" >- ประกาศผลผู้มีสิทธิ์เข้ารับการอบรมทาง จังหวัดละไม่เกิน 5-6 คน ผ่านช่องทางเว็บไซต์และแอปพลิเคชัน “อาสาสมัครดิจิทัล”</p>
                                </li><br>
                                <li  style="color: white;">
                                    <a style="color: white;">ขั้นตอนที่ 5</a>
                                    <p style="color: white;;" >- ผู้มีสิทธิ์เข้ารับการอบรมยืนยันการเข้าอบรมผ่านลิงก์ใน SMS ที่แจ้งผล หรือ ลิงก์ในช่องประกาศผลบนเว็บไซต์ฯ/แอปพลิเคชัน “อาสาสมัครดิจิทัล”</p>
                                </li>
                              
                          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>  -->


<section style="background-color: white;" class="services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>สิทธิประโยชน์</h2>
            <p>สำหรับผู้ที่ได้รับการคัดเลือกเป็น อาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน</p>
        </div>

        <div class="services-slider owl-theme owl-carousel">
            <div class="services-item">
                <a >
                    <img src="assets/img/Logo_02.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <h3>1. เข้ารับการอบรม 2 วัน 1 คืน โดยไม่เสียค่าใช้จ่าย</h3>
                </a>
            </div>

            <div class="services-item">
                <a >
                    <img src="assets/img/Logo_02.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <h3>2. สนับสนุนค่าใช้จ่ายเดินทางตามระเบียบการฝึกอบรมของทางราชการ</h3>

                </a>
            </div>

            <div class="services-item">
                <a >
                    <img src="assets/img/Logo_02.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <h3>3. ค่าตอบแทนการปฏิบัติภารกิจ</h3>
                </a>
            </div>


        </div>
    </div>
</section>

<section style="background-color: white;" class="services-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>กำหนดการจัดกิจกรรม</h2>
        </div>

        <div class="services-slider owl-theme owl-carousel d-flex justify-content-center">
            <div class="services-item">
                <a >
                    <img src="assets/img/services-details/map.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <!-- <h3>ครั้งที่ 1</h3> -->
                    <p>11 - 12 มี.ค. 2565</p>
                    <p>โรงแรมปริ๊นซ์ พาเลซ กรุงเทพมหานคร</p>
                </a>
            </div>

            <!-- <div class="services-item">
                <a >
                    <img src="assets/img/services-details/map.png" alt="services-image">
                    <h3>ครั้งที่ 2</h3>
                    <p>17 – 18 ม.ค. 2565</p>
                    <p>โรงแรม เบสท์เวสเทิร์น พลัส แวนดา แกรนด์ นนทบุรี</p>

                </a>
            </div>

            <div class="services-item">
                <a >
                    <img src="assets/img/services-details/map.png" alt="services-image">
                    <h3>ครั้งที่ 3</h3>
                    <p>20 – 21 ม.ค. 2565</p>
                    <p>โรงแรม ทีเค. พาเลซ แอนด์ คอนเวนชั่น กรุงเทพมหานคร</p>
                  
                </a>
            </div> -->


        </div>
    </div>
</section>

<!-- <section style="background-color: white;" class="contact-location-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>กำหนดการจัดกิจกรรม</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <i class='bx bxs-time-five'></i>
                    <ul>
                        <li>ครั้งที่ 1</li>
                        <li>13 – 14 ธ.ค. 2564</li>
                        <li>ณ โรงแรมเบสท์เวสเทิร์น พลัส แวนดา แกรนด์</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="location-item active">
                    <i class='bx bxs-location-plus'></i>
                    <ul>
                        <li>ครั้งที่ 2</li>
                        <li>17 – 18 ม.ค. 2565</li>
                        <li>ณ โรงแรม อมารี ดอนเมือง แอร์พอร์ต</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="location-item">
                    <i class='bx bxs-location-plus'></i>
                    <ul>
                        <li>ครั้งที่ 3</li>
                        <li>20 – 21 ม.ค. 2565</li>
                        <li>ณ โรงแรม อมารี ดอนเมือง แอร์พอร์ต</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section style="background-color: rgb(43, 17, 14)" class="join-area join-area-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-img">
                    <img src="assets/img/about/mascot-02new.png" alt="Join">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="join-content">
                    <div class="section-title">
                        <h2 style="color:#ffbe00">ลงทะเบียนเข้ารับการอบรม</h2>
                        <p style="font-size: large;">ท่านได้อ่านรายละเอียดทั้งหมดอย่างครบถ้วน
                            พร้อมต่อการลงทะเบียนเข้ารับการอบรมเป็นอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน
                            ของกระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</p>
                    </div>
                    <a class="cmn-btn" href="http://tdv.netpracharat.com/admin/checkRegister">ลงทะเบียน
                        คลิกที่นี่</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="download-area-two pt-100 pb-70">
    <div class="download-shape">
        <img src="assets/img/home-one/reservation-shape.png" alt="Download">
        <img src="assets/img/about/download2.png" alt="Download">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="download-item">
                    <h2>Download Our Mobile App That Make You More Easy to Order</h2>
                    <ul>
                        <li><a href="#"><img src="assets/img/home-two/google-store.png" alt="Google"></a></li>
                        <li><a href="#"><img src="assets/img/about/app.png" alt="App"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="download-img">
                    <img src="assets/img/home-one/subscribe-main.png" alt="Download">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="chef-area chef-area-two pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Special Chefs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/1.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>John Doe</h3>
                            <span>Head of Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/6.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>John Smith</h3>
                            <span>Assistant Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item active">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/3.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Evanaa</h3>
                            <span>Intern Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/7.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Knot Doe</h3>
                            <span>Asst. Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <app-footer-style-two></app-footer-style-two> -->