$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
// $black-color: #0b0320;
$black-color: #000;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;
.page-title-img-one {
    // background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.41) 0%, rgba(20, 20, 20, 0.41) 100%), url('../../../../assets/img/about/S__33718319.jpg');
    background-color:  $yellow-color;
}

.page-title-area {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 135px;
}
.story-area {
    text-align: justify;
    position: relative;

    .story-shape {
        img {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 135px;
        }
    }
    .story-head {
        margin-bottom: 50px;

        h2 {
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 25px;
            margin-top: -10px;
        }
        p {
            max-width: 825px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            font-family: 'Prompt';
        }
    }
    .story-item {
        margin-bottom: 30px;
        position: relative;
        // transition: $transition;

        &:hover {
            transform: translate(0, -25px);

            h3 {
                transform: translate(0, 30px);
                color: $white-color;
                background-color: $yellow-color;
            }
        }
        img {
            width: 100%;
            border-radius: 12px;
        }
        h3 {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            font-family: 'Prompt', sans-serif;
            background-color: $white-color;
            border-radius: 10px;
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            padding: 18px;
            margin-bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -65px;
            // transition: $transition;
        }
    }
}

.services-item {
    text-align: center;
    padding: 32px 20px 30px;
    border-radius: 25px;
    transition: $transition;
    position: relative;

    a {
        display: block;
    }
    &:hover {
        background-color: $yellow-color;

        .service-shape {
            opacity: 1;
            border-radius: 25px;
        }
        h3 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
    }
    img {
        margin-bottom: 20px;
        width: auto !important;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .service-shape {
        position: absolute;
        top: 0;
        left: 0;
        transition: $transition;
        opacity: 0;
        width: 100% !important;
        height: 100% !important;
        margin-bottom: 0;
    }
    h3 {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
        transition: $transition;
        color: $black-color;
        font-family: "Prompt";
    }
    p {
        margin-bottom: 0;
        transition: $transition;
        color: $gray-color;
    }
}
.services-slider {
    margin-bottom: -9px;

    .center {
        background-color: $yellow-color;
        border-radius: 25px;

        .service-shape {
            opacity: 1;
        }
        h3 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
    }
    .owl-prev {
        height: 40px;
        width: 40px;
        line-height: 45px !important;
        border-radius: 50% !important;
        text-align: center;
        color: $white-color !important;
        background-color: #ffe7a2 !important;
        font-size: 25px !important;
        transition: $transition;
        position: absolute;
        top: 45%;
        left: -55px;
        opacity: 0;

        &:hover {
            background-color: $yellow-color !important;
        }
    }
    .owl-next {
        height: 40px;
        width: 40px;
        line-height: 45px !important;
        border-radius: 50% !important;
        text-align: center;
        color: $white-color !important;
        background-color: #ffe7a2 !important;
        font-size: 25px !important;
        transition: $transition;
        position: absolute;
        top: 45%;
        right: -55px;
        opacity: 0;

        &:hover {
            background-color: $yellow-color !important;
        }
    }
    &:hover {
        .owl-prev {
            opacity: 1;
            left: -48px;
        }
        .owl-next {
            opacity: 1;
            right: -48px;
        }
    }
}
.read-blog-btn {
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: $black-color;
    border-bottom: 1px solid $black-color;

    &:hover {
        color: $yellow-color;
        border-bottom: 1px solid $yellow-color;
    }
}

.contact-location-area {
    background-color: $white-color;

    .location-item {
        text-align: center;
        background-color: $white-color;
        padding: 40px 20px 40px;
        border-radius: 20px;
        position: relative;
        margin-bottom: 30px;
        transition: $transition;
        z-index: 1;

        &:hover, &.active {
            background-color: $yellow-color;

            img {
                opacity: 1;
            }
            i {
                color: $white-color;
                background-color: $black-color;
            }
            ul {
                li {
                    color: $white-color;
                }
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $transition;
            z-index: -1;
        }
        i {
            width: 65px;
            height: 65px;
            line-height: 65px;
            border-radius: 50%;
            text-align: center;
            display: block;
            font-size: 33px;
            color: $black-color;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            transition: $transition;
            background-color: $yellow-color;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                color: $black-color;
                font-weight: 500;
                font-size: 16px;
                transition: $transition;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    color: $black-color;

                    &:hover {
                        color: $white-color;
                    }
                }
            }
        }
    }
}
