<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<div class="navbar-area fixed-top">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/Logo_02.png" style="height: 40px;width: 40px;"
                alt="Logo"></a>
    </div>
    <div class="main-nav main-nav-two">
        <div class="container col-lg-12">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img class="nav-two-logo-one" src="assets/img/Logo_02.png" style="height: 70px;width: 70px;"
                        alt="Logo">
                    <img class="nav-two-logo-two" src="assets/img/Logo_02.png" style="height: 70px;width: 70px;"
                        alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
               
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item pull-left">
                            <a routerLink="/categories" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Categories</a>
                        </li> -->

                        <li class="nav-item">
                            <a routerLink="/home" routerLinkActive="active" href="javascript:void(0)"
                            [routerLinkActiveOptions]="{exact: true}" class="nav-link dropdown-toggle">หน้าหลัก
                                <!-- <i class='bx bx-chevron-down'></i> -->
                            </a>

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page One</a></li>
                                
                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Three</a></li>
                            </ul> -->
                        </li>

                        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">เกี่ยวกับเรา</a></li>

                     
                  

                        <li class="nav-item"><a class="nav-link" href="javascript:void(0)" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">ข่าวสาร/ประกาศ
                            <i class='bx bx-chevron-down'></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" routerLink="/volunteernews" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">กิจกรรมเครือข่าย</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/digitalnews" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ข่าวสารการประยุกต์ใช้ดิจิทัล</a></li>

                            <li class="nav-item"><a routerLink="/news-general" class="nav-link"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ข่าวสารดิจิทัลอัปเดต</a></li>

                            <!-- <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Three</a></li> -->
                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                        <a routerLink="/services" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" href="javascript:void(0)"
                            class="nav-link dropdown-toggle">ภารกิจ อสด. <i class='bx bx-chevron-down'></i></a>

                        <ul class="dropdown-menu">
                            <li class="nav-item"><a routerLink="/services" class="nav-link"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">กิจกรรมอาสา</a></li>

                            <li class="nav-item"><a routerLink="/services-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services Details</a></li>
                        </ul>
                    </li> -->

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">องค์ความรู้<i
                                class='bx bx-chevron-down'></i></a>

                        <ul class="dropdown-menu">
                            <li class="nav-item"><a routerLink="/knowledge" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">สื่อการเรียนรู้</a></li>

                            <!-- <li class="nav-item"><a routerLink="/blog-details" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">สสส.</a>
                            </li> -->


                        </ul>
                    </li>

                    <li class="nav-item">
                        <a outerLink="/classdirectory" href="javascript:void(0)" class="nav-link" routerLink="/classdirectory"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            class="nav-link dropdown-toggle">ทำเนียบรุ่น
                            <!-- <i class='bx bx-chevron-down'></i> -->
                        </a>

                        <!-- <ul class="dropdown-menu">
                            <li class="nav-item"><a routerLink="/food-collection" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Food
                                    Collection</a></li>

                            <li class="nav-item"><a routerLink="/online-order" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Online
                                    Order</a></li>

                            <li class="nav-item"><a routerLink="/chefs" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Chefs</a></li>

                            <li class="nav-item"><a routerLink="/book-table" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Book A
                                    Table</a></li>

                            <li class="nav-item"><a routerLink="/cart" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Cart</a></li>

                            <li class="nav-item"><a routerLink="/checkout" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Checkout</a>
                            </li>

                            <li class="nav-item"><a routerLink="/coming-soon" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Coming
                                    Soon</a></li>

                            <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">FAQ</a></li>

                            <li class="nav-item"><a routerLink="/terms-conditions" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Terms &
                                    Conditions</a></li>

                            <li class="nav-item"><a routerLink="/privacy-policy" class="nav-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Privacy
                                    Policy</a></li>

                            <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">404 Error</a></li>
                        </ul> -->

                    </li>
                      
                        <li class="nav-item">
                            <a routerLink="/otherservices" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">บริการ
                            </a>

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page One</a></li>
                                
                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Three</a></li>
                            </ul> -->
                        </li>

<!-- 
                        <li class="nav-item">
                            <a routerLink="/faq" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">คำถามที่น่าสนใจ
                            </a> -->

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page One</a></li>
                                
                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Three</a></li>
                            </ul> -->
                        <!-- </li> -->
                        <app-login-nav-component></app-login-nav-component>
                        <!-- <li class="nav-item">
                            <a href="http://tdv.netpracharat.com/registervolunteer">ลงทะเบียน</a>
                        </li> -->
                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">ติดต่อเรา
                            </a>

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page One</a></li>
                                
                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Three</a></li>
                            </ul> -->
                        </li>

                        <!-- <div class="side-nav">
    
                            <a class="nav-tel" href="tel:02-142-1160"><i class='bx bxs-phone-call'></i></a>
                          
                        </div> -->
                    </ul>

                

                
<!-- 
                    <div class="side-nav">
                        <a class="nav-cart" routerLink="/cart"><i class='bx bxs-cart'></i> <span>1</span></a>
                     
                            <a class="nav-cart" routerLink="/"><i class='bx bxs-cart'></i> <span>1</span></a>
    
                            <a class="nav-tel" href="tel:02-141-6747"><i class='bx bxs-phone-call'></i> 02-141-6747</a>
                      
                        <button type="button" class="btn modal-btn" data-toggle="modal" data-target="#myModalRight"><i
                                class='bx bx-menu-alt-right'></i></button>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
</div>

<div id="myModalRight" class="modal fade modal-right" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="assets/img/logo.png" alt="Logo">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h2>โครงการการพัฒนาเครือข่ายอาสาสมัครดิจิทัล
                    (อสด.)</h2>
                <p style="text-align: justify;">ภารกิจหลักของ “แกนนำอาสาสมัครดิจิทัล” ได้รับการอบรมแล้วจะไปขยายผลสร้างเครือข่ายอาสาสมัครดิจิทัลโดยไปแนะนำการใช้
                    "แอปพลิเคชันอาสาสมัครดิจิทัล"ให้เป็นช่องทางการรับรู้ข้อมูลข่าวสารที่เป็นภารกิจสำคัญของกระทรวงฯโดยเฉพาะในส่วนที่เกี่ยวข้องกับประชาชนทั่วไปในส่วนภูมิภาค และถ่ายทอดองค์ความรู้ด้านดิจิทัลอื่น ๆ ที่เป็นประโยชน์ต่อประชาชนในพื้นที่</p>


                <!-- <div class="image-area">
                    <h2>Instagram</h2>

                    <div class="row">
                        <div class="col-lg-4">
                            <a href="#" target="_blank"><img src="assets/img/home-one/blog1.jpg" alt="Instagram"></a>
                        </div>

                        <div class="col-lg-4">
                            <a href="#" target="_blank"><img src="assets/img/home-one/blog2.jpg" alt="Instagram"></a>
                        </div>

                        <div class="col-lg-4">
                            <a href="#" target="_blank"><img src="assets/img/home-one/blog3.jpg" alt="Instagram"></a>
                        </div>

                        <div class="col-lg-4">
                            <a href="#" target="_blank"><img src="assets/img/home-one/blog4.jpg" alt="Instagram"></a>
                        </div>

                        <div class="col-lg-4">
                            <a href="#" target="_blank"><img src="assets/img/home-one/blog5.jpg" alt="Instagram"></a>
                        </div>

                        <div class="col-lg-4">
                            <a href="#" target="_blank"><img src="assets/img/home-one/blog6.jpg" alt="Instagram"></a>
                        </div>
                    </div>
                </div> -->

                <div class="social-area">
                    <h3>ช่องทางการติดต่อออนไลน์</h3>

                    <ul>
                        <li><a href="javascript:void(0)"  (click)="openFacebook()" style="color: #0066FF;" target="_blank"><i class="lni lni-facebook-oval" style="font-size: 26px;" ></i></a></li>
                        <!-- <li><a href="javascript:void(0)"  (click)="openLineOpenChat()" style="color: #2BB700;" target="_blank"><i class='lni lni-line'style="font-size: 26px;" ></i></a></li> -->
                        <li><a href="#" style="color: #ffbe00"target="_blank" ><i class='fa fa-envelope' style="font-size: 26px;"></i></a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>