<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>เกี่ยวกับเรา</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>โครงการการพัฒนาอาสาสมัครดิจิทัล (อสด.)</li>
            </ul>
        </div>
    </div>
</div>


<section class="story-area ptb-100 ">
    <!-- <div class="story-shape"><img src="assets/img/about/story3.png" alt="Shape"></div> -->

    <div class="container">

        <div class="col-lg-12 ">



            <h2 style="font-family: Prompt; font-size: 40px; text-align: center; margin-bottom: 50px;">
                โครงการการพัฒนาอาสาสมัครดิจิทัล (อสด.)</h2>
            <p style="font-size: 19px;">ปีงบประมาณ พ.ศ. ๒๕๖๓ เป็นก้าวแรกของการพัฒนา อสด. กระทรวงฯ
                ได้จัดทำกรอบสมรรถนะที่เหมาะสมเพื่อจัดทำเป็นหลักสูตรการพัฒนา อสด. ซึ่งประกอบด้วย ๑) สมรรถนะพื้นฐาน อาทิ
                ภารกิจและโครงการสำคัญของหน่วยงานในสังกัดกระทรวงฯ บทบาทหน้าที่ของ อสด. ในการช่วยเหลือ ให้คำแนะนำ
                รวมถึงช่องทางในการประสานงานและสืบค้นข้อมูลเพิ่มเติมได้อย่างถูกต้อง และ ๒) สมรรถนะด้านดิจิทัลต่าง ๆ อาทิ
                การรู้เท่าทันดิจิทัล การใช้ดิจิทัลในการแก้ไขปัญหาและสร้างโอกาส รวมถึงการปรับใช้ดิจิทัลในชีวิตประจำวัน

            </p>
            <p style="font-size: 19px;">พร้อมนี้ กระทรวงฯ ได้สร้าง “แกนนำ อสด.” ในทุกอำเภอทั่วประเทศ จำนวน ๙๔๕ คน
                เพื่อเป็นแกนนำหรือผู้ประสานงานในระดับอำเภอ เปรียบเสมือนโซ่ข้อกลางในการขับเคลื่อนภารกิจ
                โดยเป็นเจ้าหน้าที่จากสำนักงานสถิติจังหวัดเป็นแกนหลัก ร่วมด้วยเจ้าหน้าที่ บมจ. ทีโอที ในพื้นที่ ซึ่งแกนนำ
                อสด. ที่ผ่านการอบรม ถือว่าเป็น Digital Change Agent ในระดับพื้นที่
                และได้ไปปฏิบัติภารกิจขยายผลเพื่อสร้างเครือข่าย อสด. ในระดับหมู่บ้าน โดยกระทรวงฯ ได้พัฒนาแอปพลิเคชัน
                “อาสาสมัครดิจิทัล” เพื่อสนับสนุนการทำงานในการช่วยเหลือให้คำแนะนำกับประชาชน
                และเป็นช่องทางเข้าถึงข้อมูลข่าวสารที่เป็นประโยชน์ เช่น ภารกิจสำคัญของกระทรวงฯ ที่เกี่ยวข้องกับประชาชน
                องค์ความรู้ด้านดิจิทัล หลักสูตรการเรียนออนไลน์ที่น่าสนใจให้สามารถเลือกเรียนด้วยตนเอง
                และให้บริการออนไลน์ของหน่วยงานในสังกัดกระทรวงฯ รวมทั้งการตรวจสอบข่าวปลอมผ่านแอปพลิเคชันได้โดยตรง
                นอกจากนี้ ได้สนับสนุน SIM Card อสด. และช่องทางการสื่อสารดังนี้ เว็บไซต์อาสาสมัครดิจิทัล
                http://tdv.netpracharat.com และ Facebook Fan page “อาสาสมัครดิจิทัล”

            </p>
            <p style="font-size: 19px;">นอกจากนี้ กระทรวงฯ ยังได้จัดกิจกรรมเพื่อส่งเสริมการสร้างเครือข่าย อสด.
                และการใช้แอปพลิเคชันในรูป Roadshow ตามภูมิภาคต่าง ๆ และจัดกิจกรรมออนไลน์ผ่านแอปพลิเคชันอาสาสมัครดิจิทัล
                ได้แก่ กิจกรรมการสะสมแต้มเพื่อแลกของรางวัล กิจกรรมการประกวดตั้งชื่อ Mascot “หนุ่มนักอาสา” และ
                “กระรอกน้อย” การประกวดสร้าง “สโลแกนอาสาสมัครดิจิทัล”
                โดยกิจกรรมการประกวดดังกล่าวได้ประกาศผลการประกวดไปเรียบร้อย

            </p>
            <p style="font-size: 19px;">ปีงบประมาณ พ.ศ. ๒๕๖๔ เป็นการดำเนินงานที่ต่อเนื่อง เพื่อพัฒนาเครือข่าย อสด.
                ให้เป็น อสด. ประจำหมู่บ้าน ซึ่งจากงบประมาณที่ได้รับการจัดสรร สามารถพัฒนา อสด. ประจำหมู่บ้าน
                ได้จำนวนประมาณ ๓๖๐ คน โดยจะพัฒนาหลักสูตรการพัฒนา อสด. ให้เป็นในรูปแบบ e-Learning
                พร้อมทั้งประชาสัมพันธ์เชิญชวนในช่องทางต่าง ๆ เพื่อให้เครือข่าย อสด. ได้เข้าเรียน e-Learning
                และคัดเลือกตัวแทนเครือข่าย อสด. ที่ผ่านการอบรม e-Learning
                ของแต่ละจังหวัดตามหลักเกณฑ์มาเข้ารับการอบรมพัฒนาให้เป็น “อสด. ประจำหมู่บ้าน” ซึ่งภายหลังการอบรมฯ อสด.
                ประจำหมู่บ้าน จะต้องไปดำเนินกิจกรรมเพื่อให้เกิดการต่อยอดด้านดิจิทัลในหมู่บ้านของตนเอง และกระทรวงฯ
                จะจัดกิจกรรมเพื่อคัดเลือก อสด. ประจำหมู่บ้านต้นแบบ จำนวน ๑๐ หมู่บ้าน พร้อมนำมาถอดบทเรียน
                เพื่อสร้างต้นแบบการพัฒนาดิจิทัลในพื้นที่ และขยายผลสู่พื้นที่อื่นในระยะต่อไป

            </p>
            <p style="font-size: 19px;">ปีงบประมาณ พ.ศ. ๒๕๖๕ อยู่ระหว่างการรอรับการจัดสรรงบประมาณ
                ซึ่งจะเป็นการดำเนินงานต่อเนื่องจากปีงบประมาณ พ.ศ. ๒๕๖๓ และ พ.ศ. ๒๕๖๔ เพื่อให้มี อสด.
                ประจำหมู่บ้านเพิ่มขึ้น โดยมีเป้าหมายให้ทุกหมู่บ้านทั่วประเทศมี อสด. ประจำหมู่บ้าน ซึ่งจากงบประมาณปี พ.ศ.
                ๒๕๖๕ ที่ได้รับการจัดสรร สามารถพัฒนา อสด. ประจำหมู่บ้านได้เพิ่มขึ้นอีกจำนวนประมาณ ๑๘๐ คน ทั้งนี้ กระทรวงฯ
                จะปรับปรุงหลักสูตรและแอปพลิเคชันให้ทันสมัย สอดคล้องเหมาะสมกับสถานการณ์ในปัจจุบัน
                และคัดเลือกตัวแทนเครือข่าย อสด. จำนวน ๑๘๐ คน มาอบรมให้เป็น อสด. ประจำหมู่บ้าน เพื่อพัฒนาศักยภาพ
                พัฒนากระบวนการเรียนรู้
                และพัฒนาสมรรถนะด้านดิจิทัลเพื่อให้เกิดการต่อยอดการใช้ประโยชน์ด้านดิจิทัลตามบริบทของหมู่บ้านตนเอง

            </p>
            <p style="font-size: 19px;">ทั้งนี้ กระทรวงฯ มีเป้าหมายในการพัฒนา อสด. ประจำหมู่บ้าน
                ให้ครอบคลุมทุกหมู่บ้านทั่วประเทศ เพื่อเป็นตัวแทนของกระทรวงฯ ในระดับพื้นที่ ที่รู้จักบทบาท ภารกิจ
                และบริการของหน่วยงานภายใต้สังกัดกระทรวงฯ เป็นกำลังสำคัญในการช่วยเหลือ ให้คำแนะนำ
                ลดความตื่นตระหนกจากข่าวปลอม และลดการกระทำผิดทางคอมพิวเตอร์
                รวมทั้งเสริมสร้างทักษะความรู้ความเข้าใจด้านดิจิทัลที่ถูกต้องให้แก่ประชาชนในพื้นที่
                เพื่อให้เกิดการใช้ดิจิทัลอย่างสร้างสรรค์ และสามารถต่อยอดการใช้ประโยชน์จากดิจิทัลให้มีความหลากหลาย
                ยกระดับคุณภาพชีวิตของชาวบ้าน สร้างรายได้ให้กับชุมชน
                และยังมีส่วนร่วมในการสร้างภูมิคุ้มกันด้านดิจิทัลให้แก่ประชาชนชาวไทย


            </p>
        </div>

        <!-- <div class="row pt-101">
            <div class="col-sm-6 col-lg-6">

                <div class="story-item">
                    <img src="assets/img/about/whatASD.jpg" alt="Story">
                    <h3>มารู้จักอาสาสมัครดิจิทัลกันดีกว่า</h3>
                </div>
                
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="story-item">
                    <img src="assets/img/about/อสด-01.jpg" alt="Story">
                    <h3>อาสาสมัครดิจิทัล</h3>
                </div>
            </div>
        </div>

        <div class="row pt-101">
            <div class="col-sm-6 col-lg-6">
                <div class="story-item">
                    <img src="assets/img/about/basicKnowledge.jpg" alt="Story">
                    <h3>ความรู้พื้นฐานของแกนนำ อสด. สำคัญอย่างไร?</h3>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6 ">
                <div class="story-item">
                    <img src="assets/img/about/benefits.jpg" alt="Story">
                    <h3>ภารกิจและสิทธิประโยชน์</h3>
                </div>
            </div>
        </div> -->
    </div>




</section>


<section style="background-color: #F4F4F4;" class="services-area ptb-100">


    <div class="container ">



        <div class="section-title">
            <h2>วัตถุประสงค์ของโครงการ </h2>
            <p>วัตุประสงค์หลักในการจัดทำโครงการการพัฒนาอาสาสมัครดิจิทัลของกระทรวงเพื่อเศรษฐกิจและสังคม.</p>
        </div>

        <div class="services-slider owl-theme owl-carousel">

            <div class="services-item">
                <a>
                    <img src="assets/img/services-details/02.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <h3>วัตถุประสงค์ข้อที่ 2</h3>
                    <p>เพื่อพัฒนาเครือข่ายอาสาสมัครดิจิทัล (อสด.)
                        ให้เป็นตัวเทนของกระทรวงในการสร้างการรับรู้เข้าใจเกี่ยวกับดิจิทัลและข่าวสารอื่นๆ ที่มากับดิจิทัล
                    </p>
                </a>
            </div>

            <div class="services-item">
                <a>
                    <img src="assets/img/services-details/03.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <h3>วัตถุประสงค์ข้อที่ 3</h3>
                    <p>เพื่อปรับปรุงเครื่องมือเพื่อเป็นช่องทางการประสานงานระหว่างหน่วยงานในกระทรวงและอาสาสมัครดิจิทัล
                        พร้อมระบบติดตามประเมินผลให้รองรับการทำงานที่เพิ่มมากขึ้น</p>
                </a>
            </div>


            <div class="services-item">
                <a>
                    <img src="assets/img/services-details/07.png" alt="services-image">
                    <!-- <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image"> -->
                    <h3>วัตถุประสงค์ข้อที่ 1 </h3>
                    <p>เพื่อพัฒนาแกนนำอาสาสมัครดิจิทัล (อสด.)ระดับอำเภอ
                        ให้เป็นกลไกการประสานงานและการสร้างเครือข่ายในระดับหมู่บ้านและชุมชนต่อไป
                    </p>
                </a>
            </div>


            <!-- <div class="services-item">
                <a routerLink="/services-details">
                    <img src="assets/img/home-one/services3.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>Discount Voucher</h3>
                    <p>Fresh food is food which has not been preserved and has not spoiled yet. Fo vegetables and fruits, this means.</p>
                </a>
            </div> -->
        </div>
    </div>
</section>




<!-- <div class="container pt-100 ptb-100">
    <div class="col-lg-12">

        <h2 style="font-family: Prompt;">การดำเนินงานโครงการปี 2563</h2>
        <p>1.พัฒนาแอปพลิเคชันสำหรับใช้เป็นเครื่องมือในการดำเนินงานของเครือข่ายอาสาสมัครดิจิทัลและเป็นช่องทางในการประสานงานระหว่างอาสาสมัครฯ
            และหน่วงงงานในกระทรวงฯ </p>
        <p>2.จัดอบรมแกนนำอาสาสมัครดิจิทัล ซึ่งเป็นทีมบุคลากรจังหวัดในหน่วยงานภายใต้สงักัดกระทรวงฯ จำนวน 880 คน ใน 878
            อำเภอ</p>
        <p>3.สร้างเครือข่ายอาสาสมัครดิจิทัลให้มีความรู้ความเข้าใจเกี่ยวกับการใช้งานดิจิทัลเพื่อทำหน้าที่ตามที่กระทรวงได้มอบหมาย
            เช่น เก็บข้อมูลทางสถิติ ข้อมูลชุมชน รวมถึงการประชาสัมพันธ์ให้ประชาชนเข้าร่วมกิจกรรมของภาครัฐ</p>
    </div>

</div> -->

<section class="story-area ptb-100">
    <!-- <div class="story-shape"><img src="assets/img/about/story3.png" alt="Shape"></div> -->

    <!-- <div class="container">

        <div class="col-lg-12">
            <div class="section-title"><span class="sub-title">อาสาสมัครดิจิทัล</span>
                <h2>กรอบการดำเนินการโครงการ</h2>
                <p></p>
            </div>
        </div> -->

        <!-- <div class="col-lg-12">
            <div class="story-item">
                <img style="height:  auto; width: auto;" src="assets/img/about/ขั้นตอนสร้างอสด_edit4-01.jpg" alt="Download">
                <h3>กรอบการดำเนินการ</h3>
            </div>
        </div> -->
        <!-- <div class="row pt-101">
            <div class="col-sm-6 col-lg-6">
                <div class="story-item">
                    <img src="assets/img/about1.jpg" alt="Story">
                    <h3>กรอบการดำเนินการปี 2563</h3>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="story-item">
                    <img src="assets/img/about/projectPlan64.jpg" alt="Story">
                    <h3>กรอบการดำเนินการปี 2564</h3>
                </div>
            </div>
        </div>
    </div> -->
</section>







<!-- 
<section class="chef-area chef-area-two pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Special Chefs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/1.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>John Doe</h3>
                            <span>Head of Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/6.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>John Smith</h3>
                            <span>Assistant Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item active">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/3.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Evanaa</h3>
                            <span>Intern Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="chef-item">
                    <div class="chef-top">
                        <img src="assets/img/home-one/chef/7.jpg" alt="Chef">
                        <div class="chef-inner">
                            <h3>Knot Doe</h3>
                            <span>Asst. Chef</span>
                        </div>
                    </div>
                    <div class="chef-bottom">
                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="banner-area pb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1 style="font-family: Prompt;">อาสาสมัครดิจิทัล</h1>
                            <h3 style="font-family:Prompt; color: #404040;">สัญลักษณ์</h3>
                            <p>ความหมายของสัญลักษณ์อาสาสมัครดิจิทัล.</p>
                            <h3 style="font-family:Prompt; color: #404040;">สีน้ำตาล/สีเหลือง</h3>
                            <p>เป็นสีของพื้นดินและความอุดมสมบูรณ์ในธรรมชาติ</p>
                            <p>สีเหลืองรูปคนหมายถึง คนที่มีความอบอุ่นสร้างความสุข และความหวัง
                                "เปรียบเสมือนโซ่ข้อกลาง ในการขับเคลื่อนภารกิจ"
                            </p>
                            <h3 style="font-family:Prompt; color: #404040;">กระรอก</h3>
                            <p>สื่อถึงความคล่องแคล่ว ปราดเปรียว ว่องไว</p>
                            <p>ถือโทรศัพท์มือถือบ่งบอกถึงความพร้อมในการขับเคลื่อนภารกิจด้านดิจิทัล</p>

                            <h3 style="font-family:Prompt; color: #404040;">คนรุ่นใหม่</h3>
                            <p>มีความสนใจและใฝ่รู้ด้านเทคโนโลยีดิจิทัลพร้อมที่จะให้คำแนะนำ ช่วยเหลือผู้อื่น</p>


                        </div>

                        <div class="container">
                            <div class="banner-content">

                                <div class="banner-btn-wrap">
                                    <a href="javascript:void(0)" class="cmn-btn"
                                        (click)="openResgis()">สมัครเครือข่ายอาสา</a>
                                    <a routerlink="/" class="cmn-btn"
                                        href="https://drive.google.com/drive/folders/14CHENKt-HNEPdNDxiJtFVLayNwmR0Hce">ดาวน์โหลดสัญลักษณ์</a>
                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="banner-slider owl-theme owl-carousel">
                            <div class="slider-item">
                                <img src="assets/img/Logo_02.png" alt="Slider">
                            </div>

                            <div class="slider-item">
                                <img src="assets/img/about/mascot-02new.png" alt="Slider">
                            </div>

                            <div class="slider-item">
                                <img src="assets/img/about/mascot-06new.png" alt="Slider">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="join-area join-area-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-img">
                    <img src="assets/img/about/mascot-02new.png" alt="Join">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="join-content">
                    <div class="section-title">
                        <h2 style="color:#ffbe00">ร่วมเป็นอาสาสมัครดิจิทัล</h2>
                        <p style="font-size: large;">"คุณ" ช่วยได้!! มาร่วมกันแบ่งปันความรู้ด้านดิจิทัลที่ถูกต้อง
                            เพียงเข้าร่วมเป็น "เครือข่ายอาสาสมัครดิจิทัล"</p>
                    </div>
                    <a class="cmn-btn" href="http://tdv.onde.go.th/admin/registervolunteer">ลงทะเบียน คลิก</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-style-one></app-footer-style-one>