$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;

      /*-- Page Title --*/
      .page-title-img-one {
          background-image: url('../../../../assets/img/headerASD/header_about.jpg');
      
      }
      
      .page-title-area {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 230px;
          padding-bottom: 135px;
      }
      .page-title-item {
          padding-left: 40px;
          position: relative;
      
          &:before {
              position: absolute;
              content: '';
              width: 10px;
              height: 100px;
              left: 0;
              top: 0;
              border-radius: 50px;
              background-color:   #0b0320;
          }
          h2 {
              font-size: 40px;
              color: #0b0320;
              margin-bottom: 10px;
              font-family: "Prompt", sans-serif;
          }
          ul {
              margin: 0;
              padding: 0;
      
              li {
                  list-style-type: none;
                  display: inline-block;
                  color:  #0b0320;
      
                  i {
                      display: inline-block;
                      font-size: 25px;
                      position: relative;
                      top: 6px;
                      color:   #0b0320;
                    font-size: 25px;

                  }
                  a {
                      display: inline-block;
                      color:  #0b0320;
                    font-size: 25px;
                      
      
                      &:hover {
                        color:  #ffbe00;
                      }
                  }
              }
          }
      }
      /*-- End Page Title --*/
      .download-area {
        .download-content {
            margin-bottom: 30px;
      
            .section-title {
                text-align: left;
            }
            ul {
                margin: 0;
                padding: 0;
      
                li {
                    list-style-type: none;
                    display: block;
                    padding: 20px 20px 20px;
                    background-color: $white-color;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px 0px #dddddd52;
                    margin-bottom: 30px;
                    max-width: 350px;
                    font-weight: 500;
                    font-size: 20px;
                    color: $black-color;
                    transition: $transition;
                    border: 1px solid transparent;
      
                    &:hover {
                        margin-left: 15px;
                        border: 1px solid $yellow-color;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: $yellow-color;
                        color: $black-color;
                        display: inline-block;
                        font-weight: 600;
                        font-size: 25px;
                        margin-right: 15px;
                        box-shadow: 0px 0px 20px 0px #dddddd52;
                    }
                }
            }
            .app-wrap {
                margin-top: 50px;
      
                a {
                    display: inline-block;
                    margin-right: 20px;
                    max-width: 180px;
      
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

      .download-img {
        margin-bottom: 30px;
        text-align: center;

        img {
            animation: download-animation 3s infinite linear;
            border-radius: 20px;
        }
    }

   
/*-- Restant--*/
.restant-area {
    padding-top: 150px;
    position: relative;
    padding-bottom: 130px;

    .restant-shape {
        img {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 100px;
        }
    }
    .restant-content {
        max-width: 600px;
        padding-left: 20px;
    
        .section-title {
            text-align: left;
            margin-bottom: 35px;
    
            p {
                max-width: 100%;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
    .restant-img {
        text-align: center;
        position: relative;
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        
        img {
            &:nth-child(1) {
                position: relative;
                max-width: 850px;
                margin-left: auto;
                margin-right: auto;
            }
            &:nth-child(2) {
                position: absolute;
                left: 0;
                right: 0;
                top: -50px;
                margin-left: auto;
                margin-right: auto;
                max-width: 280px;
                animation: restant-amination 10s infinite linear;
            }
            &:nth-child(3) {
                position: absolute;
                top: 175px;
                right: -50px;
                max-width: 260px;
                animation: restant-amination 10s infinite linear;
            }
            &:nth-child(4) {
                position: absolute;
                left: 0;
                right: 0;
                max-width: 260px;
                bottom: -100px;
                margin-left: auto;
                margin-right: auto;
                animation: restant-amination 10s infinite linear;
            }
            &:nth-child(5) {
                position: absolute;
                top: 160px;
                left: -65px;
                max-width: 275px;
                animation: restant-amination 10s infinite linear;
            }
        }
    }
}
.cmn-btn {
    font-weight: 500;
    font-size: $all-size;
    // color: $black-color;
    color: $black-color;
    // background-color: $yellow-color;
    background-color: #ffbe00;
    padding: 12px 30px;
    border-radius: 50px;
    display: inline-block;

    &:hover {
        background-color: $black-color;
        color: $white-color;
    }
}
@keyframes restant-amination {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/*-- End Restant --*/
.pt-150 {
    padding-top: 150px;
}

.pt-200 {
    padding-top: 200px;


  }

.pt-300 {
    padding-top: 400px;
  }  

  .about-shape1 {
    img {
        position: absolute;

        &:nth-child(1) {
            right: 0;
            top: 95px;
            max-width: 780px;
            z-index: -1;
        }
        &:nth-child(2) {
            right: 98px;
            top: 92px;
            max-width: 50px;
        }
        &:nth-child(3) {
            right: 255px;
            top: 138px;
            max-width: 50px;
        }
        &:nth-child(4) {
            right: 450px;
            top: 108px;
            max-width: 50px;
        }
        &:nth-child(5) {
            right: 650px;
            top: 88px;
            max-width: 50px;
        }
    }
}
  .about-img1 {
    position: relative;
    text-align: right;

    img {
       
            position: absolute;
            left: 0px;
            bottom: 0;
        //    margin-top: -5px;
        
    
    }
}


.banner-content {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    h1 {
        color: #444444;
        font-weight: 700;
        font-size: 65px;
        margin-bottom: 20px;
        max-width: 700px;
    }
    p {
        color: #444444;
        // margin-bottom: 35px;
        max-width: 575px;
        margin-left: 0;
    }
    .banner-btn-wrap {
        .cmn-btn {
            margin-top: 10px;
            margin-right: 18px;
        }
        .banner-btn-two {
            font-weight: 500;
            color:  #444444;
            border: 1px solid   #444444;
            border-radius: 50px;
            display: inline-block;
            padding: 11px 30px;

            &:hover {
                background-color: $black-color;
                border: 1px solid $black-color;
                color: $white-color;
            }
        }
    }
}
