<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>คำถามที่น่าสนใจ</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>คำถามที่น่าสนใจเกี่ยวกับอาสาสมัครดิจิทัล</li>
            </ul>
        </div>
    </div>
</div>

<section class="privacy-area1 pt-100">
    <div class="container">
        <div class="privacy-item">
            <h2>1.โครงการอาสาสมัครดิจิทัล(อสด.) จัดตั้งโดยหน่วยงานใด ?</h2>
            
            <p style="font-size: 20px;"> สำนักงานปลัดกระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม </p>
        </div>

        <div class="privacy-item">
            <h2>2.แกนนำอาสาสมัครดิจิทัลคือใคร ?</h2>

            <p style="font-size: 20px;"> ในการอบรม ปี 2563 นี้ มีจำนวนทั้งสิ้น 880 คน ( 5 ภาค) เป็นการอบรม ข้าราชการ/ พนักงานราชการ/ ลูกจ้างของ ของสำนักงานสถิติฯ เป็นแกนหลัก ร่วมกับเจ้าหน้าที่ทีโอทีในพื้นที่ เพื่อเป็นแกนนำหรือผู้ประสานงานในระดับจังหวัด/อำเภอ เปรียบเสมือนโซ่ข้อกลางในการขับเคลื่อนภารกิจและช่วยเตรียมการคัดเลือก ประชาชน มารับการอบรมให้ เป็น อสด.ระดับหมู่บ้าน (จังหวัดละ 2-5 คน) ในปี 2564 เป็นรุ่นที่ 1 ทั้งนี้ ทางกระทรวงฯ มีเป้าหมายจะพัฒนาให้มี อสด.ประจำหมู่บ้านให้ครอบคลุมทั่วทั้งประเทศต่อไป</p>
        </div>

        <div class="privacy-item">
            <h2>3.ภารกิจหลักของ “แกนนำอาสาสมัครดิจิทัล” ?</h2>

            <p style="font-size: 20px;"> ภายหลังจากที่ “แกนนำอาสาสมัครดิจิทัล”ได้รับการอบรมแล้ว จะไป ขยายผลสร้างเครือข่ายอาสาสมัครดิจิทัล โดยไปแนะนำการใช้ "แอปพลิเคชันอาสาสมัครดิจิทัล" ให้เป็นช่องทางการรับรู้ข้อมูลข่าวสารที่เป็นภารกิจสำคัญของกระทรวงฯ โดยเฉพาะในส่วนที่เกี่ยวข้องกับประชาชนทั่วไปในส่วนภูมิภาค และถ่ายทอดองค์ความรู้ด้านดิจิทัลอื่น ๆ ที่ เป็นประโยชน์ต่อประชาชนในพื้นที่</p>
        </div>

        
        <div class="privacy-item">
            <h2>4.แกนนำอาสาสมัครดิจิทัลจะได้รับการสนับสนุนในด้านใดบ้าง ?</h2>
            <ul>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> “แกนนำอาสามัครดิจิทัล” จะได้รับ SIM Card อสด. เพื่อใช้ในการติดต่อประสานงานเป็นระยะเวลา 1 ปี</li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> “แกนนำอาสามัครดิจิทัล” จะมีงบประมาณในการไปขยายผลประมาณคนละไม่เกิน 1,000 บาท</li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> “แกนนำอาสามัครดิจิทัล” จะได้รับการสนับสนุนชุดข้อมูลความรู้ผ่านแอปพลิเคชัน “อาสาสมัครดิจิทัล”พร้อมของที่ระลึกจากทางโครงการฯ เพื่อช่วยในการขยายผลสร้างเครือข่ายอาสาสมัครดิจิทัล </li>
                </ul>
        </div>


        <div class="privacy-item">
            <h2>5.อาสาสมัครดิจิทัล (อสด.) คือใคร ?</h2>

            <p style="font-size: 20px;"> ประชาชนทั่วไปที่มีจิตสาธารณะ และมีความสนใจด้านดิจิทัล ศึกษาหาข้อมูลเพิ่มเติมเพื่อนำความรู้ ไปสร้างความความเข้าใจเกี่ยวกับการใช้งานดิจิทัล แนะนำบริการและข้อมูลที่ถูกต้องจากภาครัฐ ให้ข้อเท็จจริงเกี่ยวกับข่าวออนไลน์ รวมทั้งให้คำแนะนำเบื้องต้นสำหรับผู้ที่ได้รับความเสียหายจากภัยออนไลน์ เป็นผู้ทำหน้าที่ตามที่กระทรวงได้มอบหมาย </p>
        </div>

        <div class="privacy-item">
            <h2>6.ภาพรวมหลักสูตร อสด. ?</h2>

            <p style="font-size: 20px;"> หลักสูตรดังกล่าวจะประกอบด้วยความรู้พื้นฐานเกี่ยวกับภารกิจของกระทรวงฯ โดยเฉพาะที่เกี่ยวข้องกับประชาชนในส่วนภูมิภาค เพื่อรองรับภารกิจของหน่วยงานในสังกัดกระทรวงฯ และความรู้เกี่ยวกับการใช้ประโยชน์ดิจิทัลด้านต่าง ๆ อาทิ E-commerce, E-Agriculture, MOOC, Coding และ Digital Literacy </p>
        </div>

        <div class="privacy-item">
            <h2>7.แอปพลิเคชั่น “อาสาสมัครดิจิทัล” สามารถดาวน์โหลดได้ฟรีหรือไม่ และสามารถรองรับระบบปฏิบัติการใดบ้าง ?</h2>
            <ul>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> สามารถดาวน์โหลดได้ฟรี!! และรองรับทั้งในระบบ IOS และ Android 
                โดยระบบ IOS สามารถดาวน์โหลดได้ที่ App Store โดยค้นคำว่า อาสาสมัครดิจิทัล  (รุ่นที่รองรับการใช้งาน : IOS 12.0 ขึ้นไป สามารถใช้ได้กับ iPhone, iPad)</li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> ระบบ Android ดาวน์โหลดได้ที่ Google Play โดยค้นคำว่าอาสาสมัครดิจิทัล  (รุ่นที่รองรับการใช้งาน : Android 4.0 ขึ้นไป Ram 1 GB และRom 4 GB สมาร์ทโฟน และแท็บเล็ต)</li>
        </ul>
        </div>

        <div class="privacy-item">
            <h2>8.แอปพลิเคชั่น “อาสาสมัครดิจิทัล” สามารถดาวน์โหลดได้ฟรีหรือไม่ และสามารถรองรับระบบปฏิบัติการใดบ้าง ?</h2>
           <ul>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> สามารถดาวน์โหลดได้ฟรี!! และรองรับทั้งในระบบ IOS และ Android 
                โดยระบบ IOS สามารถดาวน์โหลดได้ที่ App Store โดยค้นคำว่า อาสาสมัครดิจิทัล  (รุ่นที่รองรับการใช้งาน : IOS 12.0 ขึ้นไป สามารถใช้ได้กับ iPhone, iPad)</li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> ระบบ Android ดาวน์โหลดได้ที่ Google Play โดยค้นคำว่าอาสาสมัครดิจิทัล  (รุ่นที่รองรับการใช้งาน : Android 4.0 ขึ้นไป Ram 1 GB และRom 4 GB สมาร์ทโฟน และแท็บเล็ต)</li>
        </ul>
        </div>

        <div class="privacy-item">
            <h2>9.อยากได้หลักสูตรการอบรมเป็นอาสาสมัครดิจิทัล รวมทั้งองค์ความรู้ด้านดิจิทัลต่าง ๆ ต้องทำอย่างไร ?</h2>
            <p style="font-size: 20px;"> สามารถเข้าไปดาวน์โหลดหลักสูตรอบรมการพัฒนาอาสาสมัครดิจิทัล (อสด.) ผ่านทางแอปพลิเคชัน “อาสาสมัครดิจิทัล” เลือกเมนูองค์ความรู้ แล้วทำตามขั้นตอนในแอปพลิเคชันฯ </p>
        </div>

        <div class="privacy-item">
            <h2>10.ภารกิจของอาสาสมัครดิจิทัล ?</h2>
            <p style="font-size: 20px;"> ภารกิจหลักของอาสาสมัครดิจิทัลคือการเผยแพร่ข้อมูลข่าวสารที่ถูกต้องแก่ชุมชน ให้ความช่วยเหลือและคำแนะนำด้านดิจิทัลเบื้องต้น รวมทั้งช่วยประสานงานกับหน่วยงานที่เกี่ยวข้องผ่านช่องทางที่ถูกต้อง และอาจมีภารกิจอื่นที่ได้รับมอบหมายจากกระทรวงฯ ต่อไปภายหลัง </p>
        </div>

        <div class="privacy-item">
            <h2>11.ภาพรวมการดำเนินงานโครงการปี 2563 ?</h2>
        <ul>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> สร้างหลักสูตรการพัฒนาอาสาสมัครดิจิทัล (อสด.) </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> พัฒนาแอปพลิเคชันสำหรับใช้เป็นเครื่องมือในการดำเนินงานของเครือข่ายอาสาสมัครดิจิทัลและเป็นช่องทางในการประสานงานระหว่างอาสาสมัครฯ และหน่วงงงานในกระทรวงฯ            </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> จัดอบรมแกนนำอาสาสมัครดิจิทัล ซึ่งเป็นทีมบุคลากรจังหวัดในหน่วยงานภายใต้สังกัดกระทรวงฯ จำนวน 880 คน ใน 878 อำเภอ
            </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> แกนนำฯ สร้างเครือข่ายอาสาสมัครดิจิทัลให้มีความรู้ความเข้าใจเกี่ยวกับการใช้งานดิจิทัลเพื่อทำหน้าที่ตามที่กระทรวงได้มอบหมาย </li>
        </ul>
        </div>

        <div class="privacy-item">
            <h2>12.อยากเป็นอาสาสมัครดิจิทัลต้องทำอย่างไร?</h2>
        <ul>
            <p style="font-size: 20px;"> สำหรับประชาชนทั่วไปสามารถดาวน์โหลดแอพพลิเคชั่น "อาสาสมัครดิจิทัล" ได้ทุกคน ทั้งนี้ในแอปพลิเคชันฯ จะมีข่าวสารที่น่าสนใจ องค์ความรู้ต่างๆ ช่องทางในการประสานงานกับหน่วยงานในสังกัดกระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม โดยสามารถเข้าถึงข้อมูลต่าง ๆ ได้ในคลิกเดียว </p>
            <p style="font-size: 20px;"> โดยสามารถดาวน์โหลดแอปพลิเคชันฯ ได้ที่ </p>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> ระบบ android: https://play.google.com/store/apps/details?id=com.aorsordor </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> ระบบ ios: https://apple.co/2HZKPHl ทั้งนี้สามาถศึกษาการใช้งานแอปพลิเคชันเพิ่มเติมได้ที </li>
            <p style="font-size: 20px;">  ทั้งนี้สามาถศึกษาการใช้งานแอปพลิเคชันเพิ่มเติมได้ที่คูมือการใช้งานแอปพลิเคชัน “อาสาสมัครดิจิทัล” </p>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> https://drive.google.com/file/d/1B1Tq3MaZ7SQgme8h0IIanto_MbZ62Gl4/view </li>


        </ul>
        </div>

        <!-- <div class="privacy-item">
            <h2>12.ช่องทางในการติดต่อประสานงาน ?</h2>
            <p style="font-size: 20px;"> ศูนย์ขับเคลื่อนการพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม   
                Digital Economy and Society Development Driven Center   
                120 หมู่ 3 ชั้น 6-8 (โซนทิศเหนือ) ศูนย์ราชการเฉลิมพระเกียรติ 80 พรรษา 5 ธันวาคม 2550 อาคารรัฐ   ประศาสนภักดี ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ 10210  </p>
            <ul>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> สอบถามข้อมูลโครงการฯ: 02 142 1160 </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> โทรสาร: 02 143 7802 </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> อีเมล: mdes0208@mdes.go.th </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> เว็ปไซด์:  http://tdv.netpracharat.com/home-three</li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> Facebook: อาสาสมัครดิจิทัล - Thailand Digital Volunteers </li>
            <li style="font-size: 20px;"><i class='bx bx-chevron-right'></i> LINE OpenChat: แกนนำอาสาสมัครดิจิทัล </li>
        </ul>
        </div> -->

    </div>
</section>



<section class="services-area-three pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-item">
                    <div class="section-title">
                        <span style="color: #ffbe00;" class="sub-title">การบริการ</span>
                        <h2>ช่องทางในการติดต่อประสานงาน</h2>
                        <p>ศูนย์ขับเคลื่อนการพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม Digital Economy and Society Development Driven Center 120 หมู่ 3 ชั้น 6-8 (โซนทิศเหนือ) ศูนย์ราชการเฉลิมพระเกียรติ 80 พรรษา 5 ธันวาคม 2550 อาคารรัฐ ประศาสนภักดี ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ 10210.</p>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <ul class="accordion">
                                <li>
                                    <a><span>01.</span>สอบถามข้อมูลโครงการฯ</a>
                                    <p href="tel:021421160"  >02-142-1160</p>
                                </li>
                                <li>
                                    <a><span>02.</span>โทรสาร</a>
                                    <p href="tel:021437802" >02-143-7802</p>
                                </li>
                                <li>
                                    <a><span>03.</span>อีเมลติดต่อ</a>
                                    <p>Email: mdes0208@mdes.go.th</p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <ul class="accordion">
                                <li>
                                    <a><span>04.</span>เว็ปไซด์</a>
                                    <p href="javascript:void(0)" (click)="openDE()" style="cursor: pointer;">http://tdv.netpracharat.com</p>
                                </li>
                                <li>
                                    <a><span>05.</span>Facebook Page</a>
                                    <p href="javascript:void(0)" (click)="openFacebook()" style="cursor: pointer;" >อาสาสมัครดิจิทัล - Thailand Digital Volunteers</p>
                                </li>
                                <!-- <li>
                                    <a><span>06.</span>LINE OpenChat</a>
                                    <p href="javascript:void(0)" (click)="openLineOpenChat()" style="cursor: pointer;">แกนนำอาสาสมัครดิจิทัล</p>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="services-img">
                    <img src="assets/img/FAQ.png" alt="services-image">
                </div>
            </div>
        </div>
    </div>
</section> 




<app-footer-style-one></app-footer-style-one>