$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
// $black-color: #0b0320;
$black-color: #000;
$gray-color: #a5a4a9;
// $yellow-color: #ffbe00;
$yellow-color: #404040;
.chef-item {
    margin-bottom: 30px;
    text-align: center;

    &:hover, &.active {
        .chef-bottom {
            ul {
                li {
                    &:nth-child(1) {
                        bottom: 0;
                        opacity: 1;
                        z-index: 1;
                    }
                    &:nth-child(2) {
                        bottom: 0;
                        opacity: 1;
                        z-index: 1;
                    }
                    &:nth-child(3) {
                        bottom: 0;
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .chef-top {
        position: relative;
        border-radius: 10px 10px 0 0;

        img {
            width:auto;
            height: 270px;
            border-radius: 10px 10px 0 0;
        }
        .chef-inner {
            background-color:#404040;
            border-radius: 10px 10px 0 0;
            padding: 10px 10px 12px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            h3 {
                color: $white-color;
                font-family: $common-font;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 5px;
            }
            span {
                display: block;
                font-size: 14px;
                color: $white-color;
            }
        }
    }
    .chef-bottom {
        ul {
            margin: 0;
            padding: 0;
            margin-top: 10px;

            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;

                &:nth-child(1) {
                    position: relative;
                    bottom: -10px;
                    opacity: 0;
                    z-index: -1;
                    transition: $transition;
                }
                &:nth-child(2) {
                    position: relative;
                    bottom: -10px;
                    opacity: 0;
                    z-index: -1;
                    transition: .7s all ease;
                }
                &:nth-child(3) {
                    position: relative;
                    bottom: -10px;
                    opacity: 0;
                    z-index: -1;
                    transition: .9s all ease;
                }
                a {
                    display: block;
                    width: 35px;
                    height: 35px;
                    line-height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    color: $white-color;
                    background-color: $black-color;
                    font-size: 18px;

                    &:hover {
                        background-color: $yellow-color;
                    }
                }
            }
        }
    }
}