<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>ทำเนียบรุ่น</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>อาสาสมัครประจำหมู่บ้าน</li>
            </ul>
        </div>
    </div>
</div>




<section class="chef-area chef-area-two pb-70">
    <div class="container">
        <h2 style="text-align:center; font-family: Prompt; font-size: 35px; font-weight: 700; margin-bottom: 20px;">
            ทำเนียบรุ่นอาสาสมัครประจำหมู่บ้าน</h2>

        <div class="sorting-menu pb-70">
            <ul>
                <li *ngFor="let item of getDataGen" class="filter"
                    [ngClass]="{'active': dataGen1[0]?.users[0]?.generation_id == item.id}"
                    (click)="getGeneration_Another(item?.id)">
                    อาสาสมัครประจำหมู่บ้านรุ่นที่ {{item.id_village}}</li>
            </ul>
        </div>

        <div class="row" id="gen1" style="margin-bottom: 30px;">
            <h2 style="text-align:center; font-family: Prompt;">ข้อมูลสมาชิกอาสาสมัครประจำหมู่บ้านรุ่นที่
                {{ (dataGen1[0]?.users[0]?.generation_id == 6 ? '1' :
                dataGen1[0]?.users[0]?.generation_id == 7 ? '2':
                (dataGen1[0]?.users[0]?.generation_id == 8 ? '3' : null)) }}</h2>

            <!-- <a  target="_blank"  href="/assets/pdf/ทำเนียบรุ่น_รุ่น1.pdf" style="text-align:center; font-family: Prompt;font-size: 20px; margin-left: 30px;">ดาวน์โหลดเอกสารข้อมูลแกนนำ</a> -->

        </div>

        <div *ngFor="let item of dataGen1" class="col-lg-12" style="margin-bottom: 50px;">
            <h2 style="text-align:center; font-family: Prompt; margin-bottom: 20px;">{{item?.users?.length != 0
                ? item?.province: null }}</h2>

            <div class="row">
                <div *ngFor="let itemUser of item?.users" class="col-sm-6 col-lg-3">

                    <div class="chef-item active">
                        <div class="chef-top">


                            <img *ngIf="itemUser.userimage != null"
                                [src]="'https://tdv.netpracharat.com:5000/uploads/'+itemUser.userimage" alt="Chef">
                            <img *ngIf="itemUser.userimage == null" src="assets/boy_1_11.png" alt="Chef">

                            <div class="chef-inner">
                                <!-- <div *ngFor="let item_amphoe of itemUser?.amphoes let i = index"> -->
                                <!-- <h3>{{itemUser?.amphoes[0]?.Amphoe}}</h3> -->

                                <!-- </div> -->
                                <!-- <div *ngFor="let item_amphoe of itemUser?.amphoes let i = index"> -->
                                <!-- <h3>{{itemUser.district}}</h3> -->

                                <!-- </div> -->
                                <span>{{ (itemUser?.prefix == null ? '' : itemUser?.prefix) + " " + itemUser?.name + " "
                                    + itemUser?.lastname}}</span>
                                <!-- <span>{{itemUser?.lineid}}</span> -->
                                <!-- <span>{{itemUser?.tel}}</span> -->
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>





</section>




<app-footer-style-one></app-footer-style-one>