
$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
.contact-location-area {
          background-color: #fff;
      
          .location-item {
              text-align: center;
              background-color: $white-color;
              box-shadow: 0px 0px 20px 0px #dddddd8c;
              padding: 40px 20px 40px;
              border-radius: 20px;
              position: relative;
              margin-bottom: 30px;
              transition: $transition;
              z-index: 1;
      
              &:hover, &.active {
                  background-color: $yellow-color;
      
                  img {
                      opacity: 1;
                  }
                  i {
                      color: $white-color;
                      background-color: $black-color;
                  }
                  ul {
                      li {
                          color: $white-color;
                      }
                  }
              }
              img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  transition: $transition;
                  z-index: -1;
              }
              i {
                  width: 65px;
                  height: 65px;
                  line-height: 65px;
                  border-radius: 50%;
                  text-align: center;
                  display: block;
                  font-size: 33px;
                  color: $black-color;
                  margin-bottom: 15px;
                  margin-left: auto;
                  margin-right: auto;
                  transition: $transition;
                  background-color: $yellow-color;
              }
              ul {
                  margin: 0;
                  padding: 0;
      
                  li {
                      list-style-type: none;
                      display: block;
                      color: $black-color;
                      font-weight: 500;
                      font-size: 16px;
                      transition: $transition;
                      margin-bottom: 5px;
      
                      &:last-child {
                          margin-bottom: 0;
                      }
                      a {
                          display: block;
                          color: $black-color;
      
                          &:hover {
                              color: $white-color;
                          }
                      }
                  }
              }
          }
      }
      /*-- End Location --*/
      /*-- Page Title --*/
.page-title-img-one {
          background-image: url('../../../../assets/img/headerASD/header_contact3.jpg');
      
      }
      
      .page-title-area {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 230px;
          padding-bottom: 135px;
      }
      .page-title-item {
          padding-left: 40px;
          position: relative;
      
          &:before {
              position: absolute;
              content: '';
              width: 10px;
              height: 100px;
              left: 0;
              top: 0;
              border-radius: 50px;
              background-color:  #0b0320;
          }
          h2 {
              font-size: 40px;
              color:  #0b0320;
              margin-bottom: 10px;
              font-family: "Prompt", sans-serif;
          }
          ul {
              margin: 0;
              padding: 0;
      
              li {
                  list-style-type: none;
                  display: inline-block;
                  color:  #0b0320;
      
                  i {
                      display: inline-block;
                      font-size: 25px;
                      position: relative;
                      top: 6px;
                      color:   #0b0320;
                      
                  }
                  a {
                      display: inline-block;
                      color:   #0b0320;
                      font-size: 25px;
                      &:hover {
                              color: #ffbe00;
                      }
                  }
              }
          }
      }
      /*-- End Page Title --*/