<app-navbar-style-one></app-navbar-style-one>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>ติดต่อเรา</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>ข้อมูลการติดต่อ</li>
            </ul>
        </div>
    </div>
</div>



<div class="contact-location-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Time">
                    <i class='bx bxs-time-five'></i>
                    <ul>
                        <li> (ช่วงเวลาราชการวันจันทร์ - วันศุกร์) </li>
                        <li> 08:30 - 16:30 น.</li>
                       
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="location-item active">
                    <img src="assets/img/home-one/services-shape.png" alt="Location">
                    <i class='bx bxs-location-plus'></i>
                    <ul>
                        <li style="font-weight: 600;"> สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ </li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Tel">
                    <i class='bx bxs-phone-call'></i>
                    <ul>
                        <li style="font-weight: 600;"> สอบถามข้อมูลโครงการฯ </li>
                        <!-- <li><a href="tel:021421160">(โทรศัพท์) 02 142 1160</a></li>
                        <li><a href="tel:021437802">(โทรสาร) 02 143 7802</a></li> -->

                        <li><a href="tel:021421202">(โทรศัพท์) 02-142-1202</a></li>
                        <!-- <li><a href="tel:021437962">(โทรสาร) 02-143-7962</a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Email">
                    <a href="mailto:tdv@mdes.go.th"> <i class="fa fa-envelope" style="font-size: 26px;"></i></a>
                    <!-- <i class='bx bxs-time-five'></i> -->
                    <ul>
                        <li style="font-weight: 600;"> อีเมลติดต่อ </li>
                        <li><a href="mailto:tdv@mdes.go.th"></a>tdv@mdes.go.th</li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Email">
                    <a href="tel:0966344198"> <i class="fa fa-user" style="font-size: 26px;"></i></a>
                    <!-- <i class='bx bxs-time-five'></i> -->
                    <ul>
                        <li style="font-weight: 600;"> ผู้ประสานงาน </li>
                        <li><a ></a>นางสาวเลอลักษณ์ เกิดนวล</li>
                        <li><a href="tel:0966344198">(โทรศัพท์) 096 634 4198</a></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-lg-4">
                <div class="location-item active">
                    <img src="assets/img/home-one/services-shape.png" alt="Line">
                    <i class='bx bxs-location-plus'></i>
                    <a
                    href="javascript:void(0)"  (click)="openLineOpenChat()">
                    <i class="lni lni-line" style="font-size: 26px;"></i></a>
                    <ul>
                        <li> Line Openchat </li>
                        <li><a
                            href="javascript:void(0)"  (click)="openLineOpenChat()">แกนนำอาสาสมัครดิจิทัล</a>
                        </li>
                    </ul>
                </div>
            </div> -->

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Facebook">
                    <!-- <i class='bx bxs-phone-call'></i> -->
                    <a href="javascript:void(0)"  (click)="openFacebook()"
                        >
                        <i class="lni lni-facebook-oval" style="font-size: 26px;"></i></a>

                    <ul>
                        <!-- <li style="font-weight: 600;"> Facebook Page</li> -->
                        <li><a
                            href="javascript:void(0)"  (click)="openFacebook()">อาสาสมัครดิจิทัล
                               </a></li>
                        <li><a
                            href="javascript:void(0)"  (click)="openFacebook()">Thailand Digital Volunteers
                               </a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<section class="subscribe-area">
    <!-- <div class="subscribe-shape"><img src="assets/img/home-one/reservation-shape.png" alt="Shape"></div> -->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="subscribe-item">
                    <div class="section-title">
                        <h2 style="color: black;">ช่องทางในการติดต่อประสานงาน</h2>
                        <p>ศูนย์ขับเคลื่อนการพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม (Digital Economy and Society Development
                            Driven Center)</p>
                        <p>120 หมู่ 3 ชั้น 8 (โซนทิศเหนือ) ศูนย์ราชการเฉลิมพระเกียรติ 80พรรษา 5 ธันวาคม 2550 อาคารรัฐ
                            ประศาสนภักดี ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ 10210</p>
                    </div>

                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="mdes0208@mdes.go.th" name="EMAIL" required
                            autocomplete="off">
                        <button class="btn cmn-btn" type="submit">สอบถามข้อมูล</button>
                    </form>

                    <div class="social-link">
                        <ul>
                            <li><a href="https://www.facebook.com/อาสาสมัครดิจิทัล-105256638019733" target="_blank"><i
                                        class='bx bxl-facebook'></i></a></li>
                            <li><a href="tel:021421160"><i class='bx bx-phone'></i></a></li>
                            <!-- <li><a href="https://line.me/ti/g2/xrwwjSFm91xbNolocPCh5Q?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"
                                    target="_blank"><i class='bx bx-chat'></i></a></li> -->
                            <li><a href="https://www.youtube.com/channel/UCzyVEj-9ZoO6yddG75rkyxw" target="_blank"><i
                                        class='bx bxl-youtube'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="subscribe-img">
                    <img style="position: relative; height: auto; width: 230px; top:20px" src="assets/img/contact.png"
                        alt="Subscribe">
                </div>
            </div>


        </div>
    </div>
</section>





<app-footer-style-one></app-footer-style-one>