<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2 >ข่าวสารการประยุกต์ใช้ดิจิทัล</h2>

            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li >ข่าวสารการประยุกต์ใช้ดิจิทัลทั้งหมด</li>
            </ul>
        </div>
    </div>
</div>
<section class="blog-area pt-100 pb-70">
    <div class="container">

        <div class="col-lg-12 pb-70">
            <h2 style="font-family: Prompt; text-align: center;">ข่าวสารการประยุกต์ใช้ดิจิทัล</h2>
        </div>
        <div class="row">
            <div *ngFor="let item of digitalNews" class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a  (click)="gotoDetailsAct(item.id)" >
                            <!-- <img src="assets/img/home-one/blog1.jpg" alt="Blog"> -->
                            <img  [src]="'https://tdv.netpracharat.com:5000/uploads/newsImage/' + item.headerimage" alt="Service">
                        </a>
                        <span>{{item.created_at|thaidate:'medium'}}</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a class="module" (click)="gotoDetailsAct(item.id)"  >{{item.name}}</a></h3>
                        <p class="module">{{item.description}}</p>
                        <a href="javascript:void(0)" (click)="gotoDetailsAct(item.id)" class="cmn-btn"  routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" >อ่านต่อ</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/blog-detailhtml">
                            <img src="assets/img/home-one/blog2.jpg" alt="Blog">
                        </a>
                        <span>02 May 2020</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-detailhtml">Brief About How to Make Pizza</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>
                        <a class="cmn-btn" routerLink="/blog-detailhtml">Read More</a>
                    </div>
                </div>
            </div> -->


            <!-- <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/blog-detailhtml">
                            <img src="assets/img/home-one/blog3.jpg" alt="Blog">
                        </a>
                        <span>03 May 2020</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-detailhtml">Brief About How to Make Burger</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>
                        <a class="cmn-btn" routerLink="/blog-detailhtml">Read More</a>
                    </div>
                </div>
            </div> -->
        </div>

      
      
    </div>
</section>


<app-footer-style-one></app-footer-style-one>