$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
// $white-color: #ffffff;
$white-color: #0b0320;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;

// $yellow-color: #404040;
.navbar-area1 {
    .side-nav {
        position: relative;
        top: 4px;



        .nav-cart {
            width: 42px;
            height: 42px;
            line-height: 48px;
            border-radius: 50%;
            border: 1px solid $black-color;
            color: $black-color;
            display: inline-block;
            text-align: center;
            font-size: 22px;
            position: relative;

            &:hover {
                color: $white-color;
                background-color: $black-color;
            }

            span {
                display: inline-block;
                color: $white-color;
                background-color: $black-color;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                line-height: 18px;
                font-size: 12px;
                position: absolute;
                top: -3px;
                right: -5px;
                font-weight: 500;
            }
        }

        .nav-tel {
            color: $black-color;
            border-radius: 50px;
            padding: 10.5px 10.5px 10.5px 10.5px;
            background-color: $yellow-color;

            font-size: 14px;
            position: relative;
            top: -6px;
            margin-left: 15px;
            display: inline-block;

            i {
                display: inline-block;
                margin-right: 5px;
                font-size: 18px;
                position: relative;
                top: 3px;
            }

            &:hover {
                color: $white-color;
                background-color: $black-color;
            }
        }
    }
}


.main-nav-two {
    background: transparent;
    transition: $transition;

    nav {
        .navbar-nav {
            margin-left: auto;
            margin-right: auto;


            .nav-link {

                &:focus,
                &:hover {
                    color: $yellow-color;
                }
            }

            .nav-item {

                a {
                    color: $black-color;
                }

                &:hover {
                    a {
                        color: $yellow-color;
                        font-family: "Prompt", sans-serif;
                    }
                }

                a {
                    font-weight: 400;
                    font-size: $all-size;
                    color: $black-color;
                    // font-family: $common-font;
                    font-family: "Prompt", sans-serif;
                    text-transform: unset;

                    &:hover,
                    &:focus,
                    &.active {
                        color: $yellow-color;
                    }

                    &:hover {
                        i {
                            transform: rotate(0deg);
                            color: $yellow-color;
                        }
                    }

                    i {
                        display: inline-block;
                        font-size: 18px;
                        position: relative;
                        top: 4px;
                        transform: rotate(-90deg);
                        transition: $transition;
                    }
                }

                .dropdown-menu {
                    background: $white-color;
                    padding-left: 10px;
                    padding-right: 10px;

                    li {
                        border-bottom: 1px solid #0b032026;
                        position: relative;
                        transition: $transition;

                        &:hover {
                            padding-left: 10px;

                            &:before {
                                opacity: 1;
                            }

                            a {
                                color: $yellow-color;
                                text-transform: unset;
                            }
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            width: 15px;
                            height: 1px;
                            left: 0;
                            top: 20px;
                            background-color: $yellow-color;
                            opacity: 0;
                            transition: $transition;
                        }

                        &:last-child {
                            border-bottom: 0;
                        }

                        a {
                            color: $black-color;

                            &:hover,
                            &:focus,
                            &.active {
                                color: $yellow-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none;
    }
}


.menu-shrink {
    background-color: $white-color;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px 0px #dddddd8c;
}

/*-- End Navbar --*/
.btn.focus,
.btn:focus {
    box-shadow: none;
}

button {
    &:focus {
        outline: 0;
    }
}


#myModalRight {
    z-index: 99999;

    .modal-content {
        .modal-header {
            img {
                max-width: 120px;
            }

            .close {
                position: relative;
                top: 3px;
            }
        }

        .modal-body {
            padding: 40px 30px 50px;

            h2 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 12px;
                color: $black-color;
                font-family: "Prompt", sans-serif;
            }

            p {
                color: $gray-color;
                font-size: 14px;
                margin-bottom: 20px;
                font-family: "Prompt", sans-serif;
            }

            .image-area {
                margin-bottom: 10px;

                .col-lg-4 {
                    padding-right: 5px;
                    margin-right: -5px;
                }

                a {
                    display: block;
                    margin-bottom: 15px;
                    font-family: "Prompt", sans-serif;
                }
            }

            .modal-item {
                margin-bottom: 30px;
            }

            .social-area {
                text-align: center;

                h3 {
                    font-size: 20px;
                    margin-bottom: 12px;
                    font-weight: 600;
                    color: $black-color;
                    font-family: "Prompt", sans-serif;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;
                        display: inline-block;

                        a {
                            display: block;
                            color: $black-color;
                            border: 2px solid $black-color;
                            width: 42px;
                            height: 42px;
                            line-height: 34px;
                            border-radius: 50%;
                            font-family: "Prompt", sans-serif;


                            font-size: 30px;
                            text-align: center;

                            &:hover {
                                color: $white-color;
                                background-color: $black-color;
                            }
                        }

                        i {
                            padding: 6px 3px 3px 3px;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    &.modal-right {
        .modal-dialog {
            max-width: 380px;
            min-height: 100vh;
        }

        &.show .modal-dialog {
            transform: translate(0, 0);
        }

        .modal-content {
            height: 100vh;
            overflow-y: auto;
            border-radius: 0;
        }
    }

    &.modal-left {
        .modal-dialog {
            transform: translate(-100%, 0);
            margin: 0 auto 0 0;
        }
    }

    &.modal-right {
        .modal-dialog {
            transform: translate(100%, 0);
            margin: 0 0 0 auto;
        }
    }
}

.navbar-nav .sub-menu {
    .menu-item-has-child>a::after {
        transform: rotate(90deg);
        margin-left: 0;
        margin-right: .255em;
    }

    .sub-menu {
        left: auto;
        right: 100%;
    }
}

.menu-item-has-child>a::after {
    margin-left: 0;
    margin-right: .255em;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/*-- End Navbar --*/