<!-- <li class="nav-item"> -->
    <a style="color: '#FFBE00'; cursor: pointer;" *ngIf="currentUser else logedIn" (click)="Logout()" class="nav-link text-black"
    routerLinkActive="active"
    >ออกจากระบบ
    </a>


<!-- </li> -->
<!-- <li class="nav-item"> -->
    <div #logedIn>
        <a style="color: '#FFBE00';" routerLink="/login" class="nav-link text-black" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">เข้าสู่ระบบ
        </a>
    </div>

<!-- </li> -->