

<section class="checkout-area ptb-100">
    <div class="container ">
        <!-- <div class="row"> -->
            <div class="col-lg-12 text-center">
                <div class="checkout-item ">
                    <h2 class="prompt">เข้าสู่ระบบ</h2>

                    <div class="col-lg-12 text-center ">
                        <form *ngIf="status == false else InputOtp" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <!-- <div class="form-group">
                                <label>กรอกเบอร์โทรศัพท์</label>
                                <input type="text"
                                maxlength="10" 
                                oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                formControlName="phonenumber" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                                <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.phonenumber.errors.required">กรุณากรอกเบอร์โทรศัพท์</div>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <!-- <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                   
                                </button> -->
                                <div class="text-center">
                                    <button type="button" (click)="thaiID()" class="btn cmn-btn">เข้าสู่ระบบด้วย ThaiD </button>
                                </div>
                                <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
                            </div>
                        </form>
                        <ng-template #InputOtp>
                            <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
                                <div class="form-group">
                                    <label for="otp">กรอกรหัส OTP</label>
                                    <input type="text" maxlength="6" 
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                    formControlName="otp" class="form-control"
                                        [ngClass]="{ 'is-invalid': fo.otp.errors }" />
                                    <div *ngIf="fo.otp.errors" class="invalid-feedback">
                                        <div *ngIf="fo.otp.errors.required">กรุณากรอกรหัส OTP</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn cmn-btn">ยืนยัน</button>
                                    </div>
                                    <!-- <button [disabled]="loading" class="btn btn-primary">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        ยืนยัน
                                    </button> -->
                                </div>
                            </form>
                        </ng-template>
                    </div>
                </div>
            </div>


        <!-- </div> -->

        
    </div>
</section>