$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;

/*-- Footer --*/
.footer-item {
          margin-bottom: 30px;
          .footer-subscribe {
            position: relative;

            .form-control {
                height: 45px;
                border-radius: 50px;
                box-shadow: 0px 0px 20px 0px #dddddd7d;
                border: 0;
                padding-left: 20px;
                font-size: 15px;
            }
            ::placeholder {
                color: #b2b2b2;
            }
            .footer-btn {
                width: 35px;
                height: 35px;
                line-height: 37px;
                font-size: 18px;
                border-radius: 50%;
                color: $black-color;
                background-color: $yellow-color;
                transition: $transition;
                position: absolute;
                top: 5px;
                right: 6px;
                padding: 0;

                &:hover {
                    color: $white-color;
                    background-color: $black-color;
                }
            }
        }
      
          .footer-logo {
              a {
                  display: block;
                  margin-bottom: 25px;
              }
              p {
                  color: $black-color;
                  margin-bottom: 25px;
              }
              ul {
                  margin: 0;
                  padding: 0;
      
                  li {
                      list-style-type: none;
                      display: inline-block;
                      margin-right: 5px;
      
                      a {
                          display: block;
                          width: 35px;
                          height: 35px;
                          line-height: 39px;
                          border-radius: 50%;
                          text-align: center;
                          font-size: 18px;
                          color: $white-color;
                          background-color: #1a1c3b;
                          margin-bottom: 0;
      
                          &:hover {
                              background-color: $yellow-color;
                          }
                      }
                  }
              }
          }
          .footer-services {
              h3 {
                  font-weight: 500;
                  font-size: 22px;
                  font-family: $common-font;
                  margin-bottom: 30px;
              }
              ul {
                  margin: 0;
                  padding: 0;
      
                  li {
                      list-style-type: none;
                      display: block;
                      margin-bottom: 15px;
                      color: #00011e;
                      position: relative;
                      padding-left: 28px;
      
                      i {
                          display: inline-block;
                          font-size: 20px;     
                          margin-right: 3px;  
                          position: absolute;
                          top: 3px;
                          left: 0;         
                      }
                      a {
                          display: block;
                          color: #00011e;
      
                          &:hover {
                              margin-left: 10px;
                              color: $yellow-color;
                          }
                      }
                      &:last-child {
                          margin-bottom: 0;
                      }
                  }
              }
          }
      }
      /*-- End Footer --*/