<footer class="footer-area-two pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img width= "100px" height= "100px" src="assets/img/logo.png" alt="Logo"></a>
                        <p>อาสาสมัครดิจิทัล (อสด.)</p>
                        <p>ศูนย์ขับเคลื่อนการพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม</p>
                        <p>กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</p>
                        <div class="social-link">
                            <ul>
                                <li><a  href="javascript:void(0)" (click)="openFacebook()" > <i class="lni lni-facebook"></i></a></li>
                                <li><a  href="javascript:void(0)" (click)="openLineOpenChat()"><i class='lni lni-line'></i></a></li>
                                <li><a  href="tel:021421160" ><i class='lni lni-phone'></i></a></li>
                                <!-- <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li> -->
                                <!-- <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li> -->
                            </ul>
                        </div>
<!--         
                        <div class="footer-subscribe footer-subscriber-two">
                            <input type="email" class="form-control" placeholder="ไปที่เว็ปไซต์ของกระทรวง">
                            <a href="https://www.mdes.go.th/" type="submit" class="btn footer-btn"><i class='bx bxs-send bx-flashing'></i></a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-services">
                        <h3 style="font-family: Prompt;">เมนูการใช้งาน</h3>

                        <ul>
                            <li><a routerLink="/about"><i class='bx bx-chevron-right'></i>เกี่ยวกับเรา</a></li>
                            <li><a routerLink="/blog"><i class='bx bx-chevron-right'></i>ข่าวสาร/ประกาศ</a></li>
                            <li><a routerLink="/volunteernews"><i class='bx bx-chevron-right'></i>ภารกิจ อสด.</a></li>
                            <li><a routerLink="/news-general"><i class='bx bx-chevron-right'></i>ข่าวสารดิจิทัลอัปเดต</a></li>
                            <!-- <li><a routerLink="/food-collection"><i class='bx bx-chevron-right'></i>สื่อการเรียนรู้</a></li> -->
                            <li><a routerLink="/"><i class='bx bx-chevron-right'></i>สื่อการเรียนรู้</a></li>
                            <!-- <li><a routerLink="/"><i class='bx bx-chevron-right'></i>สสส.</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-services">
                        <h3 style="font-family: Prompt;">เพิ่มเติม</h3>

                        <ul>
                          
                            <li><a href="/faq"><i class='bx bx-chevron-right'></i>ทำเนียบรุ่น</a></li>  
                            <li><a routerLink="/contact"><i class='bx bx-chevron-right'></i>ติดต่อเรา</a></li>
                             <li><a routerLink="/privacy-policy"><i class='bx bx-chevron-right'></i>บริการ</a></li>
                             <!-- <li><a routerLink="/terms-conditions"><i class='bx bx-chevron-right'></i>คำถามที่น่าสนใจ</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-services">
                        <h3 style="font-family: Prompt;">ข้อมูลการติดต่อ</h3>

                        <ul>
                            <li><a href="tel:021421160"><i class='bx bx-phone-call'></i> (โทรศัพท์) 02 142 1160</a></li>
                            <li><a href="tel:021437802"><i class='bx bx-phone-call'></i> (โทรสาร) 02 143 7802</a></li>
                            <li><a href="mailto:mdes0208@mdes.go.th"><i class='bx bx-message-detail'></i> mdes0208@mdes.go.th</a></li>
                            <!-- <li><a href="mailto:hello@spiz.com"><i class='bx bx-message-detail'></i> hello@spiz.com</a></li> -->
                            <li style="text-align:left;" ><i class='bx bx-location-plus'></i> 
                                ศูนย์ขับเคลื่อนการพัฒนาดิจิทัลเพื่อเศรษฐกิจและสังคม
                            </li>
                            <li style="text-align:left;" >
                                120 หมู่ 3 ชั้น 6-8 (โซนทิศเหนือ) ศูนย์ราชการเฉลิมพระเกียรติ 80พรรษา 5 ธันวาคม 2550 อาคารรัฐประศาสนภักดี ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ 10210
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area copyright-area-two">
    <div class="container">
        <div class="copyright-item">
            <p><a href="https://hibootstrap.com/" target="_blank">นโยบายความเป็นส่วนตัว   </a>   Copyrights © 2019-2020 TOT PUBLIC COMPANY LIMITED. ALL RIGHTS RESERVED.</p>
            <a> 89/2 หมู่ 3 ถนนแจ้งวัฒนะ แขวงทุ่งสองห้อง เขตหลักสี่ กรุงเทพมหานคร 10210</a>
        </div>
    </div>
</div>