<div class="navbar-area fixed-top">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/CCTLOGO.png" style="height: 40px;width: 40px;"
                alt="Logo"><p style="font-size: medium; color:black; margin-top: 10px; font-size: 60px; text-align: center;">นโยบายความเป็นส่วนตัว</p></a>
                <!-- <a  class="nav-link dropdown-toggle">ข้อตกลงและเงื่อนไขการใช้แอปพลิเคชันอาสาสมัครดิจิทัล
                </a> -->
    </div>

    <div class="main-nav main-nav-three " style="background-color: white;">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand"><img style="height: 70px;width: 70px;" src="assets/img/CCTLOGO.png"
                        alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item text-center">
                            <a  class="nav-link dropdown-toggle" style="font-size: 40px;">นโยบายความเป็นส่วนตัว <br>(Privacy-Policy)
                        </a>
                            <!-- <a  class="nav-link dropdown-toggle" style="text-align: center;">ข้อตกลงและเงื่อนไขการใช้แอปพลิเคชันอาสาสมัครดิจิทัล
                        </a> -->

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Home Page One</a></li>

                                <li class="nav-item"><a routerLink="/home-two" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home Page
                                        Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home Page
                                        Three</a></li>
                            </ul> -->
                        </li>

                       
                    </ul>

                   
                </div>
            </nav>
        </div>
    </div>
</div>