$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 30px;
$white-color: #ffffff;
// $black-color: #0b0320;
$black-color: #000;
$gray-color: #a5a4a9;
// $yellow-color: #ffbe00;
$yellow-color: #404040;
.main-nav {
          background: transparent;
          transition: $transition;
      
          nav {
              .navbar-nav {
                  margin-left: auto;
                  margin-right: auto;
                
      
                  .nav-link {
                      &:focus, &:hover {
                          color: $yellow-color;
                      }
                  }
                  .nav-item {
                      &:hover {
                          a {
                              color: $yellow-color;
                              font-family: "Prompt", sans-serif;
                          }
                      }
                      a {
                          font-weight: 400;
                          font-size: $all-size;
                          color: $black-color;
                          // font-family: $common-font;
                          font-family: "Prompt", sans-serif;
                          text-transform: unset;
      
                          &:hover, &:focus, &.active {
                              color: $yellow-color;
                          }
                          &:hover {
                              i {
                                  transform: rotate(0deg);
                                  color: $yellow-color;
                              }
                          }
                          i {
                              display: inline-block;
                              font-size: 18px;
                              position: relative;
                              top: 4px;
                              transform: rotate(-90deg);
                              transition: $transition;
                          }
                      }
                      .dropdown-menu {
                          background: $white-color;
                          padding-left: 10px;
                          padding-right: 10px;
      
                          li {
                              border-bottom: 1px solid #0b032026;
                              position: relative;
                              transition: $transition;
      
                              &:hover {
                                  padding-left: 10px;
      
                                  &:before {
                                      opacity: 1;
                                  }
      
                                  a {
                                      color: $yellow-color;
                                      text-transform: unset;
                                  }
                              }
                              &:before {
                                  position: absolute;
                                  content: '';
                                  width: 15px;
                                  height: 1px;
                                  left: 0;
                                  top: 20px;
                                  background-color: $yellow-color;
                                  opacity: 0;
                                  transition: $transition;
                              }
                              &:last-child {
                                  border-bottom: 0;
                              }
                              a {
                                  color: $black-color;
      
                                  &:hover, &:focus, &.active {
                                      color: $yellow-color;
                                  }
                              }
                          }
                      }
                  }
              }
          }
          .dropdown-toggle::after {
              display: none;
          }
      }