<div class="navbar-area fixed-top">
    <!-- <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/Logodes.png" style="height: 40px;width: 40px;"
                alt="Logo"></a>
    </div> -->

    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/DE Logo Full V BK.png" style="height: 40px;width: 40px;"
            alt="Logo"></a>
        <a routerLink="/" class="logo"><img src="assets/img/CCTLOGO.png" style="margin-left:50px;height: 40px;width: 40px;"
                alt="Logo"></a>
    </div>


    <div class="main-nav main-nav-two ">
        <div class="container col-lg-12">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img style="object-fit: contain; height: 70px;width: 70px;"
                    src="assets/img/DE Logo Full V WH.png" alt="Logo"></a>
                <a class="" routerLink="/"><img style="margin-left: -10px; height: 70px;width: 70px;"
                        src="assets/img/CCTLOGO.png" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                    <ul class="navbar-nav">
                        <!-- <li class="nav-item pull-left">
                            <a routerLink="/categories" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Categories</a>
                        </li> -->

                        <li class="nav-item">
                            <a routerLink="/home" routerLinkActive="active" href="javascript:void(0)"
                                class="nav-link dropdown-toggle">หน้าหลัก
                                <!-- <i class='bx bx-chevron-down'></i> -->
                            </a>

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page One</a></li>

                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Two</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page Three</a></li>
                            </ul> -->
                        </li>

                        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">เกี่ยวกับเรา</a></li>




                        <li class="nav-item">
                            <a style="margin-top: -1px;" class="nav-link dropdown-toggle"
                                href="javascript:void(0)">ข่าวสาร/ประกาศ
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link " routerLink="/volunteernews"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">กิจกรรมเครือข่าย</a></li>

                                <li class="nav-item"><a class="nav-link" routerLink="/digitalnews"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">ข่าวสารการประยุกต์ใช้ดิจิทัล</a></li>


                                <li class="nav-item"><a routerLink="/news-general" class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">ข่าวสารดิจิทัลอัปเดต</a>
                                </li>



                            </ul>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/afnc" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ข่าวสารและคลังความรู้ AFNC
                            </a>

                        </li>



                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">องค์ความรู้<i
                                    class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/knowledge" class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">องค์ความรู้</a></li>
                                <li class="nav-item"><a routerLink="/elearning" class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">หลักสูตรการเรียนรู้</a></li>


                            </ul>
                        </li>

                        <!-- <li class="nav-item">
                            <a outerLink="/classdirectory" href="javascript:void(0)" class="nav-link"
                                routerLink="/classdirectory" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" class="nav-link dropdown-toggle">ทำเนียบรุ่น
                            </a>


                        </li> -->
                        <!-- <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">ทำเนียบรุ่น<i
                                    class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"> <a href="javascript:void(0)" class="nav-link"
                                        routerLink="/classdirectory" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="nav-link dropdown-toggle">แกนนำอาสาสมัครดิจิทัล
                                    </a></li>

                                <li class="nav-item"><a routerLink="/classdirectory-village" href="javascript:void(0)"
                                        class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">อาสาสมัครดิจิทัลประจำหมู่บ้าน</a></li>
                                <li class="nav-item"><a href="javascript:void(0)" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">อาสาสมัครดิจิทัล<br>ประจำหมู่บ้านปี
                                        2566</a>

                                    <ul class="submenu">
                                        <li><a href="/assets/pdf/ข้อมูลทำเนียบรุ่น1.pdf" target="_blank">ครั้งที่ 1</a>
                                        </li>
                                        <li><a href="/assets/pdf/ข้อมูลทำเนียบรุ่น2.pdf" target="_blank">ครั้งที่ 2</a>
                                        </li>
                                        <li><a href="/assets/pdf/ข้อมูลทำเนียบรุ่น3.pdf" target="_blank">ครั้งที่ 3</a>
                                        </li>
                                        <li><a href="/assets/pdf/ข้อมูลทำเนียบรุ่น4.pdf" target="_blank">ครั้งที่ 4</a>
                                        </li>

                                    </ul>

                                </li>
                                <li class="nav-item"><a href="javascript:void(0)" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">อาสาสมัครดิจิทัล<br>ประจำหมู่บ้านปี
                                    2567</a>

                                <ul class="submenu">
                                    <li><a href="/assets/pdf/ทำเนียบรุ่นอสดครั้งที่1.pdf" target="_blank">ครั้งที่ 1</a>
                                    </li>
                                    <li><a href="/assets/pdf/ทำเนียบรุ่นอสดครั้งที่2.pdf" target="_blank">ครั้งที่ 2</a>
                                    </li>
                                    <li><a href="/assets/pdf/ทำเนียบรุ่นอสดครั้งที่3.pdf" target="_blank">ครั้งที่ 3</a>
                                    </li>
                                    <li><a href="/assets/pdf/ทำเนียบรุ่นอสดครั้งที่4.pdf" target="_blank">ครั้งที่ 4</a>
                                    </li>

                                </ul>

                            </li>

                            </ul>
                        </li> -->




                        <li class="nav-item">
                            <a routerLink="/otherservices" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">บริการ
                            </a>

                        </li>

                        <!-- 
                        <li class="nav-item">
                            <a routerLink="/faq" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">คำถามที่น่าสนใจ
                            </a>

                        </li> -->


                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ติดต่อเรา
                            </a>

                        </li>

                        <li class="nav-item">
                            <a routerLink="/tdv-assessment" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">แบบประเมิน
                            </a>

                        </li>

                        <li class="nav-item">
                            <a routerLink="/digital-community" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ศูนย์ดิจิทัลชุมชน
                            </a>

                        </li>
                        <li class="nav-item">
                            <!-- <app-login-nav-component></app-login-nav-component> -->
                            <!-- <a style="color: '#FFBE00'; cursor: pointer;" *ngIf="currentUser else logedIn"
                                (click)="Logout()" class="nav-link text-black" routerLinkActive="active">ออกจากระบบ
                            </a> -->
                            <!-- <div #logedIn> -->
                            <a *ngIf="!currentUser" style="color: '#FFBE00';" routerLink="/login" class="nav-link text-black"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">เข้าสู่ระบบ
                            </a>
                            <a style="color: '#FFBE00'; cursor: pointer;" *ngIf="currentUser"
                            (click)="Logout()"  class="nav-link text-black" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" >ออกจากระบบ
                            </a>
                            <!-- </div> -->

                        </li>

                    </ul>



                </div>
            </nav>
        </div>


    </div>


</div>