<!-- <app-navbar-style-three></app-navbar-style-three> -->
<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>ข่าวสาร</h2>

            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>กิจกรรมเครือข่ายทั้งหมด</li>
            </ul>
        </div>
    </div>
</div>


<section class="blog-area1 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>กิจกรรมเครือข่าย</h2>

        </div>

        <div class="row">
            <!-- <div *ngFor="let item of newsAsd" class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a  style="cursor: pointer;" (click)="gotoDetailsNews(item.id)"  >
                         
                            <img [src]="'https://tdv.netpracharat.com:5000/uploads/newsImage/'+item.headerimage" alt="Blog">
                        </a>
                        <span>{{item.created_at|thaidate:'medium'}}</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a class="module" (click)="gotoDetailsNews(item.id)"> {{item.name}}</a></h3>
                        <p class="module">{{item.description}}</p>
                        <a (click)="gotoDetailsNews(item.id)" class="cmn-btn"  routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" >อ่านต่อ</a>
                        <a href="javascript:void(0)"  (click)="gotoDetailsNews(item.id)"class="cmn-btn" >อ่านต่อ</a>
                    </div>
                </div>
            </div> -->

            <div *ngFor="let item of newsAsa" class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a  style="cursor: pointer;" (click)="getActAsdDetail(item.id)"  >
                            <!-- <img src="assets/img/home-one/blog1.jpg" alt="Blog"> -->
                            <img [src]="'https://tdv.netpracharat.com:5000/uploads/activityImage/'+item.headerimage" alt="Blog">
                        </a>
                        <span>{{item.created_at|thaidate:'medium'}}</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a class="module" (click)="getActAsdDetail(item.id)"> {{item.name}}</a></h3>
                        <p class="module">{{item.description}}</p>
                        <!-- <a (click)="gotoDetailsNews(item.id)" class="cmn-btn"  routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" >อ่านต่อ</a> -->
                        <a href="javascript:void(0)"  (click)="getActAsdDetail(item.id)"class="cmn-btn" >อ่านต่อ</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/blog-detailhtml">
                            <img src="assets/img/home-one/blog2.jpg" alt="Blog">
                        </a>
                        <span>02 May 2020</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-detailhtml">Brief About How to Make Pizza</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>
                        <a class="cmn-btn" routerLink="/blog-detailhtml">Read More</a>
                    </div>
                </div>
            </div> -->


            <!-- <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/blog-detailhtml">
                            <img src="assets/img/home-one/blog3.jpg" alt="Blog">
                        </a>
                        <span>03 May 2020</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-detailhtml">Brief About How to Make Burger</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>
                        <a class="cmn-btn" routerLink="/blog-detailhtml">Read More</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<app-footer-style-one></app-footer-style-one>