$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: black;
// $yellow-color: #ffbe00;
$yellow-color: #404040;


/*-- Blog --*/
.blog-item1 {
          margin-bottom: 50px;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
          border-radius: 65px 65px 0 0;
      
          &:hover {
              .blog-bottom {
                  .cmn-btn {
                      right: 0;
                  }
              }
          }
          .blog-top {
              position: relative;
              width: auto;
       
      
              a {
                  display: block;
              }
              span {
                  display: inline-block;
                  font-size: 14px;
                  color: $black-color;
                  // background-color: $yellow-color;
                  background-color: #ffbe00;
                  padding: 5px 12px;
                  border-radius: 6px;
                  position: absolute;
                  right: 15px;
                  bottom: -15px;
              }
              img {
                  border-radius: 12px 12px 0 0;
                  width: 100%;
                  height: 200px;
              }
          }
          .blog-bottom {
                    padding: 35px 15px 50px 30px;
                    position: relative;
                    .module {
                        width: 250px;
                        height: 125px;
                        overflow: hidden;
                      }
                    h3 {
                        font-family: $common-font;
                        font-weight: 500;
                        font-size: 22px;
                        margin-bottom: 10px;
                        line-height: 1.4;
            
                        a {
                            display: block;
                            color: black;
                            // color: $black-color;
            
                            &:hover {
                                color: $yellow-color;
                            }
                        }
                    }
                    p {
                        color: #848487;
                        margin-bottom: 0;
                    }
                    .cmn-btn {
                        position: absolute;
                        right: 15px;
                        bottom: -20px;
                    }
                }
      }
.blog-area{
          .read-blog-btn {
              text-align: center;
              display: inline-block;
              font-weight: 500;
              font-size: 18px;
              color: $black-color;
              border-bottom: 1px solid $black-color;
      
              &:hover {
                //   color: $yellow-color;
                  color: #ffbe00;
                  border-bottom: 1px solid  #ffbe00;;
              }
          }
      }
      /*-- End Blog --*/

      /*-- Page Title --*/
      .page-title-img-one {
          background-image: url('../../../../assets/img/headerASD/header_news2.jpg');
      
      }
      
      .page-title-item {
        padding-left: 40px;
        position: relative;
    
        &:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 100px;
            left: 0;
            top: 0;
            border-radius: 50px;
            background-color:  #404040;
        }
        h2 {
            font-size: 40px;
            color: #404040;
            margin-bottom: 10px;
            font-family: "Prompt", sans-serif;
        }
        ul {
            margin: 0;
            padding: 0;
    
            li {
                list-style-type: none;
                display: inline-block;
                color: black;
    
                i {
                    display: inline-block;
                    font-size: 25px;
                    position: relative;
                    top: 6px;
                    color:  #404040;
                    font-size: 25px;
                }
                a {
                    display: inline-block;
                    color:  #404040;
                    font-size: 25px;
                    
    
                    &:hover {
                      color:  #ffbe00;
                    }
                }
            }
        }
    }

    
      /*-- End Page Title --*/
      .prompt {
        font-family: "Prompt", sans-serif;
      }
      .card-title {
        font-family: "Prompt", sans-serif;
      }
      .header-title {
        font-family: "Prompt", sans-serif;
      }
      .module {
        width: 250px;
        height: 125px;
        // overflow: hidden;
      }
      * {
        font-family: "Prompt", sans-serif;
      } 
      
      