<app-navbar-style-three></app-navbar-style-three>

<section class="coming-area " style="margin-top: 200px;">
    <!-- <div class="coming-item">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="coming-text">
                        <h3>โปรดอ่านและทำความเข้าใจข้อตกลงและเงื่อนไขการใช้ "CCT" นี้อย่างละเอียด
                        </h3>
                        <p>การที่ท่านติดตั้งแอปพลิเคชัน "CCT" ถือว่าท่านยอมรับข้อตกลงและเงื่อนไขที่กำหนดไว้ ทุกประการ</p>

                        <div class="row coming-wrap">
                            <div class="col-6 col-sm-6 col-lg-3">
                                <div class="coming-inner">
                                    <h3 id="days"></h3>
                                    <p>Days</p>
                                </div>
                            </div>
                            
                            <div class="col-6 col-sm-6 col-lg-3">
                                <div class="coming-inner">
                                    <h3 id="hours"></h3>
                                    <p>Hours</p>
                                </div>
                            </div>

                            <div class="col-6 col-sm-6 col-lg-3">
                                <div class="coming-inner">
                                    <h3 id="minutes"></h3>
                                    <p>Minutes</p>
                                </div>
                            </div>

                            <div class="col-6 col-sm-6 col-lg-3">
                                <div class="coming-inner">
                                    <h3 id="seconds"></h3>
                                    <p>Seconds</p>
                                </div>
                            </div>
                        </div>

                        <ul>
                            <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-linkedin'></i></a></li>
                            <li><a target="_blank" href="#"><i class='bx bxl-pinterest'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="coming-item ">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="coming-text">
                        <!--                     
                        <h4>ข้อตกลงและเงื่อนไขการใช้แอปพลิเคชันอาสาสมัครดิจิทัล
                        </h4> -->

                        <!-- <h4>โปรดอ่านและทำความเข้าใจข้อตกลงและเงื่อนไขการใช้ "CCT" นี้อย่างละเอียด
                        </h4> -->
                        <h3>"CCT"
                            เป็นแอปพลิเคชันที่สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติพัฒนาขึ้นเพื่อใช้เป็นเครื่องมือในการติดต่อประสานงาน
                            เผยแพร่ข่าวสาร และติดตามข้อมูลในโครงการการพัฒนาเครือข่าย Cyber Community Thailand </h3>
                        <h3 class="pt-2">โปรดอ่านและทำความเข้าใจข้อตกลงและเงื่อนไขการใช้ "CCT" นี้อย่างละเอียด
                            การที่ท่านติดตั้งแอปพลิเคชัน "CCT" ถือว่าท่านยอมรับข้อตกลงและเงื่อนไขที่กำหนดไว้ ทุกประการ
                        </h3>
                        <h3 class="pt-2">"CCT" หรือ “ผู้ให้บริการ” หมายความถึง
                            สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ
                        </h3>
                        <h3 class="pt-2">“ผู้ใช้บริการ” หมายความถึง บุคคลธรรมดาหรือนิติบุคคลที่ใช้บริการใดๆ
                            ของแอปพลิเคชัน "CCT"
                        </h3>
                        <h3 class="pt-2">“บริการ” หมายความรวมถึง การใช้ผลิตภัณฑ์ ซอฟต์แวร์ ของแอปพลิเคชัน "CCT"
                        </h3>


                        <h2 class="pt-4">ข้อ 1. คุณสมบัติในการใช้บริการให้หมายความรวมถึงการให้บริการดังต่อไปนี้ด้วย เช่น
                        </h2>
                        <p>1.1 โพสต์ข่าวสารเกี่ยวกับการดำเนินงานในโครงการการพัฒนาเครือข่าย Cyber Community Thailand</p>
                        <p>1.2 ติดตามข้อมูลข่าวสาร-ประกาศจากทางโครงการการพัฒนาเครือข่าย Cyber Community Thailand</p>
                        <p>1.3 เป็นช่องทางในการเข้าถึงองค์ความรู้ด้านดิจิทัลผ่านเมนู “องค์ความรู้”</p>
                        <p>1.4 เป็นช่องทางในการตรวจสอบข่าวปลอมผ่านเมนู “ตรวจสอบข่าวปลอม”</p>
                        <p>1.5 เป็นช่องทางในการตรวจสลากกินแบ่ง</p>
                        <p>1.6 ตรวจสอบบริการเพิ่มเติมจากทางภาครัฐ</p>
                        <p>1.7 ศึกษาเรียนรู้ด้วยตนเองผ่านเมนู “เรียนรู้” และ “บทเรียนออนไลน์”</p>

                        <h2>ข้อ 2. การใชัข้อมูล</h2>
                        <p>
                            การรวบรวมจะถูกแบ่งปันกับเจ้าหน้าที่ของสำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติและส่วนงานที่เกี่ยวข้องเท่านั้นข้อมูลจะไม่ถูกแชร์เพื่อวัตถุประสงค์
                            ทางการค้าโดยไม่ได้รับอณุญาตจากผู้ใช้บริการ
                            และข้อมูลเหล่านี้จะได้รับการจัดเก็บไว้ในฐานข้อมูลและนำมาใช้ประโยชน์ของผู้บริการ ดังนี้
                        </p>
                        <p>2.1 เพื่อให้ระบบแสดงข้อมูลหรืออนุญาตให้ผู้ใช้บริการเข้าถึงบริการบางอย่างได้ เช่น
                            โพสต์ข่าวสารเกี่ยวกับการดำเนินงานในโครงการการพัฒนา Cyber Community Thailand</p>

                        <p>2.2 เพื่อให้ "CCT" สามารถนำเสนอข่าวสารหรือประชาสัมพันธ์เกี่ยวกับข้อมูล
                            และกิจกรรมที่เป็นประโยชน์ต่อผู้ใช้งานแต่ละรายตามความเหมาะสม
                            เพื่อใช้เป็นข้อมูลเบื้องต้นในการปรับปรุงเนื้อหาและบริการของแอปพลิเคชันฯ
                            ให้สอดคล้องกับความต้องการของผู้ใช้บริการมากที่สุด</p>

                        <h2>ข้อ 3. ความยินยอมของผู้ใช้บริการ</h2>
                        <p> ผู้ใช้บริการตกลงให้ความยินยอมแก่ "CCT" เพื่อเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูล
                            ส่วนบุคคลตามข้อตกลงนี้ ตามวัตถุประสงค์ที่กำหนดในเงื่อนไขการใช้ "CCT" ฉบับนี้
                            โดยถือเป็นการให้ความยินยอมอย่างต่อเนื่อง
                            และให้ถือว่าผู้ขอใช้บริการได้ให้ความยินยอมนี้ทุกครั้งที่มีการเข้าใช้แอปพลิเคชัน "CCT"
                        </p>

                        <h2>ข้อ 4. ความปลอดภัยของข้อมูล</h2>
                        <p> เพื่อรักษาความปลอดภัยให้กับเซิร์ฟเวอร์ของฐานข้อมูล รวมทั้งป้องกันการสูญหาย เปลี่ยนแปลง
                            หรือนำข้อมูลไปใช้โดยผู้ที่ไม่ได้รับอนุญาต "CCT" ได้นำเทคโนโลยี SSL (Secure Socket Layer)
                            ซึ่งเป็นระบบรักษาความปลอดภัยของข้อมูลที่ได้รับการยอมรับสูงสุดระบบหนึ่งใน ขณะนี้
                            มาใช้ในการติดต่อสื่อสารระหว่าง "CCT" และผู้ใช้บริการ โดยข้อมูลต่างๆ จะถูกส่งจากอุปกรณ์
                            หรือเครื่องคอมพิวเตอร์ของผู้ใช้บริการไปยัง "CCT" ทั้งนี้ เพื่อความปลอดภัยของข้อมูล
                            ผู้ใช้บริการต้องปฏิบัติตามข้อตกลงและเงื่อนไขการให้บริการ "CCT"อย่างเคร่งครัด</p>

                        <h2>ข้อ 5. การจัดเก็บและเผยแพร่ข้อมูลแก่บุคคลที่สาม</h2>
                        <p> 5.1. "CCT" อนุญาตให้เฉพาะเจ้าหน้าที่ของ "CCT" และส่วนงานที่เกี่ยวข้อง เท่านั้น
                            ที่จะเข้าถึงข้อมูลผู้ใช้บริการ โดยไม่นำข้อมูลของผู้ใช้บริการเพื่อประโยชน์ส่วนตัว ทั้งนี้
                            เจ้าหน้าที่และส่วนงานดังกล่าวต้องผ่านการอบรมมาเป็นอย่างดี
                            และต้องเข้าใจนโยบายการรักษาความลับของข้อมูลมาเป็นอย่างดีแล้ว</p>

                        <p> 5.2. ข้อมูลส่วนบุคคลของผู้ใช้บริการจะได้รับการเก็บรักษาเป็นความลับ ทั้งในรูปเอกสารและข้อมูล
                            อิเล็กทรอนิกส์ รวมทั้งในระหว่างการส่งผ่านข้อมูลทุกขั้นตอน</p>

                        <p> 5.3. ในกรณีที่ "CCT"
                            จำเป็นจะต้องเปิดเผยข้อมูลส่วนตัวของผู้ใช้บริการในเหตุที่นอกเหนือจากที่แจ้งมาแล้วนั้น "CCT"
                            จะติดต่อขอรับความยินยอมจากผู้ใช้บริการ ทั้งนี้
                            การยินยอมให้เปิดเผยข้อมูลจะขึ้นอยู่กับดุลพินิจของผู้ใช้บริการเอง</p>

                        <p> 5.4. "CCT" จะไม่รับผิดชอบการเก็บรักษาข้อมูลใดๆ
                            หรือข้อมูลการใช้งานของผู้ที่ใช้บริการอย่างผิดวัตถุประสงค์
                            หรือผิดเงื่อนไขการให้บริการหรือผิดกฎหมาย</p>

                        <h2>ข้อ 6. การเชื่อมโยงไปยังเว็บไซต์อื่น</h2>

                        <p> การรักษาข้อมูลของผู้ใช้บริการ "CCT" ไม่ได้ครอบคลุมถึงการใช้งานเว็บไซต์ใดๆ ที่ "CCT"
                            เชื่อมโยงไปถึง ดังนั้น ผู้ใช้บริการต้องปฏิบัติตามข้อตกลงและเงื่อนไขของเว็บไซต์นั้นๆ
                            โดยเคร่งครัด "CCT" จะไม่รับผิดชอบต่อความเสียหายหรือความผิดพลาดใดๆ
                            ในกรณีที่ผู้ใช้บริการนำข้อมูลส่วนตัวไปใช้ในเว็บไซต์อื่น</p>

                        <h2>ข้อ 7. การเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้แอปพลิเคชัน "CCT"</h2>
                        <p> "CCT" ขอสงวนสิทธิ์ในการเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้แอปพลิเคชัน "CCT"
                            โดยไม่ต้องแจ้งให้ผู้ใช้งานทราบล่วงหน้า โดยทุกครั้งที่มีการเข้าใช้งานแอปพลิเคชัน "CCT"
                            ถือว่าผู้ใช้งานยอมรับข้อตกลงและเงื่อนไขที่เปลี่ยนแปลงนั้น</p>

                        <h2>ข้อ 8. สิทธิในทรัพย์สินทางปัญญา</h2>
                        <p> "CCT" หรือ สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ
                            มีความเป็นเจ้าของหรือมีกรรมสิทธิ์ในทรัพย์สินทางปัญญาบนแอปพลิเคชัน "CCT" แต่เพียงผู้เดียว
                            ห้ามมิให้ทำซ้ำ โอน เปลี่ยนแปลง แก้ไข เผยแพร่ หรือในรูปแบบอื่นๆ ไม่ว่าทั้งหมดหรือแต่ บางส่วน
                            โดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจากทางสำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ
                        </p>

                        <h2>ข้อ 9. การขอลบข้อมูล</h2>
                        <p> ผู้ใช้งานสามารถลบข้อมูลส่วนตัวของผู้ใช้งานได้ โดยทำการแจ้งขอลบข้อมูลได้ผ่านทางแอปพลิเคชัน
                            "CCT" </p>
                        <p><i class='bx bx-chevron-right'></i> ไปที่เมนู "โปรไฟล์" </p>
                        <p><i class='bx bx-chevron-right'></i> กดปุ่ม "แก้ไขข้อมูลส่วนตัว" </p>
                        <p><i class='bx bx-chevron-right'></i> จากนั้นเลือก "ยกเลิกบัญชีผู้ใช้งาน"</p>

                        <h2>ข้อมูลการใช้งานของคุณทั้งหมดจะถูกลบ</h2>

                        <p><i class='bx bx-chevron-right'></i> บัญชีของคุณจะถูกยกเลิกการใช้งานหลังจากที่ส่งคำร้องภายใน 7
                            วัน
                            ข้อมูลประวัติข้อมูลส่วนตัว ข้อมูลรายการค่าบริการ ข้อมูลรายการบันทึกรหัสลูกค้า
                            จะถูกนำออกทั้งหมด </p>

                        <p><i class='bx bx-chevron-right'></i> ภายหลัง 7
                            วันข้อมูลของท่านจะถูกลบโดยถาวรออกจากระบบฐานข้อมูลของแอปพลิเคชัน "CCT"
                            และคุณจะสามารถสมัครบัญชีใหม่ได้หลังจากที่ผ่านไป 7 วัน</p>

                        <h2>หากคุณมีข้อสงสัย</h2>

                        <p><i class='bx bx-chevron-right'></i>
                            สามารถติดต่อสอบถามได้ที่เบอร์โทรศัพท์ศูนย์บริการผู้ใช้งานของ Cyber Community Thailand <span
                                class="text-primary"> 02-142-1202 </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>