
$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
// $black-color: #0b0320;
$black-color: #000;
$gray-color: #a5a4a9;
// $yellow-color: #ffbe00;
$yellow-color: #404040;
/*----- Coming Soon CSS -----*/
/*-- Coming --*/
.coming-item {
          height: 100vh;
          text-align:start;
          
      
          h1 {
              font-size: 75px;
              font-weight: 700;
              font-style: italic;
              margin-bottom: 20px;
              font-family: 'Prompt';
          }
          
            .coming-text{
                    text-align:start;
                    max-width: 800px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                
           h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                    max-width: 865px;
                    margin-left: auto;
                    margin-right: auto; 
                    font-family: 'Prompt';
                    margin-top: 15px;
                }          
                
          h3 {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    font-family: 'Prompt';
                }
          h4 {
                    font-size: 22px;
                    font-weight: 500;
                    font-style: italic;
                    margin-bottom: 20px;
                    font-family: 'Prompt';
                    margin-top: 150px;

                }
          p {
              color: black;
              margin-bottom: 10px;
              max-width: 865px;
              margin-left: 20px;
              margin-right: auto;
          }
}
          .coming-wrap {
              max-width: 800px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 30px;
              
      
              .coming-inner{
          //         text-align: center;
                  background-color: #efefef;
                  padding-top: 15px;
                  padding-bottom: 12px;
                  margin-bottom: 30px;
      
                  h3{
                      font-size: 40px;
                      font-weight: 600;
                      color: #232323;
                      margin-bottom: 5px;
                      font-family: $common-font;
                  }
                  p{
                      font-size: 16px;
                      margin-bottom: 0;
                  }
              }
          }
          ul {
              margin: 0;
              padding: 0;
      
              li {
                  list-style-type: none;
                  display: inline-block;
                  margin-right: 2px;
                  margin-left: 2px;
      
                  a {
                      display: block;
                      color: $white-color;
                      background-color: $yellow-color;
                      width: 35px;
                      height: 35px;
                      line-height: 39px;
                      border-radius: 50%;
                      font-size: 16px;
      
                      &:hover {
                          background-color: $black-color;
                      }
                  }
              }
          }
      }
      /*-- End Coming --*/
      /*----- End Coming Soon CSS -----*/
      .descriptionText {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .prompt-light {
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
    }
    
    .subtitleText {
        font-size: 16px;
        font-weight: bold;
    }
    
    .contactInfo {
        margin-top: 20px;
        font-size: 14px;
    }
    
    .phoneNumber {
        font-size: 18px;
        font-weight: bold;
    }