<app-navbar-style-two></app-navbar-style-two>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>ลงทะเบียนอาสาสมัคร</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>อาสาสมัครดิจิทัล</li>
            </ul>
        </div>
    </div>
</div>

<section class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="checkout-item">
                    <h2 style="font-family: Prompt;">ลงทะเบียนอาสาสมัครดิจิทัล</h2>

                    <div class="checkout-one">
                        <form>

                            <div class="form-group">
                            <select class="form-control" (change)="onChangeprefix($event)">

                                <option hidden>โปรดระบุคำนำหน้า</option>
                                <option *ngFor="let pre of prefix" [value]="pre">{{pre}}
                                </option>
                            </select>
                        </div>

                            <!-- <div class="form-group">
                            <select class="form-control" (change)="onChangeGender($event)">

                                <option hidden>โปรดระบุ</option>
                                <option *ngFor="let gender of gender" [value]="gender">{{gender}}
                                </option>
                            </select>
                        </div> -->

                            <div class="form-group">
                                <!-- <label>ชื่อจริง:</label> -->
                                <input type="text" placeholder="ชื่อจริง:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>นามสกุล:</label> -->
                                <input type="text" placeholder="นามสกุล:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>เบอร์โทรศัพท์มือถือ:</label> -->
                                <input type="text" placeholder="เบอร์โทรศัพท์มือถือ:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>City:</label> -->
                                <!-- <input type="text" placeholder="City:" class="form-control"> -->
                                <select class="form-control" (change)="onChangamphoe($event)"  >

                                    <option hidden>โปรดระบุจังหวัด</option>
                                    <option *ngFor="let item of province" [value]="item.province_code">{{item.province}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <!-- <label>City:</label> -->
                                <!-- <input type="text" placeholder="City:" class="form-control"> -->
                                <select class="form-control" >

                                    <option hidden>โปรดระบุอำเภอ/เขต</option>
                                    <option *ngFor="let item of district" [value]="item">{{item.amphoe}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <!-- <label>Postal Code:</label> -->
                                <input type="text" placeholder="ตำบล/แขวง:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>Country:</label> -->
                                <input type="text" placeholder="รหัสไปรษณีย์:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>ที่อยู่:</label> -->
                                <input type="text" placeholder="หมู่บ้าน:" class="form-control">
                            </div>


                            <div class="form-group">
                                <!-- <label>Display name(ชื่อที่ใช้แสดงในแอปพลิเคชัน):</label> -->
                                <input type="text" placeholder="Display name(ชื่อที่ใช้แสดงในแอปพลิเคชัน):"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>วันเดือนปีเกิด:</label> -->
                                <input type="text" placeholder="วันเดือนปีเกิด:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>อีเมล:</label> -->
                                <input type="text" placeholder="อีเมล:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>อาชีพ:</label> -->
                                <input type="text" placeholder="อาชีพ:" class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- <label>ความสามารถด้านภาษา:</label> -->
                                <input type="text" placeholder="ความสามารถด้านภาษา:" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="checkout-item">
                    <h2 style="font-family: Prompt;">เงื่อนไขการสมัครสมาชิก</h2>

                    <div class="checkout-two">
                        <h3>การยอมรับข้อตกลงและเงื่อนไขการใช้บริการ</h3>
                        <p>ผู้ประสงค์จะใช้บริการแอปพลิเคชันเครือข่ายอาสาสมัครดิจิทัลจะต้องตกลงและปฏิบัติตามเงื่อนไขซึ่งปรากฏอยู่บนเงื่อนไขการเป็นสมาชิก
                            และเงื่อนไขการใช้บริการฉบับนี้หรือฉบับแก้ไขเพิ่มเติมอันอาจจะมีขึ้นในภายภาคหน้า
                            การตกลงยอมรับการใช้งานแอปพลิเคชันฯ
                            ถือว่าท่านได้ยินยอมและเห็นด้วยกับข้อตกลงและเงื่อนไขการให้บริการ ดังต่อไปนี้</p>
                        <p>1. ผู้ให้บริการจัดทำแอปพลิเคชันนั้น
                            เพื่อให้บริการข้อมูลข่าวสารและใช้เป็นช่องทางในการดำเนินงานเกี่ยวกับงานอาสาสมัครดิจิทัล
                            ภายใต้กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม ผู้ให้บริการขอสงวนสิทธิ์ในการทำการแก้ไข
                            เปลี่ยนแปลง และปรับปรุง รูปแบบ ข้อกำหนด และเงื่อนไขการให้บริการต่าง ๆ ที่ปรากฏบนแอปพลิเคชันฯ
                            โดยไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า</p>
                        <p>2. ในการใช้งานผู้ใช้บริการกรุณาศึกษาข้อกำหนดและเงื่อนไขต่างๆ ที่กำหนดไว้อย่างละเอียด
                            การใช้บริการหรือการเข้าถึงแอปพลิเคชันนี้
                            ให้ถือว่าท่านตกลงที่จะปฏิบัติตามข้อกำหนดและเงื่อนไขการให้บริการที่กำหนดไว้นี้
                            หากท่านไม่ประสงค์ที่จะผูกพันตามข่อกำหนดและเงื่อนไขการให้บริการนี้
                            กรุณายุติการใช้งานแอปพลิเคชันฯ</p>
                        <p>3. ผู้ให้บริการขอสงวนสิทธิ์ในการระงับการใช้แอปพลิเคชันนี้ ไม่ว่าในเวลาใดๆ
                            โดยไม่จำเป็นต้องบอกกล่าวแก่ผู้ใช้บริการ ทั้งนี้หากพบความผิดปรกติของการใช้งาน
                            เพื่อความปลอดภัยทางผู้ให้บริการขอสงวนสิทธิ์ในการระงับการใช้งานบัญชีนั้นๆ ได้ทันที</p>
                        <p>4. ผู้ใช้บริการต้องดำเนินการขอลงทะเบียนเป็นผู้ใช้บริการ โดยบันทึกข้อมูลส่วนตัวตามความเป็นจริง
                        </p>
                        <p>5. การเข้าถึงข้อมูลส่วนบุคคลของผู้ใช้บริการในการสมัครเป็นอาสาสมัครดิจิทัล
                            เพื่อนำข้อมูลส่วนบุคคลของผู้ใช้บริการมาแสดงผลบนแอปพลิเคชันฯ</p>

                        <div class="text-center">
                            <span></span>
                        </div>


                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <span>ยอมรับเงื่อนไขการสมัครสมาชิก <a href="#"></a></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <span>ข้าพเจ้าให้ความยินยอมให้ใช้ข้อมูลส่วนบุคคลในการประมวลผลเพื่อดำเนินกิจกรรมที่เกี่ยวข้องของอาสาสมัครดิจิทัล
                                    <a href="#"></a></span>
                            </label>
                        </div>


                        <!-- <ul>
                            <li><a target="_blank" href="#"><img src="assets/img/1.png" alt="Payment"></a></li>
                            <li><a target="_blank" href="#"><img src="assets/img/2.png" alt="Payment"></a></li>
                            <li><a target="_blank" href="#"><img src="assets/img/3.png" alt="Payment"></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn cmn-btn">สมัครอาสาสมัคร</button>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>