$common-font: 'Prompt', sans-serif;
$heading-font: 'Prompt', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: black;
$yellow-color: #ffbe00;
// $yellow-color: #404040;


/*----- Checkout CSS -----*/
/*-- Checkout --*/
.checkout-area {
          .cmn-btn {
              padding: 12px 45px;
              transition: $transition;
          }
      }
      .checkout-item {
          border: 1px solid #dddddd40;
          margin-bottom: 30px;
      
          h2 {
              text-align: center;
              font-size: 35px;
              margin-bottom: 50px;
              background-color: $yellow-color;
              padding-top: 15px;
              padding-bottom: 15px;
              font-weight: 700;
              color: $white-color;
          }
          .checkout-one {
              max-width: 515px;
              margin: auto;
              padding-bottom: 20px;
      
              label {
                  color: $black-color;
                  font-size: 15px;
                  margin-right: 10px;
                  position: relative;
                  top: 2px;
                  font-weight: 500;
              }
              .form-group {
                  margin: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 30px;
      
                  .form-control {
                      display: inline-block;
                      width: 90%;
                      background-color: #dddddd40;
                      border: 1px solid transparent;
                      border-radius: 0;
                      height: 45px;
                      font-size: 15px;
      
                      &:focus {
                          border: 1px solid $yellow-color;
                          box-shadow: none;
                      }
                  }
              }
          }
          .checkout-two {
              max-width: 460px;
              margin: auto;
              padding-bottom: 45px;
      
              h3 {
                  margin: 0;
                  margin-bottom: 15px;
                  font-size: 22px;
                  font-weight: 500;
                  font-family: 'Prompt';
              }
              p {
                  font-size: 15px;
                  margin-bottom: 10px;
              }
              .form-check {
                  margin-top: 15px;
                  margin-bottom: 15px;
      
                  span {
                      display: inline-block;
                      color: #797979;
                      font-size: 16px;
      
                      a {
                          color: #797979;
      
                          &:hover {
                              color: $black-color;
                          }
                      }
                  }
                  .form-check-input {
                      margin-top: 5px;
                      width: 14px;
                      height: 14px;
                  }
              }
              .text-center {
                  position: relative;
      
                  &:before {
                      position: absolute;
                      content: '';
                      width: 100%;
                      height: 1px;
                      left: 0;
                      top: 14px;
                      background-color: #ddd;
                  }
                  span {
                      display: inline-block;
                      color: $black-color;
                      font-size: 15px;
                      margin-bottom: 20px;
                      background-color: $white-color;
                      position: relative;
                      padding-left: 10px;
                      padding-right: 10px;
                  }
              }
              ul {
                  margin: 0;
                  padding: 0;
                  text-align: center;
      
                  li{
                      list-style-type: none;
                      display: inline-block;
                      margin-right: 4px;
                      margin-left: 4px;
      
                      a {
                          border: 1px solid transparent;
                          display: block;
      
                          &:hover {
                              border: 1px solid $yellow-color;
                          }
                      }
                  }
              }
          }
      }
      /*-- End Checkout --*/
      /*----- End Checkout CSS -----*/
      