<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>ทำเนียบรุ่น</h2>
            <ul>
                <li><a routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>อาสาสมัครดิจิทัล</li>
            </ul>
        </div>
    </div>
</div>




<section class="chef-area chef-area-two pb-70">
    <div class="container">
        <h2 style="text-align:center; font-family: Prompt; font-size: 35px; font-weight: 700; margin-bottom: 20px;">
            ทำเนียบรุ่นแกนนำอาสาสมัครดิจิทัล</h2>

        <div class="sorting-menu pb-70">
            <ul>
                <li *ngFor="let item of getDataGen" class="filter" [ngClass]="{'active': dataGen1[0]?.users[0]?.generation_id == item.id}" (click)="getGeneration2(item?.id)">
                    แกนนำอาสาสมัครรุ่นที่ {{item.id}}</li>
            </ul>
        </div>
        <div class="sorting-menu pb-70">
            <ul>
                <li *ngFor="let item of getfile" class="filter" (click)="openPDF(item?.source)">
                    {{item?.name}}</li>
            </ul>
        </div>



        <div class="row" id="gen1" style="margin-bottom: 30px;">
            <h2 style="text-align:center; font-family: Prompt;">ข้อมูลสมาชิกแกนนำอาสาสมัครรุ่นที่
                {{dataGen1[0]?.users[0]?.generation_id}}</h2>

            <!-- <a  target="_blank"  href="/assets/pdf/ทำเนียบรุ่น_รุ่น1.pdf" style="text-align:center; font-family: Prompt;font-size: 20px; margin-left: 30px;">ดาวน์โหลดเอกสารข้อมูลแกนนำ</a> -->
           
        </div>

        <div *ngFor="let item of dataGen1" class="col-lg-12" style="margin-bottom: 50px;">
            <h2 style="text-align:center; font-family: Prompt; margin-bottom: 20px;">{{item?.province != "กรุงเทพมหานคร"
                ? item?.province: null }}</h2>

            <div class="row">
                <div *ngFor="let itemUser of item.users" class="col-sm-6 col-lg-3">

                    <div class="chef-item active">
                        <div class="chef-top">


                            <img *ngIf="itemUser.ImageDirectory != null"
                                [src]="'https://tdv.netpracharat.com:5000/uploads/ImageDirectory'+itemUser?.generation_id +'/'+itemUser?.ImageDirectory"
                                alt="Chef">
                            <img *ngIf="itemUser?.ImageDirectory == null" src="assets/img/home-one/chef/1.jpg"
                                alt="Chef">

                            <div class="chef-inner">
                                <div *ngFor="let Amphoe of itemUser?.amphoes">
                                    <h3>{{Amphoe?.Amphoe}}</h3>
                                </div>
                                <span>{{itemUser?.prefix+ " " + itemUser?.name + " " + itemUser?.lastname}}</span>
                                <span>{{itemUser?.Email}}</span>
                                <span>{{itemUser?.tel}}</span>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>



        <!-- <h2 style="text-align:center; font-family: Prompt; margin-bottom: 20px;">
            ตารางส่งมอบงาน</h2> -->


        <!--             
            <table  *ngIf="loading3 == true" datatable class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>อำเภอที่รับผิดชอบ</th>
                    <th>จังหวัด</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let send of dataCheck; index as i">
                    <td>{{ i + 1}}</td>
                    <td>{{ send.user.prefix + send.user.name }}</td>
                    <td>{{ send.user.lastname }}</td>
                    <td>{{ send.district}}</td>
                    <td>{{ send.province}}</td>
                  </tr>
                </tbody>
              </table> -->



    </div>





</section>




<app-footer-style-one></app-footer-style-one>