$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
// $yellow-color: #ffbe00;
$yellow-color: #404040;

/*-- Default CSS --*/


/*-- Page Title --*/
.page-title-img-one {
        //   background-image: url('../../../../assets/img/S__14508204.jpg');
        background-color: #ffbe00;
      }
      .page-title-item {
        padding-left: 40px;
        position: relative;
    
        &:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 100px;
            left: 0;
            top: 0;
            border-radius: 50px;
            background-color:  #404040;
        }
        h2 {
            font-size: 35px;
              font-weight: 700px;
              color:  #0b0320;
              margin-bottom: 10px;
              font-family: "Prompt", sans-serif;
        }
        ul {
            margin: 0;
            padding: 0;
    
            li {
                list-style-type: none;
                display: inline-block;
                color: black;
    
                i {
                    display: inline-block;
                    font-size: 25px;
                    position: relative;
                    top: 6px;
                    color:  #404040;
                    font-size: 25px;
                }
                a {
                    display: inline-block;
                    color:  #404040;
                    font-size: 25px;
                  
                    
    
                    &:hover {
                      color:  #ffbe00;
                    }
                }
            }
        }
    }
    

/*-- FAQ --*/
.faq-area1 {
          .faq-head {
              h2 {
                  margin-bottom: 35px;
                  font-weight: 600;
                  font-size: 30px;
                  margin-top: -7px;
                  font-family: 'Prompt';
              }
          }
          .faq-wrap {
              margin-bottom: 50px;
          
              &:last-child {
                  margin-bottom: 30px;
              }
          }
          .accordion { 
              padding-left: 0;
              margin: 0;
              padding: 0;
          
              p {
                  font-size: $all-size;
                  display: none;
                  padding: 20px 45px 15px 20px;
                  margin-bottom: 0;
              }
             
          

              a {
                  color: #232323;
                  font-size: 17px;
                  width: 100%;
                  display: block;
                  cursor: pointer;
                  font-weight: 600;
                  padding: 15px 0 15px 18px;
                  border: 1px solid #232323;
                  border-radius: 8px 8px 0 0;
          
                  &:hover {
                      color: $black-color;
                  }
                  &:after {
                      position: absolute;
                      right: 20px;
                    //   content: "+";
                      top: 10px;
                      color: #232323;
                      font-size: 25px;
                      font-weight: 700;
                  }
              }
              li {
                  position: relative;
                  list-style-type: none;
                  margin-bottom: 30px;
          
                  &:first-child {
                      border-top: 0;
                  }
                  &:last-child {
                      margin-bottom: 0;
                  }
              }
          }
          .accordion {
              .li {
                  a.active {
                      color: $white-color;
                      background-color: $black-color;
                      border: 1px solid $black-color;
                  }
                  a.active:after {
                    //   content: "-";
                      font-size: 25px;
                      color: $white-color;
                  }
              }
          }
      }