/* You can add global styles to this file, and also import other style files */
.prompt {
    font-family: "Prompt", sans-serif;
  }
  .card-title {
    font-family: "Prompt", sans-serif;
  }
  .header-title {
    font-family: "Prompt", sans-serif;
  }
  * {
    font-family: "Prompt", sans-serif;
  }