
$common-font: 'Prompt', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;

/*-- Page Title --*/      
.page-title-area {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 230px;
          padding-bottom: 135px;
      }
      .page-title-img-one {
        background-image: url('../../../../assets/img/headerASD/header_news2.jpg');
       
    
    }
      .page-title-item {
          padding-left: 40px;
          position: relative;
      
          &:before {
              position: absolute;
              content: '';
              width: 10px;
              height: 100px;
              left: 0;
              top: 0;
              border-radius: 50px;
              background-color: #0b0320;
              
          }
          h2 {
              font-size: 35px;
              font-weight: 700px;
              color:  #0b0320;
              margin-bottom: 10px;
              font-family: "Prompt", sans-serif;
          }
          ul {
              margin: 0;
              padding: 0;
      
              li {
                  list-style-type: none;
                  display: inline-block;
                  color: $black-color;
 
                  font-size: 20px;
      
                  i {
                      display: inline-block;
                      font-size: 25px;
                      position: relative;
                      top: 6px;
                      color:  #0b0320;
                  }
                  a {
                      display: inline-block;
                      color:  #0b0320;
                      font-size: 25px;
                      &:hover {
                          // color: $yellow-color;
                          color:  #ffbe00;
                      }
                  }
              }
          }
      }
      /*-- End Page Title --*/
