$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;


// .banner-area {
//     background-image: url('../../../../assets/img/S__14508204.jpg');
//     opacity:0.5;
// }
/*-- Banner --*/
.banner-area-three {

    background-image: url('../../../../assets/img/headerASD/header_knowledge3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        opacity: .90;
    }

    .banner-shape {
        img {
            position: absolute;

            &:nth-child(1) {
                bottom: 35px;
                left: 140px;
                max-width: 120px;
            }

            &:nth-child(2) {
                top: 85px;
                left: 45px;
                max-width: 120px;
            }

            &:nth-child(3) {
                bottom: 0;
                right: 20px;
                max-width: 120px;

            }
        }
    }

    .banner-content {
        position: relative;
        padding-top: 150px;
        padding-bottom: 150px;

        h1 {
            color: #444444;
            font-weight: 700;
            font-size: 65px;
            margin-bottom: 20px;
            max-width: 700px;
        }

        p {
            color: #444444;
            margin-bottom: 35px;
            max-width: 575px;
            margin-left: 0;
        }

        .banner-btn-wrap {
            .cmn-btn {
                margin-right: 18px;
            }

            .banner-btn-two {
                font-weight: 500;
                color: #444444;
                border: 1px solid #444444;
                border-radius: 50px;
                display: inline-block;
                padding: 11px 30px;

                &:hover {
                    background-color: $black-color;
                    border: 1px solid $black-color;
                    color: $white-color;
                }
            }
        }
    }

    .banner-img {
        position: absolute;
        bottom: 140px;
        right: 40px;

        img {
            max-width: 505px;
            border-radius: 12px;
        }
    }
}

// .banner-area-three:before {
//     opacity:0.3;
//     background-image: url('../../../../assets/img/headerASD/header_knowledge3.jpg');
//     .banner-img {
//         position: absolute;
//         bottom: 140px;
//         right: 40px;

//         img {
//             max-width: 415px;
//             border-radius: 12px;
//         }
//     }
// }


.sorting-menu {
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 40px;

        li {
            list-style-type: none;
            display: inline-block;
            font-size: $all-size;
            color: $black-color;
            cursor: pointer;
            border-radius: 50px;
            padding: 10px 20px;
            margin-left: 5px;
            margin-right: 5px;
            transition: $transition;
            font-weight: 500;
            background-color: #f5f5f5;
            margin-bottom: 7px;

            &:hover,
            &.active {
                color: $white-color;
                background-color: $yellow-color;
            }
        }
    }
}

.collection-area {
    .more-collection {
        text-align: center;

        a {
            display: inline-block;
            font-weight: 500;
            color: $black-color;
            font-size: 18px;
            border-bottom: 1px solid $black-color;

            &:hover {
                color: $yellow-color;
                border-bottom: 1px solid $yellow-color;
            }
        }
    }

    .read-blog-btn {
        padding-top: 20px;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        color: $black-color;
        border-bottom: 1px solid $black-color;

        &:hover {
            color: $yellow-color;
            border-bottom: 1px solid $yellow-color;
        }
    }
}



.banner-content {

    @mixin trim($numLines: null) {
        @if $numLines !=null {
            display: -webkit-box;
            -webkit-line-clamp: $numLines;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        @else {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
    }

    .bar {
        @include trim(4);
    }

    .foo {
        @include trim(2);
    }

    position: relative;
    padding-top: 115px;
    padding-bottom: 70px;

    h1 {
        color: #444444;
        font-weight: 700;
        font-size: 65px;
        margin-bottom: 20px;
        max-width: 700px;
    }

    p {
        color: #444444;
        // margin-bottom: 35px;
        max-width: 575px;
        margin-left: 0;
    }

    .banner-btn-wrap {
        .cmn-btn {
            margin-top: 10px;
            margin-right: 18px;
        }

        .banner-btn-two {
            font-weight: 500;
            color: #444444;
            border: 1px solid #444444;
            border-radius: 50px;
            display: inline-block;
            padding: 11px 30px;

            &:hover {
                background-color: $black-color;
                border: 1px solid $black-color;
                color: $white-color;
            }
        }
    }
}


/*-- Review --*/
.review-area {
    // background-color: #F4F4F4;
    background-color: #ffbe00;
    position: relative;

    .slick-prev {
        left: 0;

        &:before {
            display: none;
        }

        i {
            color: $yellow-color;
            display: block;
            font-size: 35px;
            position: absolute;
            bottom: -98px;
            left: 240px;
            transition: $transition;

            &:hover {
                color: $black-color;
            }
        }
    }

    .slick-next {
        right: 0;

        &:before {
            display: none;
        }

        i {
            color: $yellow-color;
            display: block;
            font-size: 35px;
            position: absolute;
            bottom: -98px;
            right: 240px;
            transition: $transition;

            &:hover {
                color: $black-color;
            }
        }
    }

    .review-shape {
        img {
            position: absolute;
            bottom: 20px;
            right: 0;
            max-width: 100px;
            animation: review-animation 8s infinite linear;
        }
    }

    .review-img {
        position: relative;

        img {
            &:nth-child(1) {
                position: relative;
            }

            &:nth-child(2) {
                position: absolute;
                top: 60px;
                right: 0;
            }
        }
    }

    .review-item {
        text-align: center;
        max-width: 560px;
        padding-top: 100px;
        padding-bottom: 100px;

        .section-title {
            margin-bottom: 30px;
        }

        .slider-nav {
            margin-bottom: 40px;

            .slick-center {
                img {
                    transform: scale(1.3);
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
            }

            img {
                margin-left: auto;
                margin-right: auto;
                margin-top: 12px;
                transition: $transition;
                max-width: 75px;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
        }

        .slider-for {
            h3 {
                font-weight: 500;
                font-size: 20px;
                font-family: $common-font;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 0;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

/*-- End Review --*/


.about-content {
    max-width: 620px;
    margin-top: 100px;
    padding-left: 40px;

    .section-title {
        text-align: left;
        margin-bottom: 35px;

        h2 {
            margin-bottom: 25px;
        }

        p {
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
}

/*-- Service --*/
.services-area {

    @mixin trim($numLines: null) {
        @if $numLines !=null {
            display: -webkit-box;
            -webkit-line-clamp: $numLines;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        @else {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
    }

    .bar {
        @include trim(2);
    }

    .foo {
        @include trim;
    }

    background-color: #fff;
    //   background-color: #F4F4F4;

    .services-item {
        text-align: center;
        padding: 32px 20px 30px;
        border-radius: 25px;
        transition: $transition;
        position: relative;

        a {
            display: block;
        }

        &:hover {
            background-color: $yellow-color;

            .service-shape {
                opacity: 1;
                border-radius: 25px;
            }

            h3 {
                color: $white-color;

            }

            p {
                color: $white-color;
            }
        }

        img {
            margin-bottom: 20px;
            width: auto !important;
            height: 160px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .service-shape {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition;
            opacity: 0;
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 0;
        }

        h3 {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
            transition: $transition;
            color: $black-color;
            font-family: "Prompt";
        }

        p {
            margin-bottom: 0;
            transition: $transition;
            color: $gray-color;
        }
    }

    .services-slider {
        margin-bottom: -9px;

        .center {
            background-color: $yellow-color;
            border-radius: 25px;

            .service-shape {
                opacity: 1;
            }

            h3 {
                color: $white-color;
            }

            p {
                color: $white-color;
            }
        }

        .owl-prev {
            height: 40px;
            width: 40px;
            line-height: 45px !important;
            border-radius: 50% !important;
            text-align: center;
            color: $white-color !important;
            background-color: #ffe7a2 !important;
            font-size: 25px !important;
            transition: $transition;
            position: absolute;
            top: 45%;
            left: -55px;
            opacity: 0;

            &:hover {
                background-color: $yellow-color !important;
            }
        }

        .owl-next {
            height: 40px;
            width: 40px;
            line-height: 45px !important;
            border-radius: 50% !important;
            text-align: center;
            color: $white-color !important;
            background-color: #ffe7a2 !important;
            font-size: 25px !important;
            transition: $transition;
            position: absolute;
            top: 45%;
            right: -55px;
            opacity: 0;

            &:hover {
                background-color: $yellow-color !important;
            }
        }

        &:hover {
            .owl-prev {
                opacity: 1;
                left: -48px;
            }

            .owl-next {
                opacity: 1;
                right: -48px;
            }
        }
    }

    .read-blog-btn {
        padding-top: 20px;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        color: $black-color;
        border-bottom: 1px solid $black-color;

        &:hover {
            color: $yellow-color;
            border-bottom: 1px solid $yellow-color;
        }
    }
}


/*-- End Service --*/

.blog-area {
    .read-blog-btn {
        text-align: center;
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        color: $black-color;
        border-bottom: 1px solid $black-color;

        &:hover {
            //   color: $yellow-color;
            color: #ffbe00;
            border-bottom: 1px solid #ffbe00;
            ;
        }
    }

}

#Test .asd {
    display: none;
}

.modal-backdrop {
    /* Add your custom styles here */
    background-color: rgba(0, 0, 0, 0.5); /* Example: semi-transparent black */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1040; /* Ensure it's below modal but above content */
    display: none; /* Hide it initially */
    backdrop-filter: blur(5px); /* Apply blur effect */
  }
  
  /* Show the overlay when the modal is open */
  .modal.show ~ .overlay {
    display: block;
  }