<app-navbar-style-one></app-navbar-style-one>
<!-- <div class="banner-area-three">
    <div class="banner-shape">
        <img src="assets/img/home-three/banner3.png" alt="Shape">
        <img src="assets/img/home-three/banner2.png" alt="Shape">
        <img src="assets/img/home-three/banner4.png" alt="Shape">
    </div>

    <div class="container">
        <div class="banner-content">
            <h1>Make Your Party With Delicious Dishes</h1>
            <p>A restaurant or an eatery, is a business that prepares and serves food and drinks to customers. Meals are generally served and eaten on the premises, but many.</p>
            <div class="banner-btn-wrap">
                <a class="cmn-btn" routerLink="/online-order">Order Now</a>
                <a class="banner-btn-two" routerLink="/contact">Get Free Call</a>
            </div>
        </div>

        <div class="banner-img">
            <img src="assets/img/home-three/banner1.jpg" alt="Banner">
        </div>
    </div>
</div> -->


<div class="banner-area-three pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 style="font-family: Prompt;" class="foo">{{digitalUpdateHome[0]?.name}}</h1>
                    <p class="bar" [innerHTML]="description"></p>
                    <div class="banner-btn-wrap">
                        <a class="cmn-btn" href="javascript:void(0)"
                            (click)="gotoDetailsDigital(digitalUpdateHome[0]?.id)">อ่านเพิ่มเติม</a>
                        <a class="banner-btn-two" routerLink="/news-general">อ่านข่าวอื่นๆ</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="download-img">
                    <img *ngIf="!loading"
                        [src]="'https://tdv.netpracharat.com:5000/uploads/PR/'+ digitalUpdateHome[0]?.picture"
                        alt="Banner">
                </div>
            </div>
        </div>
    </div>
</div>


<section class="services-area pt-100" style="padding-top: 150px;">
    <div class="container">
        <div class="section-title">
            <h2>ข่าวสารดิจิทัลอัปเดต</h2>
            <p>"ข่าวสารดิจิทัลอัปเดต" คือการอัปเดตข้อมูลข่าวสารที่เกี่ยวกับความรู้ทางด้านดิจิทัลให้กับอาสาสมัครดิจิทัล
                เพื่อให้อาสาสมัครดิจิทัลได้เช้าถึงและก้าวทันยุคสมัยของดิจิทัลในปัจจุบัน</p>
        </div>


        <div class="services-slider owl-theme owl-carousel">
            <div class="services-item">
                <a href="javascript:void(0)" (click)="gotoDetailsDigital(digitalUpdateHome[0]?.id)">
                    <img [src]="'https://tdv.netpracharat.com:5000/uploads/PR/' + digitalUpdateHome[0]?.picture">

                    <h3 class="foo">{{digitalUpdateHome[0]?.name}}</h3>
                    <p class="bar" [innerHTML]="description"></p>
                </a>
            </div>


            <div class="services-item">
                <a href="javascript:void(0)" (click)="gotoDetailsDigital(digitalUpdateHome[1]?.id)">
                    <img [src]="'https://tdv.netpracharat.com:5000/uploads/PR/'+ digitalUpdateHome[1]?.picture">

                    <h3 class="foo">{{digitalUpdateHome[1]?.name}}</h3>
                    <p class="bar" [innerHTML]="description1"></p>
                </a>
            </div>


            <div class="services-item">
                <a href="javascript:void(0)" (click)="gotoDetailsDigital(digitalUpdateHome[2]?.id)">
                    <img [src]="'https://tdv.netpracharat.com:5000/uploads/PR/'+ digitalUpdateHome[2]?.picture">

                    <h3 class="foo">{{digitalUpdateHome[2]?.name}}</h3>
                    <p class="bar" [innerHTML]="description2"></p>
                </a>
            </div>


            <div class="services-item">
                <a href="javascript:void(0)" (click)="gotoDetailsDigital(digitalUpdateHome[3]?.id)">
                    <img [src]="'https://tdv.netpracharat.com:5000/uploads/PR/'+ digitalUpdateHome[3]?.picture">

                    <h3 class="foo">{{digitalUpdateHome[3]?.name}}</h3>
                    <p class="bar" [innerHTML]="description3"></p>
                </a>
            </div>

            <div class="services-item">
                <a href="javascript:void(0)" (click)="gotoDetailsDigital(digitalUpdateHome[4]?.id)">
                    <img [src]="'https://tdv.netpracharat.com:5000/uploads/PR/'+ digitalUpdateHome[4]?.picture">

                    <h3 class="foo">{{digitalUpdateHome[4]?.name}}</h3>
                    <p class="bar" [innerHTML]="description4"></p>
                </a>
            </div>


        </div>




    </div>
    <div class="text-center">
        <a class="read-blog-btn" routerLink="/news-general">ดูข่าวสารดิจิทัลเพิ่มเติม</a>
    </div>

</section>

<section class="services-area pt-100" style="padding-top: 150px;">
    <div class="container">
        <div class="section-title">
            <h2>ข่าวประชาสัมพันธ์ GCC111</h2> 
        </div>
    
        <div class="row">
            <div *ngFor="let item of dataGCC" class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a style="cursor: pointer;" (click)="gotoCouseOtherDetails(item.link)">

                            <img [src]="'https://www.gcc.go.th/wp-content/uploads/2020/02/economic-society.png'"
                                alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3><a class="module bar" (click)="gotoCouseOtherDetails(item.link)">{{item.title.rendered}}</a></h3>
                        <!-- <p class="module">{{item.description}}</p> -->
                        <a class="cmn-btn" href="javascript:void(0)" (click)="gotoCouseOtherDetails(item.link)"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">อ่านต่อ</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="blog-area pt-100">
    <div class="container">
        <div class="section-title">
            <h2>กิจกรรมเครือข่าย</h2>
            <p>รวบรวมข่าวสารต่างๆของอาสาสมัครดิจิทัลที่ได้ไปปฏิบัติหน้าที่และภารกิจที่ได้รับมอบหมาย</p>
        </div>

        <div class="row">
            <div *ngFor="let item of newsAsa" class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a style="cursor: pointer;" (click)="gotoDetailsAct(item.id)">

                            <img [src]="'https://tdv.netpracharat.com:5000/uploads/activityImage/'+item.headerimage"
                                alt="Blog">
                        </a>
                        <span>{{item.created_at|thaidate:'medium'}}</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a class="module bar" (click)="gotoDetailsAct(item.id)">{{item.name}}</a></h3>
                        <p class="module">{{item.description}}</p>
                        <a class="cmn-btn" href="javascript:void(0)" (click)="gotoDetailsAct(item.id)"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">อ่านต่อ</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center">
            <a class="read-blog-btn" routerLink="/volunteernews">ดูกิจกรรมเครือข่ายเพิ่มเติม</a>
        </div>
    </div>
</section>

<section class="collection-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>องค์ความรู้</h2>
            <p>รวบรวมเอกสารสาระสำคัญความรู้ต่างๆที่เกี่ยวอาสาสมัครดิจิทัลและรวมถึงคู่มือต่างๆของอาสาสมัครดิจิทัล</p>
        </div>

        <!-- <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">เอกสารทั้งหมด</li>
                <li class="filter" data-filter=".web">การพัฒนา อสด.</li>
                <li class="filter" data-filter=".ui">เทคนิคการใช้ดิจิทัล</li>
            
            </ul>
        </div> -->

        <div class="row">

            <!-- <div *ngFor="let item of datamanual" class="col-sm-6 col-lg-3 mix web">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openManual_1(item.file)" [src]="'https://tdv.netpracharat.com:5000/uploads/logo/'+ item.image"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openManual_1(item.file)"><i class='bx bxs-book'></i> ดูรายละเอียด</a>
                        </div>
                    </div>

                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">{{item.name}}</h3>
                        <h3 style="font-size: 12px;">{{item.shortdescription}}</h3>
                      
                    </div>
                </div>
            </div> -->


            <div class="col-sm-6 col-lg-3 mix web">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openManual_4()" src="assets/learning/manual4.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openManual_4()"><i class='bx bxs-book'></i>
                                ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">คู่มือปฏิบัตนักตรวจสอบข้อเท็จจริง</h3>
                        <h3 style="font-size: 12px;">E-Book: คู่มือปฏิบัตนักตรวจสอบข้อเท็จจริง</h3>

                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-3 mix ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openCourse_2()" src="assets/learning/techSure_2.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a tyle="cursor: pointer;" (click)="openCourse_2()"><i class='bx bxs-book'></i>
                                ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">คู่มือคนไทยรู้ทันภัยไซเบอร์</h3>
                        <h3 style="font-size: 12px;">คู่มือคนไทย รู้ทันภัยไซเบอร์ (Cybersecurity for all)</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mix ui">
                <div class="collection-item">
                    <div class="collection-top">
                        <img style="cursor: pointer;" (click)="openCourse_3()" src="assets/learning/techSure_1.png"
                            alt="Collection">
                        <ul>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                            <li><i class='bx bxs-chevron-right checked'></i></li>
                        </ul>
                        <div class="add-cart">
                            <a style="cursor: pointer;" (click)="openCourse_3()"><i class='bx bxs-book'></i>
                                ดูรายละเอียด</a>
                        </div>
                    </div>
                    <div class="collection-bottom">
                        <h3 style="font-size: 16px;">พลเมืองเท่าทันสื่อ</h3>
                        <h3 style="font-size: 12px;">คู่มือการจัดการเรียนรู้
                            เพื่อสร้างพลเมืองรู้เท่าทันสื่อสำหรับมัธยมศึกษาปลาย (Digital Citizenship Management Skills)
                        </h3>

                    </div>
                </div>
            </div>




        </div>


    </div>
    <div class="text-center">
        <a class="read-blog-btn" routerLink="/knowledge">ดูองค์ความรู้เพิ่มเติม</a>
    </div>

</section>


<section class="blog-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>บริการอื่นๆ เพิ่มเติม</h2>
            <p>ช่องทางให้บริการเพิ่มเติมอื่นๆแนะนำจากเว็ปไซด์อาสาสมัครดิจิทัลที่มีประโยชน์
                สำหรับในชีวิตประจำวันในยุคของไทยแลนด์ดิจิทัล 4.0</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a (click)='openFacebook()'>
                            <img src="assets/img/youtube2.png" alt="Blog">
                        </a>
                        <span>Facebook</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a (click)='openFacebook()'>Facebook Page</a></h3>
                        <p>เพจหลักของอาสาสมัครดิจิทัลที่เป็นอีกหนึ่งช่องทางในการดูข่าวสารเกี่ยวกับอาสาสมัครดิจิทัลหรือติดต่อ
                        </p>
                        <a class="cmn-btn" href="javascript:void(0)" (click)='openFacebook()'>ดูเพิ่มเติม</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a (click)='openFakenews()'>
                            <img src="assets/img/fakenews.png" alt="Blog">
                        </a>
                        <span>Anti Fakenews</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a (click)='openFakenews()'>ตรวจสอบข่าวปลอม</a></h3>
                        <p>เว็ปไชต์แนะนำสำหรับการตรวจสอบข่าวจากในที่ต่าง อาทิเช่น ตรวจสอบข่าวจากโซเชียลมีเดีย
                            ว่าคือข่าวที่เป็นความจริงหรือไม่</p>
                        <a class="cmn-btn" href="javascript:void(0)" (click)='openFakenews()'>ดูเพิ่มเติม</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a (click)='openSure()'>
                            <img src="assets/img/sure.png" alt="Blog">
                        </a>
                        <span>ชัวร์ก่อนแชร์</span>
                    </div>
                    <div class="blog-bottom">
                        <h3><a (click)='openSure()'>ชัวร์ก่อนแชร์</a></h3>
                        <p>ศุนย์ชัวร์ก่อนแชร์ สำนักข่าวไทย อสมท. ช่องจากเว็ปไซด์ Youtube ที่ตรวจสอบข้อเท็จจริงของข่าว
                            โดย พีรพล อนุตรโสตถิ์</p>
                        <a class="cmn-btn" href="javascript:void(0)" (click)='openSure()'>ดูเพิ่มเติม</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a class="read-blog-btn" routerLink="/otherservices">ดูบริการอื่นๆ เพิ่มเติม</a>
        </div>
    </div>
</section>

<section style="background-color: #f4f4f4;" class="download-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="download-content">
                    <div class="section-title"><span class="sub-title"
                            style="font-size: 20px;">ดาวน์โหลดแอปพลิเคชันฟรี</span>
                        <h2>แอปพลิเคชันอาสาสมัครดิจิทัล</h2>
                        <p style="font-size: 16px;">
                            สามารถดาวน์โหลดแอปพลิเคชัน “อาสาสมัครดิจิทัล” ได้แล้ววันนี้!! ทั้งในระบบ iOS และ Android
                            เพื่อความสะดวกในการใช้งานและฟีเจอร์ต่าง ๆ บนแอปพลิเคชันฯ อาทิ</p>
                    </div>
                    <ul>
                        <li><span>01</span>การโพสต์ข่าวสาร</li>
                        <li><span>02</span>ตรวจสอบข่าวปลอม</li>
                        <li><span>03</span>บริการเพิ่มเติมด้านดิจิทัลอื่นๆ</li>
                    </ul>
                    <div class="app-wrap">
                        <a href="https://play.google.com/store/apps/details?id=com.aorsordor"><img
                                src="assets/img/home-two/google-store.png" alt="Google"></a>
                        <a
                            href="https://apps.apple.com/th/app/%E0%B8%AD%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%AA%E0%B8%A1-%E0%B8%84%E0%B8%A3%E0%B8%94-%E0%B8%88-%E0%B8%97-%E0%B8%A5/id1531986091"><img
                                src="assets/img/home-two/app-store.png" alt="App"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="download-img"><img width=350px height='auto' src="assets/img/HomeASD.png" alt="Download">
                </div>
            </div>
        </div>
    </div>
</section>


<div #autoPopupModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-family: Prompt;" class="modal-title">แจ้งเตือน</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <p  style="font-family: Prompt; color: black;" >ทางโครงการฯ ได้มีการเปลี่ยนแปลง URL เพื่อความสะดวกของผู้ใช้บริการทุกท่าน สามารถเข้าใช้งานได้ที่
            <a href="https://tdv.onde.go.th">https://tdv.onde.go.th</a>
          </p>
        </div>
        <div class="modal-footer">
          <button (click)="gotoNewWebsite()" type="button" class="btn btn-primary">เข้าสู่เว็ปไซด์</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>

 <section class="download-area pt-4 pb-4" style="background-color: #ffbe00;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="download-content">
                    <div class="section-title"><span class="sub-title"
                            style="font-size: 20px; color: black;">อาสาสมัครดิจิทัล</span>
                        <h2>การพัฒนาอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน</h2>
                        <p style="font-size: 16px; color: black;">
                            ตรวจสอบรายชื่อและยืนยันสิทธิ์เพื่อเข้ารับอบรมหลักสูตร </p>
                        <p style="font-size: 16px; color: black;">
                            "การพัฒนาอาสาสมัครดิจิทัล (อสด.) ประจำหมู่บ้าน" ได้ที่นี้ </p>
                    </div>
                    <ul>
                        <li> <a style="color: black;"
                                routerLink="/checklist-training"><span>01</span>ตรวจสอบรายชื่อผู้มีสิทธิ์</a></li>
                        <!-- <li> <a style="color: black;" href="https://tdv.netpracharat.com/admin/confirm"
                                target="_blank"><span>02</span>ยืนยันสิทธิ์เข้ารับอบรม </a></li> -->
                        <li> <a style="color: black;"
                                href="https://drive.google.com/drive/folders/14pzKkKL99gsjhAkx74Z0W2pAEm2rc_sg?usp=sharing"
                                target="_blank"><span>02</span>ตารางการฝึกอบรม</a></li>
                        <!-- <a  routerLink="/checklist-training"><li><span>01.</span>ตรวจสอบรายชื่อผู้มีสิทธิ์</li></a> 
                        <a  href="https://tdv.netpracharat.com/admin/confirm" target="_blank"><li ><span>02.</span>ยืนยันสิทธิ์เข้ารับอบรม</li></a>
                        <a  href="https://mdes.e-office.cloud/d/e5a387a8" target="_blank"><li><span>03.</span>ตารางการฝึกอบรม</li></a> -->
                  </ul>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="download-img"><img [src]="'https://tdv.netpracharat.com:5000/uploads/subject/display.png'"
                        alt="Download"></div>
            </div>
        </div>
    </div>
</section>  

<section class="services-area pt-100">
    <div class="container">
        <div class="section-title">
            <h2>PARTNERS</h2>
            <!-- <p>หน่วยงานที่สนับสนุนและให้ความร่วมมือกับเราในการพัฒนาโครงการ "อาสาสมัครดิจิทัล"</p> -->
        </div>

        <div class="services-slider owl-theme owl-carousel">
            <div class="services-item">
                <a href="javascript:void(0)" (click)="openDE()">
                    <img src="assets/img/logo_DE.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</h3>
                    <p>Ministry of Digital Economy and Society.</p>
                </a>
            </div>
            <div class="services-item">
                <a href="javascript:void(0)" (click)="openTMD()">
                    <img src="assets/img/logo_MD.jpg" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>กรมอุตุนิยมวิทยา</h3>
                    <p>Meteorological Department.</p>
                </a>
            </div>

            <div class="services-item">
                <a href="javascript:void(0)" (click)="openNSO()">
                    <img src="assets/img/logo_NSO.jpeg" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>สำนักงานสถิติแห่งชาติ</h3>
                    <p>National Statistical Office.</p>
                </a>
            </div>

            <div class="services-item">
                <a href="javascript:void(0)" (click)="openONDE()">
                    <img src="assets/img/LOGO_สดช.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>สำนักงานคณะกรรมการดิจิทัลเพื่อเศรษฐกิจและสังคมแห่งชาติ</h3>
                    <p>Office of National Digital Economy and Society Commission.</p>
                </a>
            </div>


            <div class="services-item">
                <a href="javascript:void(0)" (click)="openTOT()">
                    <img src="assets/img/logo_nt.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>บริษัท โทรคมนาคมแห่งชาติ จำกัด (มหาชน)</h3>
                    <p>National Telecom Public Company Limited</p>
                </a>
            </div>
            <!-- <div class="services-item">
                <a href="javascript:void(0)" (click)="openCAT()">
                    <img src="assets/img/logo_CAT.jpg" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>บริษัท กสท โทรคมนาคม จำกัด</h3>
                    <p>CAT Telecom Public Company Limited.</p>
                </a>
            </div> -->
            <div class="services-item">
                <a href="javascript:void(0)" (click)="openthpost()">
                    <img src="assets/img/thpost_logo.jpg" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>บริษัท ไปรษณีย์ไทย จำกัด</h3>
                    <p>Thailand Post.</p>
                </a>
            </div>
            <div class="services-item">
                <a href="javascript:void(0)" (click)="openETDA()">
                    <img src="assets/img/logo_ETDA.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>สำนักงานพัฒนาธุรกรรมทางอิเล็กทรอนิกส์</h3>
                    <p>Electronic Transactions Development Agency.</p>
                </a>
            </div>

            <div class="services-item">
                <a href="javascript:void(0)" (click)="openDEPA()">
                    <img src="assets/img/Logo_DEPA.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>สำนักงานส่งเสริมเศรษฐกิจดิจิทัล</h3>
                    <p>Digital Economy Promotion Agency.</p>
                </a>
            </div>

            <div class="services-item">
                <a href="javascript:void(0)" (click)="openWeb('https://www.m-society.go.th/home.php')">
                    <img src="assets/img/home-one/Seal_of_the_Ministry.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</h3>
                    <p>Ministry of Social Development and Human Security.</p>
                </a>
            </div>

            <div class="services-item">
                <a href="javascript:void(0)" (click)="openWeb('http://www.correct.go.th')">
                    <img src="assets/img/home-one/Department_of_Corrections_Logo.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>กรมราชทัณฑ์</h3>
                    <p>Department of Corrections.</p>
                </a>
            </div>
  

            <div class="services-item">
                <a href="javascript:void(0)" (click)="openWeb('https://www.mdes.go.th/mission/82')">
                    <img src="assets/img/home-one/337263995_150679457920579_5681220062677715570_n.jpg" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>   สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล</h3>
                    <p>
                        The Office of the Personal Data Protection Committee.</p>
                </a>
            </div>
  
            
            <div class="services-item">
                <a href="javascript:void(0)" (click)="openWeb('https://www.ncsa.or.th')">
                    <img src="assets/img/home-one/โลโก้ของสกมช.png" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>สำนักงานคณะกรรมการการรักษาความมั่นคงปลอดภัยไซเบอร์แห่งชาติ</h3>
                    <p>National Cyber Security Agency.</p>
                </a>
            </div>
            
            <div class="services-item">
                <a href="javascript:void(0)" (click)="openWeb('https://www.dga.or.th/')">
                    <img src="assets/img/home-one/AW_DGA_logo-type-Ca.jpg" alt="services-image">
                    <img class="service-shape" src="assets/img/home-one/services-shape.png" alt="services-image">
                    <h3>สำนักงานพัฒนารัฐบาลดิจิทัล (องค์การมหาชน)</h3>
                    <p>Digital Government Development Agency (Public Organization)</p>
                </a>
            </div>


            
        </div>
    </div>
</section>

<div style="background-color: rgb(43, 17, 14)" class="join-area join-area-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-img">
                    <img src="assets/img/about/mascot-02new.png" alt="Join">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="join-content">
                    <div class="section-title">
                        <h2 style="color:#ffbe00">ร่วมเป็นอาสาสมัครดิจิทัล</h2>
                        <p style="font-size: large;">"คุณ" ช่วยได้!! มาร่วมกันแบ่งปันความรู้ด้านดิจิทัลที่ถูกต้อง
                            เพียงเข้าร่วมเป็น "เครือข่ายอาสาสมัครดิจิทัล"</p>
                    </div>
                    <a class="cmn-btn" href="https://tdv.onde.go.th/admin/registervolunteer"
                        target="_blank">ลงทะเบียน คลิก</a>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer-style-one></app-footer-style-one>