<app-navbar-style-one></app-navbar-style-one>
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">



<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2 style="color: black;">หลักสูตรการเรียนรู้</h2>

            <ul>
                <li><a style="color: black;" routerLink="/">หน้าหลัก</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li style="color: black;">หลักสูตรการเรียนรู้</li>
            </ul>
        </div>
    </div>
</div>
<section class="collection-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>หลักสูตรการเรียนรู้</h2>
            <p>หลักสูตรการเรียนรู้ อสด. ผู้สนใจเรียนจะต้องเรียนรู้รายวิชาทั้งหมด 7 วิชา (วิชาหลัก 5 วิชา, วิชาพัฒนาทักษะ
                2 วิชา) ผ่านระบบ ThaiMOOC ท่านสามารถเรียนรู้ได้ตามอัธยาศัย</p>
        </div>

        <div class="sorting-menu">
            <ul>
                <!-- <li class="filter active" data-filter="all">ทั้งหมด</li> -->
                <li class="filter" [ngClass]="{'active': loading1 === false}" (click)="getCourse(1)" data-filter=".web">
                    หมวดวิชาหลัก</li>
                <li class="filter" [ngClass]="{'active': loading2 === false}" (click)="getCourse(2)" data-filter=".ui">
                    หมวดวิชาพัฒนาทักษะ</li>
                <li class="filter" [ngClass]="{'active': loading3 === false}" (click)="getCourse(3)" data-filter=".ux">
                    หลักสูตรบทเรียนศูนย์ดิจิทัล</li>
                <li class="filter" [ngClass]="{'active': loading4 === false}" (click)="getCourse(4)"
                    data-filter=".branding">หลักสูตรของสถาบันคุณวุฒิวิชาชีพ</li>
            </ul>
        </div>

        <div *ngIf="!loading1">
            <div id="Container" class="row">
                <div *ngFor="let item of dataCourse" class="col-sm-6 col-lg-3  web">
                    <div class="collection-item">
                        <div class="collection-top">
                            <img style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter"
                                [src]="'https://tdv.netpracharat.com:5000/uploads/subject/'+ item.subjectimage"
                                alt="Collection">
                            <ul>
                                <li><a (click)="gotoDetailElearning(item.id)"
                                        style="font-size: 14px; color: black; cursor: pointer;">ดูรายละเอียด</a><i
                                        class='bx bxs-chevron-right checked'></i></li>
                            </ul>
                            <div class="add-cart">
                                <!-- <a style="cursor: pointer;" (click)="openManual_1(item.presentation)"><i
                                    class='bx bxs-book'></i> ไปที่หลักสูตร</a> -->
                                <a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter"><i
                                        class='bx bxs-book'></i> ไปที่หลักสูตร</a>
                            </div>
                        </div>

                        <div class="collection-bottom">
                            <h3 class="bar" style="font-size: 16px;">{{item.subjectname}}</h3>
                            <h3 class="foo" style="font-size: 12px;">{{item.subjentdetail}}</h3>

                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="font-family: Prompt;" class="modal-title" id="exampleModalLongTitle">
                                        {{item.subjectname}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{item.presentation == null ? "รอเปิดหลักสูตร": item.subjentdetail}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                                    <!-- <button type="button" class="btn btn-primary" (click)="openManual_1(item.presentation)">เข้าสู่ห้องเรียน</button> -->
                                    <button *ngIf="item.presentation != null" type="button" class="btn btn-primary"
                                        (click)="openManual_1(item.presentation)">เข้าสู่ห้องเรียน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!loading2">
            <div id="Container" class="row">
                <div *ngFor="let item2 of dataCourse_elective" class="col-sm-6 col-lg-3  ui">
                    <div class="collection-item">
                        <div class="collection-top">
                            <img style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter2"
                                [src]="'https://tdv.netpracharat.com:5000/uploads/subject/'+ item2.subjectimage"
                                alt="Collection">
                            <ul>
                                <li><a (click)="gotoDetailElearning(item2.id)"
                                        style="font-size: 14px; color: black; cursor: pointer;">ดูรายละเอียด</a><i
                                        class='bx bxs-chevron-right checked'></i></li>
                            </ul>
                            <div class="add-cart">
                                <a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter2"><i
                                        class='bx bxs-book'></i> ไปที่หลักสูตร</a>
                            </div>
                        </div>

                        <div class="collection-bottom">
                            <h3 class="bar" style="font-size: 16px;">{{item2.subjectname}}</h3>
                            <h3 class="foo" style="font-size: 12px;">{{item2.subjentdetail}}</h3>

                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="font-family: Prompt;" class="modal-title" id="exampleModalLongTitle">
                                        {{item2.subjectname}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{item2.presentation == null ? "รอเปิดหลักสูตร": item2.subjentdetail}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                                    <!-- <button type="button" class="btn btn-primary" (click)="openManual_1(item.presentation)">เข้าสู่ห้องเรียน</button> -->
                                    <button *ngIf="item2.presentation != null" type="button" class="btn btn-primary"
                                        (click)="openManual_2(item2.presentation)">เข้าสู่ห้องเรียน</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="!loading3">
            <div id="Container" class="row">
                <div *ngFor="let item3 of datagcc" class="col-sm-6 col-lg-3  ux">
                    <div class="collection-item">
                        <div class="collection-top">
                            <img style="cursor: pointer;" [src]="item3.cover_image_url" alt="Collection">
                            <ul>
                                <li><a [href]="item3.course_url" target="_blank"
                                        style="font-size: 14px; color: black; cursor: pointer;">ดูรายละเอียด</a><i
                                        class='bx bxs-chevron-right checked'></i></li>
                            </ul>
                            <div class="add-cart">
                                <a [href]="item3.course_url" target="_blank" style="cursor: pointer;"><i
                                        class='bx bxs-book'></i> ไปที่หลักสูตร</a>
                            </div>
                        </div>

                        <div class="collection-bottom">
                            <h3 class="bar" style="font-size: 16px;">{{item3.category_name_th}}</h3>
                            <h3 class="foo" style="font-size: 12px;">{{item3.course_name}}</h3>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div *ngIf="!loading4">
            <div id="Container" class="row">
                <div *ngFor="let item4 of datatpqi" class="col-sm-6 col-lg-3  branding">
                    <div class="collection-item">
                        <div class="collection-top">
                            <img style="cursor: pointer;" [src]="item4.thumbnail" alt="Collection">
                            <ul>
                                <li><a [href]="item4.url" target="_blank"
                                        style="font-size: 14px; color: black; cursor: pointer;">ดูรายละเอียด</a><i
                                        class='bx bxs-chevron-right checked'></i></li>
                            </ul>
                            <div class="add-cart">
                                <a [href]="item4.url" target="_blank" style="cursor: pointer;"><i
                                        class='bx bxs-book'></i>
                                    ไปที่หลักสูตร</a>
                            </div>
                        </div>

                        <div class="collection-bottom">
                            <h3 class="bar" style="font-size: 16px;">{{item4.title}}</h3>
                            <h3 class="foo" style="font-size: 12px;">{{item4.duration}}</h3>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>





</section>



<app-footer-style-one></app-footer-style-one>