$common-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$transition: .5s all ease;
$all-size: 15px;
$white-color: #ffffff;
$black-color: #0b0320;
$gray-color: #a5a4a9;
$yellow-color: #ffbe00;
// $yellow-color: #404040;

.page-title-img-one {
          background-image: url('../../../../assets/img/headerASD/header_news2.jpg');
          background-attachment: inherit;
      }
.blog-details-nav1 {
    ul {
        margin: 0;
        padding: 0;
    
        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 12px;
    
            a {
                display: block;
                font-weight: 500;
                font-size: $all-size;
                color: $black-color;
                border: 1px solid $black-color;
                padding: 9px 25px;
                border-radius: 50px;
    
                &:hover {
                    border: 1px solid $yellow-color;
                    background-color: $yellow-color;
                    color: $black-color;
                }
                }
            }
        }
    }
